# Wissensaggregator Mittelalter und frühe Neuzeit

## Daten für Bischöfe einlesen

Übertrage Daten aus Access. Die Daten werden aus Access via ODBC in eine Transfer-Datenbank geschrieben: `bischof.tbl_bischoefe_gatz` und `bischof.tbl_bischoefe_gatzaemter`  
Alternativ: Daten als CSV speichern

[Literatur](#Literatur)  
[Bischöfe](#Bischöfe)
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Referenzwerke eintragen](#Referenzwerke-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (name_lookup)](#Suchvarianten-eintragen-(name_lookup))

*2022-05-19* Quelle: C:\Users\georg\Documents\projekte-doc\WIAGweb\data\WIAG_Bischoefe.accdb  
*2022-07-25* Quelle:
    Y:\WIAG\WIAG Vokabulare\Bischöfe\Gatz Bischoefe\WIAG-Bischoefe.accdb  
    C:\Users\georg\Documents\projekte-doc\WIAGweb\data\WIAG-Bischoefe.accdb

Vorspann: Pakete laden; mit der Datenbank verbinden

In [1]:
wds_path="C:\\Users\\Georg\\Documents\\projekte\\WiagDataSetup.jl"

"C:\\Users\\Georg\\Documents\\projekte\\WiagDataSetup.jl"

In [2]:
cd(wds_path)

In [3]:
using Pkg

In [4]:
Pkg.activate(".")

  Activating project at `C:\Users\Georg\Documents\projekte\WiagDataSetup.jl`

In [6]:
using Revise

In [7]:
using WiagDataSetup

In [9]:
using MySQL, DataFrames

In [10]:
Wds = WiagDataSetup

WiagDataSetup

*2022-10-24* `wiag_in` für Test-Zwecke

In [11]:
Wds.setDBWIAG(user="georg", db="wiag_in")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag_in")

In [12]:
data_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\bischoefe-2022-10-19"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\bischoefe-2022-10-19"

In [13]:
item_type_id = 4

4

In [14]:
ENV["COLUMNS"] = 120

120

Tabellen löschen für ein Update

In [13]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name) WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property WHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [14]:
table_name = "person_role";
sql = "DELETE FROM $(table_name) WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role WHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 7320, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [15]:
table_name = "name_lookup";
sql = "DELETE FROM $(table_name) WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup WHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 7314, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [16]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name) WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant WHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 698, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [17]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name) WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant WHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 330, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [113]:
table_name = "person";
sql = "DELETE FROM $(table_name) WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person WHERE id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [19]:
table_name = "item_property";
sql = "DELETE FROM $(table_name) WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_property WHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [20]:
table_name = "id_external";
sql = "DELETE FROM $(table_name) WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 16066, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [21]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name) WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 5170, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [22]:
table_name = "reference_volume";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 4", 0, -1, 7, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Lösche Einträge in `item` erst, wenn keine Verweise mehr gebraucht werden.

In [87]:
item_type_id

4

In [88]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 4", 0, -1, 10342, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Literatur

In [23]:
using CSV, DataFrames

In [24]:
# Quelle CSV
filename = joinpath(data_path, "tbl_reference.csv");
df_ref_vol = CSV.read(filename, DataFrame);

In [25]:
names(df_ref_vol)

10-element Vector{String}:
 "ID_Ref"
 "full_citation"
 "author_editor"
 "OnlineRessource"
 "short_title"
 "ri_opac_id"
 "year of publication"
 "full_title"
 "ISBN"
 "gbv"

In [26]:
first(df_ref_vol, 5)

5×10 DataFrame
 Row │ ID_Ref  full_citation
     │ Int64   String
─────┼───────────────────────────────────────────────────────────────────
   1 │      1  Gatz, Erwin (Hg.)/Brodkorb, Clem…
   2 │      2  Gatz, Erwin (Hg.)/Brodkorb, Clem…
   3 │      3  Gatz, Erwin (Hg.)/Brodkorb, Clem…
   4 │      4  Gatz, Erwin (Hg.)/Janker, Stepha…
   5 │      5  Gatz, Erwin (Hg.), Die Bischöfe …
                                                        8 columns omitted

In [27]:
insertcols!(df_ref_vol,
    :item_type_id => item_type_id,
);

In [28]:
columns = [
    :item_type_id => :item_type_id,
    Symbol("ID_Ref") => :reference_id,
    Symbol("full_citation") => :full_citation,
    Symbol("author_editor") => :author_editor,
    Symbol("OnlineRessource") => :online_resource,
    Symbol("short_title") => :title_short,
    Symbol("ri_opac_id") => :ri_opac_id,
    Symbol("year of publication") => :year_publication,
    Symbol("ISBN") => :isbn,
];

In [33]:
table_name = "reference_volume";
Wds.filltable!(table_name, select(df_ref_vol, columns))

LoadError: UndefVarError: df_ref_vol not defined

## Bischöfe

In [30]:
using CSV, DataFrames

In [93]:
# Quelle CSV
filename = joinpath(data_path, "tbl_bischoefe_gatz.csv");
df_episc = CSV.read(filename, DataFrame);

In [32]:
# Quelle Datenbank
df_episc = DBInterface.execute(Wds.dbwiag, "SELECT * FROM bischof.tbl_bischoefe_gatz") |> DataFrame;

Leerzeichen bereinigen

In [94]:
Wds.clean_up!(df_episc)

In [95]:
df_episc[101:105, [:ID_Bischof, :Vorname, :Praefix, :Familienname, :Geburtsdatum, :fertig]]

5×6 DataFrame
 Row │ ID_Bischof  Vorname     Praefix  Familienname  Geburtsdatum  fertig
     │ Int64       String      String?  String?       String?       Int64
─────┼─────────────────────────────────────────────────────────────────────
   1 │      21068  Gregorio    di       Lorenzo       missing            1
   2 │      21069  Franziskus  missing  missing       missing            1
   3 │      21070  Jacobus     von      Höwen         missing            1
   4 │      21071  Johannes    missing  missing       missing            1
   5 │      21072  Konrad      missing  Eisenhut      missing            1

In [66]:
names(df_episc)[1:15]

15-element Vector{String}:
 "ID_Bischof"
 "Eintrag RI OPAC"
 "Autoren Gatz"
 "Seite Gatz"
 "Praefix"
 "Vorname"
 "Familienname"
 "Sterbedatum"
 "Geburtsdatum"
 "Orden"
 "URL_Wikipedia"
 "Weitere Angaben"
 "fertig"
 "Bemerkung_Red"
 "Familienname_Variante"

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Bischof' in `item_type`: 4

In [43]:
columns = [
    :ID_Bischof => :id_in_source, 
    :fertig => :fertig, 
    Symbol("Eintrag RI OPAC") => :item_in_source,    
]

3-element Vector{Pair{Symbol, Symbol}}:
               :ID_Bischof => :id_in_source
                   :fertig => :fertig
 Symbol("Eintrag RI OPAC") => :item_in_source

In [44]:
df_item = select(df_episc, columns);

In [45]:
df_item[!, :item_type_id] .= 4;

Quelle Datenbank

In [50]:
map_status(x) = getproperty(x, :bits) > 0 ? "fertig" : missing

map_status (generic function with 1 method)

In [ ]:
df_item[!, :edit_status] .= map_status.(df_item[!, :fertig]);

In [69]:
map_online(x) = getproperty(x, :bits) > 0 ? 1 : 0

map_online (generic function with 1 method)

In [70]:
df_item[!, :is_online] .= map_online.(df_item[!, :fertig]);

Quelle CSV-Datei

In [46]:
map_status(x) = x > 0 ? "fertig" : missing

map_status (generic function with 1 method)

In [47]:
transform!(df_item, :fertig => ByRow(map_status) => :edit_status);

ID erzeugen

In [48]:
function make_id_public(id::Real, num_id_length::Int, id_public_key::AbstractString)
    return "WIAG-" * id_public_key * "-" * lpad(id, num_id_length, '0') * "-001"
end

make_id_public (generic function with 1 method)

In [49]:
make_id_public(3650, 5, "Pers-EPISCGatz")

"WIAG-Pers-EPISCGatz-03650-001"

Normdatum/öffentliche ID erzeugen

Verwende die ursprüngliche ID. Damit entspricht die ID der bisher veröffentlichten ID (2021-10-13)

In [50]:
make_id_episc(x) = make_id_public(x, 5, "Pers-EPISCGatz")

make_id_episc (generic function with 1 method)

In [51]:
transform!(df_item, :id_in_source => ByRow(make_id_episc) => :id_public);

In [53]:
first(df_item, 7)

7×6 DataFrame
 Row │ id_in_source  fertig  item_in_source                     item_type_id  edit_status  id_public                   ⋯
     │ Int64         Int64   String                             Int64         String?      String                      ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │        21086       1  um 1372, Johannes                             4  fertig       WIAG-Pers-EPISCGatz-21086-0 ⋯
   2 │        21087       1  um 1378, Michael, Ep. Sythiensis              4  fertig       WIAG-Pers-EPISCGatz-21087-0
   3 │        21088       1  1392-1398, Fr. Dietricus, OFM, E…             4  fertig       WIAG-Pers-EPISCGatz-21088-0
   4 │        21089       1  1406-1408, Bertholdus, OP, Ep. S…             4  fertig       WIAG-Pers-EPISCGatz-21089-0
   5 │        21090       1  1411-1418, Conradus Simplicy, OF…             4  fertig       WIAG-Pers-EPISCGatz-21090-0 ⋯
   6 │        21091       1  1420-1433, Fr. Panthaleon de Zin…             4  fertig       WIAG-Pers-EPISCGatz-21091-0
   7 │        21092       1  um 1440, Johannes, Archiep. Caes…             4  fertig       WIAG-Pers-EPISCGatz-21092-0
                                                                                                        1 column omitted

Ergänze Spalten

In [54]:
using Dates

In [55]:
date_time_now = Dates.format(now(), Dates.dateformat"yyyy-mm-dd HH:MM")

"2022-10-19 14:43"

In [56]:
insertcols!(
    df_item,
    :created_by => 1,
    :date_created => date_time_now,
    :changed_by => 1,
    :date_changed => date_time_now,
    :is_online => df_item.fertig,
);

`item.is_deleted` ist vorbelegt mit `false`

`item.lang` ist vorbelegt mit "de"

In [57]:
names(df_item)

11-element Vector{String}:
 "id_in_source"
 "fertig"
 "item_in_source"
 "item_type_id"
 "edit_status"
 "id_public"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "is_online"

In [58]:
df_item[5101:5105, [:id_in_source, :item_type_id, :id_public, :edit_status, :is_online, :date_changed, :changed_by]]

5×7 DataFrame
 Row │ id_in_source  item_type_id  id_public                      edit_status  is_online  date_changed      changed_by ⋯
     │ Int64         Int64         String                         String?      Int64      String            Int64      ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │        21702             4  WIAG-Pers-EPISCGatz-21702-001  fertig               1  2022-10-19 14:43           1 ⋯
   2 │        21703             4  WIAG-Pers-EPISCGatz-21703-001  fertig               1  2022-10-19 14:43           1
   3 │        21704             4  WIAG-Pers-EPISCGatz-21704-001  fertig               1  2022-10-19 14:43           1
   4 │        21705             4  WIAG-Pers-EPISCGatz-21705-001  missing              0  2022-10-19 14:43           1
   5 │        21706             4  WIAG-Pers-EPISCGatz-21706-001  fertig               1  2022-10-19 14:43           1 ⋯

In [89]:
Wds.filltable!("item", select(df_item, Not(:fertig)))

┌ Info: Rows inserted: 5171
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

5171

### Orden eintragen
Die Ordenstabelle ist vorläufig 2021-10-14

In [189]:
db_exec(sql) = DBInterface.execute(Wds.dbwiag, sql) > DataFrame

db_exec (generic function with 1 method)

In [145]:
sql="SELECT DISTINCT Orden as abbreviation FROM bischof.tbl_bischoefe_gatz " *
"WHERE Orden IS NOT NULL AND ORDEN NOT LIKE '1%'"
df_order_col = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

In [225]:
df_order = DataFrame(abbreviation = [
    "OP",
    "OFM",
    "OPraem",
    "OT",
    "OSB",
    "OCist",
    "OESA",
    "OCarm",
    "CanA",
    "SJ",
    "OMel",
    "OSA",
    "OSM",
    "OFMObs",
    "OFMCap",
    "OFMConv",
    "OFMRec",
    "OCart",
    "OSH",
    "ORC",
    "Otheat",
]);

In [244]:
df_order[!, :id_in_source] .= string.(1:size(df_order, 1));

Einträge in `item`

In [245]:
df_item = select(df_order, :id_in_source);

In [246]:
df_item[!, :item_type_id] .= 7;

In [247]:
df_item[!, :is_online] .= 0;

In [248]:
df_item[!, :created_by] .= 7;

In [249]:
df_item[!, :date_created] .= "2021-10-14 13:30";

In [250]:
df_item[!, :changed_by] .= 7;

In [251]:
df_item[!, :date_changed] .= "2021-10-14 13:30";

In [52]:
item_type_id_order = 7

7

In [253]:
sql = "DELETE FROM item WHERE item_type_id = $(item_type_id_order)";
db_exec(sql);

In [254]:
Wds.filltable!("item", df_item)

┌ Info: Rows inserted: 21
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1171

21

Daten eintragen in `religious_order_id`

Index-Werte lesen

In [60]:
item_type_id = 6
sql = "SELECT id, id_in_source FROM ITEM where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

In [61]:
df_order_db = innerjoin(df_idx, df_order, on = :id_in_source);

LoadError: UndefVarError: df_order not defined

In [257]:
Wds.clean_up!(df_order_db)

In [242]:
names(df_order_db)

3-element Vector{String}:
 "id"
 "id_in_source"
 "abbreviation"

In [258]:
Wds.filltable!("religious_order", select(df_order_db, Not(:id_in_source)); clear_table=true)

┌ Info: Rows inserted: 21
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1171

21

### Daten eintragen

IDs auslesen

In [90]:
item_type_id = 4
sql = "SELECT id, id_in_source FROM ITEM where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

Spalte für die Zusammenführung befüllen (Typ: String!)

In [96]:
transform!(df_episc, :ID_Bischof => ByRow(string) => :id_in_source);

In [97]:
df_episc = innerjoin(df_idx, df_episc, on = :id_in_source);

Ordens-ID auslesen und zuordnen

In [98]:
sql = "SELECT id as religious_order_id, abbreviation FROM religious_order";
df_rel_order = Wds.sql_df(sql);

In [99]:
df_episc = leftjoin(df_episc, df_rel_order, on = :Orden => :abbreviation, matchmissing = :notequal);

In [100]:
a_not_b(a, b) = !ismissing(a) && ismissing(b)

a_not_b (generic function with 1 method)

In [101]:
df_episc_no_match = subset(df_episc, [:Orden, :religious_order_id] => ByRow(a_not_b));

In [102]:
size(df_episc_no_match)

(25, 33)

In [103]:
df_episc_no_match[11:15, [:id, :ID_Bischof, :Vorname, :Familienname, :Orden, :religious_order_id]]

5×6 DataFrame
 Row │ id      ID_Bischof  Vorname   Familienname  Orden    religious_order_id
     │ Int32   Int64       String    String?       String?  Int32?
─────┼─────────────────────────────────────────────────────────────────────────
   1 │ 476418        2985  Herbord   missing       OFM?                missing
   2 │ 476807        3248  Adolf     Tecklenburg   OCist?              missing
   3 │ 476935        3391  Wesselin  missing       OCist?              missing
   4 │ 476960        3428  Rudolf    Hoheneck      OSB?                missing
   5 │ 476991        3459  Eskill    missing       OP?                 missing

In [104]:
columns = [
    :id,
    :Praefix => :prefixname,
    :Vorname => :givenname,
    :Familienname => :familyname,
    :Sterbedatum => :date_death,
    :Geburtsdatum => :date_birth,
    :Bemerkung_Red => :comment,
    :Kommentar_Name => :note_name,
    :Kommentar_Person => :note_person,
    :religious_order_id => :religious_order_id,
]

10-element Vector{Any}:
                      :id
            :Praefix => :prefixname
            :Vorname => :givenname
       :Familienname => :familyname
        :Sterbedatum => :date_death
       :Geburtsdatum => :date_birth
      :Bemerkung_Red => :comment
     :Kommentar_Name => :note_name
   :Kommentar_Person => :note_person
 :religious_order_id => :religious_order_id

### numerische Daten eintragen

In [105]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [106]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [107]:
transform!(df_episc, :Geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

In [108]:
transform!(df_episc, :Sterbedatum => ByRow(parse_date_death) => :num_date_death);

In [109]:
df_episc[531:535, [:id, :id_in_source, :ID_Bischof, :Vorname, :Praefix, :Familienname, :num_date_birth, :num_date_death]]

5×8 DataFrame
 Row │ id      id_in_source  ID_Bischof  Vorname              Praefix  Familienname  num_date_birth  num_date_death
     │ Int32   String?       Int64       String               String?  String?       Int64?          Int64?
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 479606  20546              20546  Martin               missing  Meurisse                1584            1644
   2 │ 479605  20548              20548  Johannes             missing  Meyer                missing            1522
   3 │ 479602  20552              20552  Godfried             van      Mierlo                  1518            1587
   4 │ 479599  20559              20559  Valentin             missing  Mohr                    1560            1608
   5 │ 479598  20561              20561  Laurentius Galatino  missing  Mongiojo             missing            1618

In [110]:
names(df_episc)[1:20]

20-element Vector{String}:
 "id"
 "id_in_source"
 "ID_Bischof"
 "Eintrag RI OPAC"
 "Autoren Gatz"
 "Seite Gatz"
 "Praefix"
 "Vorname"
 "Familienname"
 "Sterbedatum"
 "Geburtsdatum"
 "Orden"
 "URL_Wikipedia"
 "Weitere Angaben"
 "fertig"
 "Bemerkung_Red"
 "Familienname_Variante"
 "Vorname_Varianten"
 "VIAF_ID"
 "GND_ID"

In [111]:
insertcols!(df_episc, :item_type_id => item_type_id);

In [112]:
columns = [
    :id => :id,
    :item_type_id => :item_type_id,
    :Praefix => :prefixname,
    :Vorname => :givenname,
    :Familienname => :familyname,
    :Sterbedatum => :date_death,
    :Geburtsdatum => :date_birth,
    :Bemerkung_Red => :comment,
    :Kommentar_Name => :note_name,
    :Kommentar_Person => :note_person,
    :religious_order_id => :religious_order_id,
]

11-element Vector{Pair{Symbol, Symbol}}:
                 :id => :id
       :item_type_id => :item_type_id
            :Praefix => :prefixname
            :Vorname => :givenname
       :Familienname => :familyname
        :Sterbedatum => :date_death
       :Geburtsdatum => :date_birth
      :Bemerkung_Red => :comment
     :Kommentar_Name => :note_name
   :Kommentar_Person => :note_person
 :religious_order_id => :religious_order_id

In [114]:
table_name = "person";
Wds.filltable!(table_name, select(df_episc, columns))

┌ Info: Rows inserted: 5171
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

5171

### Verweise für die einzelnen Bischöfe

In [115]:
columns = [
    :id => :item_id,
    :item_type_id => :item_type_id,
    Symbol("Seite Gatz") => :page,
    :Quelle => :reference_id
]

4-element Vector{Pair{Symbol, Symbol}}:
                  :id => :item_id
        :item_type_id => :item_type_id
 Symbol("Seite Gatz") => :page
              :Quelle => :reference_id

In [116]:
df_episc_ref = select(df_episc, columns);

In [117]:
size(df_episc_ref)

(5171, 4)

`21576 Ludovico Trevisan` hat keinen Verweis auf eine Quelle

In [118]:
dropmissing!(df_episc_ref, :reference_id);

In [119]:
size(df_episc_ref)

(5170, 4)

Einträge löschen im Fall von Korrekturen

Einträge löschen für einen vollständigen neuen Satz

In [120]:
sql = "DELETE FROM item_reference WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 4", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [121]:
Wds.filltable!("item_reference", df_episc_ref, clear_table = false)

┌ Info: Rows inserted: 5170
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

5170

### Externe URLs eintragen

In [14]:
using MySQL, DataFrames

In [80]:
Wds.setDBWIAG(user = "georg", db = "wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

In [81]:
item_type_id = 4

4

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [122]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 4)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [123]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)"
df_auth = Wds.sql_df(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

Index aus `item` lesen

In [124]:
sql = "SELECT id, id_in_source, is_online FROM item WHERE item_type_id = $(item_type_id)"
df_idx = Wds.sql_df(sql);

In [125]:
size(df_idx)

(5171, 3)

Externe Ids aus den Quelldaten lesen

In [19]:
using CSV, DataFrames

In [126]:
# Quelle CSV
filename = joinpath(data_path, "tbl_bischoefe_gatz.csv");
df_episc = CSV.read(filename, DataFrame);

Spalte für die Zusammenführung befüllen (Typ: String!)

In [127]:
transform!(df_episc, :ID_Bischof => ByRow(string) => :id_in_source);

In [128]:
df_episc = innerjoin(df_idx, df_episc, on = :id_in_source);

In [129]:
df_src = df_episc;

In [130]:
Wds.clean_up!(df_src)

**VIAF**, dann GND, Wikidata, GSN, Wikipedia

In [131]:
authority_id_viaf = 4 # siehe oben

4

In [132]:
df_src_viaf = dropmissing(df_src, :VIAF_ID)
df_src_viaf[!, :authority_id] .= authority_id_viaf;

In [133]:
transform!(df_src_viaf, :VIAF_ID => ByRow(string) => :value);

In [134]:
df_ins = select(df_src_viaf, :id => :item_id, :authority_id, :value);

In [135]:
size(df_ins)

(2972, 3)

In [136]:
df_ins[301:305, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼─────────────────────────────────
   1 │  475791             4  80662679
   2 │  475790             4  88289890
   3 │  475788             4  80381290
   4 │  475787             4  80644207
   5 │  475786             4  86115392

In [137]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 2972
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2972

**GND**

In [138]:
authority_id_gnd = 1 # siehe oben

1

In [139]:
df_src_gnd = dropmissing(df_src, :GND_ID)
df_src_gnd[!, :authority_id] .= authority_id_gnd;

In [140]:
df_ins = select(df_src_gnd, :id => :item_id, :authority_id, :GND_ID => :value);

In [141]:
size(df_ins)

(2866, 3)

In [142]:
df_ins[301:305, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼───────────────────────────────────
   1 │  475788             1  135952913
   2 │  475787             1  136270425
   3 │  475786             1  137954247
   4 │  475785             1  106337751X
   5 │  475784             1  138621497

In [143]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 2866
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2866

**Wikidata**

In [144]:
authority_id_wd = 2 # siehe oben

2

In [145]:
df_src_wd = dropmissing(df_src, :Wikidata_ID)
df_src_wd[!, :authority_id] .= authority_id_wd;

In [146]:
df_ins = select(df_src_wd, :id => :item_id, :authority_id, :Wikidata_ID => :value);

In [147]:
size(df_ins)

(5171, 3)

In [148]:
df_ins[301:305, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────
   1 │  475418             2  Q55786070
   2 │  475417             2  Q55803565
   3 │  475416             2  Q1696813
   4 │  475415             2  Q1696339
   5 │  475414             2  Q97699216

In [149]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 5171
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

5171

**GSN**

In [150]:
authority_id_gsn = 200 # siehe oben

200

In [151]:
df_src_gsn = dropmissing(df_src, :GSN_ID)
df_src_gsn[!, :authority_id] .= authority_id_gsn;

In [152]:
names(df_src_gsn)

34-element Vector{String}:
 "id"
 "id_in_source"
 "is_online"
 "ID_Bischof"
 "Eintrag RI OPAC"
 "Autoren Gatz"
 "Seite Gatz"
 "Praefix"
 "Vorname"
 "Familienname"
 "Sterbedatum"
 "Geburtsdatum"
 "Orden"
 ⋮
 "GSN_ID"
 "Kommentar_Name"
 "AkademischerTitel"
 "Kommentar_Person"
 "Quelle"
 "QRang_GND"
 "Qualitaet_GND"
 "QRang_GS"
 "Qualitaet_GS"
 "id_bischof_5"
 "WIAG_ID"
 "authority_id"

In [153]:
df_ins = select(df_src_gsn, :id => :item_id, :is_online, :id_in_source, :ID_Bischof, :Vorname, :Familienname, :authority_id, :GSN_ID => :GSN_ID);

In [49]:
df_ins[301:305, :]

5×8 DataFrame
 Row │ item_id  is_online  id_in_source  ID_Bischof  Vorname    Familienname  authority_id  GSN_ID
     │ Int32    Int8       String        Int64       String     String?       Int64         String
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  319010          1  2682                2682  Eckart     Pernegg                200  073-00230-001
   2 │  319009          1  2683                2683  Friedrich  missing                200  073-00334-001
   3 │  319007          1  2685                2685  Engelmar   Chrel                  200  073-00259-001
   4 │  319006          1  2686                2686  Johann     Ebser                  200  073-00638-001
   5 │  319003          1  2690                2690  Rudolf     Güttingen              200  023-02585-001

In [154]:
size(df_ins)

(2143, 8)

Finde die jeweils gültige GSN.

In [155]:
gso_db = "gso_in_202210"

"gso_in_202210"

In [156]:
# gsn_gsn wird erzeugt aus gsn, siehe notebook Domherr-GS
sql = "SELECT id_new AS gs_gsn_id, nummer, nummer_neu
FROM $(gso_db).gsn_gsn";
df_gsn_gsn = Wds.sql_df(sql);

In [157]:
names(df_ins)

8-element Vector{String}:
 "item_id"
 "is_online"
 "id_in_source"
 "ID_Bischof"
 "Vorname"
 "Familienname"
 "authority_id"
 "GSN_ID"

In [158]:
df_ins_gsn = innerjoin(df_ins, df_gsn_gsn, on = :GSN_ID => :nummer);

In [159]:
df_new_gsn = subset(df_ins_gsn, [:nummer_new, :GSN_ID] => ByRow(!isequal));

In [160]:
df_new_gsn

1×10 DataFrame
 Row │ item_id  is_online  id_in_source  ID_Bischof  Vorname   Familienname  authority_id  GSN_ID         gs_gsn_id  n ⋯
     │ Int32    Int8       String        Int64       String    String?       Int64         String         Int32      S ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  479689          1  20711              20711  Johannes  Schneider              200  026-04306-001     384710  0 ⋯
                                                                                                        1 column omitted

Ausgabe für die Redaktion

In [161]:
df_gsn_new_gsn = subset(df_gsn_gsn, [:nummer, :nummer_new] => ByRow(!isequal));

In [60]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data";
filename = joinpath(out_path, "gso_gsn_neu_2022-07-26.csv");
CSV.write(filename, df_gsn_new_gsn, delim = ";")

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\gso_gsn_neu_2022-07-26.csv"

In [162]:
names(df_new_gsn)

10-element Vector{String}:
 "item_id"
 "is_online"
 "id_in_source"
 "ID_Bischof"
 "Vorname"
 "Familienname"
 "authority_id"
 "GSN_ID"
 "gs_gsn_id"
 "nummer_new"

In [163]:
columns = [
    :item_id => :id,
    :is_online => :is_online,
    :ID_Bischof => :ID_Bischof,
    :Vorname => :Vorname,
    :Familienname => :Familienname,
    :GSN_ID => :GSN_ID,
    :nummer_new => :GSN_ID_neu,
]

7-element Vector{Pair{Symbol, Symbol}}:
      :item_id => :id
    :is_online => :is_online
   :ID_Bischof => :ID_Bischof
      :Vorname => :Vorname
 :Familienname => :Familienname
       :GSN_ID => :GSN_ID
   :nummer_new => :GSN_ID_neu

In [63]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data";
filename = joinpath(out_path, "bischoefe_gsn_neu_2022-07-26.csv");
CSV.write(filename, select(df_new_gsn, columns), delim = ";")

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\bischoefe_gsn_neu_2022-07-26.csv"

begin Version ohne `gsn_gsn`

In [107]:
sql = "SELECT id AS gs_gsn_id, item_id AS gs_item_id, nummer
FROM $(gso_db).gsn WHERE NOT deleted";
df_gsn = Wds.sql_df(sql);

In [108]:
df_ins = innerjoin(df_ins, df_gsn, on = :GSN_ID => :nummer);

In [109]:
size(df_ins)

(2116, 5)

In [110]:
names(df_ins)

5-element Vector{String}:
 "item_id"
 "authority_id"
 "GSN_ID"
 "gs_gsn_id"
 "gs_item_id"

In [111]:
sql = "SELECT id AS gs_gsn_min_id, item_id AS gs_item_id, nummer as nummer_new
FROM $(gso_db).gsn WHERE id IN
(SELECT min(id) AS id FROM $(gso_db).gsn WHERE NOT deleted GROUP BY item_id)";
df_gsn_min_id = Wds.sql_df(sql);

In [112]:
df_ins_gsn = innerjoin(df_ins, df_gsn_min_id, on = :gs_item_id);

In [113]:
size(df_ins_gsn);

In [114]:
df_new_gsn = subset(df_ins_gsn, [:GSN_ID, :nummer_new] => ByRow(!isequal))

20×7 DataFrame
 Row │ item_id  authority_id  GSN_ID         gs_gsn_id  gs_item_id  gs_gsn_min_id  nummer
     │ Int32    Int64         String         Int32      Int32       Int32          String
─────┼───────────────────────────────────────────────────────────────────────────────────────────
   1 │  269083           200  054-01029-001     381707      337203         381706  082-01201-001
   2 │  266792           200  014-00019-001     374583      332349         374582  074-00028-001
   3 │  268543           200  054-00081-001     371253      331313         371252  082-01197-001
   4 │  268531           200  054-00426-001     371258      331314         371257  082-01198-001
   5 │  268865           200  054-00011-001     371264      331315         371263  082-01199-001
   6 │  268464           200  054-00903-001     371271      331316         371270  082-01200-001
   7 │  268455           200  054-00838-001     372266      331444         372265  082-00257-001
   8 │  269271           200  052-01174-001     372320      331454         372319  082-00567-001
   9 │  268607           200  072-01045-001     372339      331460         372338  082-00613-001
  10 │  268639           200  076-00822-001     372360      331467         372359  082-00670-001
  11 │  267849           200  076-00344-001     372374      331471         372373  082-00713-001
  12 │  268671           200  054-01558-001     372400      331479         372399  082-00762-001
  13 │  268490           200  062-00327-001     372412      331482         372411  082-00777-001
  14 │  267744           200  064-01576-001     372522      331495         372521  082-00921-001
  15 │  269085           200  062-00689-001     372587      331505         372586  082-00872-001
  16 │  269434           200  068-01710-001     372610      331507         372609  082-00893-001
  17 │  268833           200  052-01500-001     372624      331510         372623  082-00902-001
  18 │  268816           200  072-00980-001     372638      331515         372637  082-00915-001
  19 │  267748           200  062-00326-001     372646      331517         372645  082-00917-001
  20 │  269077           200  052-02727-001     372689      331525         372688  054-03037-001

end Version ohne `gsn_gsn`

In [164]:
columns = [
    :item_id => :item_id,
    :authority_id => :authority_id,
    :nummer_new => :value
]

3-element Vector{Pair{Symbol, Symbol}}:
      :item_id => :item_id
 :authority_id => :authority_id
   :nummer_new => :value

In [165]:
Wds.filltable!("id_external", select(df_ins_gsn, columns))

┌ Info: Rows inserted: 2143
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2143

**Wikipedia**

In [166]:
authority_id_wp = 3 # siehe oben

3

In [167]:
df_src_wp = dropmissing(df_src, :URL_Wikipedia)
df_src_wp[!, :authority_id] .= authority_id_wp;

In [168]:
df_ins = select(df_src_wp, :id => :item_id, :authority_id, :URL_Wikipedia => :value);

Die Wikipedia-URLs sind teilweise mit '#' versehen und doppelt  
#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#

In [169]:
url_m = "#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#"
Wds.fix_Wikipedia_URL(url_m)

"Ruprecht_von_der_Pfalz_%28Freising%29"

In [170]:
df_ins[!, :value] .= Wds.fix_Wikipedia_URL.(df_ins[!, :value]);

In [171]:
df_ins[301:305, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         SubStrin…
─────┼──────────────────────────────────────────────────────────
   1 │  475742             3  Lamprecht_von_Brunn
   2 │  475741             3  Albrecht_von_Wertheim
   3 │  475740             3  Friedrich_III._von_Aufse%C3%9F
   4 │  475739             3  L%C3%BCthold_II._von_R%C3%B6ttel…
   5 │  475738             3  L%C3%BCthold_von_Aarburg

debug begin

In [57]:
using CSV

In [58]:
file_wp = "C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

In [59]:
CSV.write(file_wp, df_ins)

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

debug end

In [172]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 2940
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2940

### Namensvarianten eintragen

In [7]:
using MySQL, DataFrames

In [173]:
df_src = df_episc; # 2022-05-19

In [174]:
Wds.clean_up!(df_src)

In [175]:
df_fnv = dropmissing(df_src, :Familienname_Variante);

In [176]:
size(df_fnv)

(535, 33)

In [177]:
df_fnv[201:205, :]

5×33 DataFrame
 Row │ id      id_in_source  is_online  ID_Bischof  Eintrag RI OPAC
     │ Int32   String        Int8       Int64       String
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 478290  5347                  1        5347  Dale (de Valle), Judocus van (OP…
   2 │ 478286  5352                  1        5352  Dieburger (Dieperger), Johannes …
   3 │ 478281  5357                  1        5357  Dobeneck, Hiob (Job) von (OT) (u…
   4 │ 478274  5364                  1        5364  Enckenvoirt (Enckevort), Wilhelm…
   5 │ 478271  5367                  1        5367  Engel (Enghel, Engelen), Albert …
                                                                                                      28 columns omitted

In [178]:
df_exp = Wds.expand_column(df_fnv, :Familienname_Variante, delim = ",");

In [179]:
size(df_exp)

(698, 33)

Spalte `lang` hat den Default-Wert 'de'.

In [180]:
table_dst = "familyname_variant"
Wds.filltable!(table_dst, select(df_exp, :id => :person_id, :Familienname_Variante => :name))

┌ Info: Rows inserted: 698
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

698

In [181]:
df_gnv = dropmissing(df_src, :Vorname_Varianten);

In [182]:
size(df_gnv)

(303, 33)

In [183]:
df_exp = Wds.expand_column(df_gnv, :Vorname_Varianten, delim = r", *");

In [184]:
size(df_exp)

(330, 33)

Manche Namenseinträge enthalten Fragezeichen. Diese bleiben hier erhalten, werden aber für die Tabelle `name_lookup` entfernt.

Spalte `lang` hat den Default-Wert 'de'.

In [185]:
table_dst = "givenname_variant"
Wds.filltable!(table_dst, select(df_exp, :id => :person_id, :Vorname_Varianten => :name))

┌ Info: Rows inserted: 330
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

330

### Suchvarianten eintragen (name_lookup)

begin test

In [88]:
Wds.makevariantsgn("Klaus Walter", "von der", "Vogelweide", "Vollmer, Liber")

6-element Vector{Vector{Union{Missing, String}}}:
 ["Klaus Walter", "von der", "Vogelweide", "Klaus Walter Vogelweide", "Klaus Walter von der Vogelweide"]
 ["Klaus", "von der", "Vogelweide", "Klaus Vogelweide", "Klaus von der Vogelweide"]
 ["Klaus Walter", "von der", "Vollmer", "Klaus Walter Vollmer", "Klaus Walter von der Vollmer"]
 ["Klaus", "von der", "Vollmer", "Klaus Vollmer", "Klaus von der Vollmer"]
 ["Klaus Walter", "von der", "Liber", "Klaus Walter Liber", "Klaus Walter von der Liber"]
 ["Klaus", "von der", "Liber", "Klaus Liber", "Klaus von der Liber"]

end test

In [186]:
df_src = DataFrame(
    id = [1077, 31, 32, 33, 34, 35, 36],
    givenname = ["Dietricus", "Albert", "Hans Otto", "Wilhelm", "Kurt Georg", "Otto", "Otto"],
    prefix_name = [missing, "von", "zu", "von", missing, "auf der", missing],
    familyname = [missing, "Häusler", "Oberhof", "Berg", missing, "Scholle", "Weiß"],
    givenname_variant = [missing, missing, "Johann Otto", "Guido, Guillaume", "Konrad", missing, "Odilon"],
    familyname_variant = [missing, "Hauser, Schad", missing, "Berge", missing, missing, "Blanc"]
    )

7×6 DataFrame
 Row │ id     givenname   prefix_name  familyname  givenname_variant  familyname_variant
     │ Int64  String      String?      String?     String?            String?
─────┼───────────────────────────────────────────────────────────────────────────────────
   1 │  1077  Dietricus   missing      missing     missing            missing
   2 │    31  Albert      von          Häusler     missing            Hauser, Schad
   3 │    32  Hans Otto   zu           Oberhof     Johann Otto        missing
   4 │    33  Wilhelm     von          Berg        Guido, Guillaume   Berge
   5 │    34  Kurt Georg  missing      missing     Konrad             missing
   6 │    35  Otto        auf der      Scholle     missing            missing
   7 │    36  Otto        missing      Weiß        Odilon             Blanc

In [187]:
df_nl = Wds.create_name_lookup(df_src) # schaut gut aus

22×3 DataFrame
 Row │ person_id  gn_fn                gn_prefix_fn
     │ Int64      String?              String?
─────┼────────────────────────────────────────────────────────
   1 │      1077  Dietricus            missing
   2 │        31  Albert Häusler       Albert von Häusler
   3 │        31  Albert Hauser        Albert von Hauser
   4 │        31  Albert Schad         Albert von Schad
   5 │        32  Hans Otto Oberhof    Hans Otto zu Oberhof
   6 │        32  Hans Oberhof         Hans zu Oberhof
   7 │        32  Johann Otto Oberhof  Johann Otto zu Oberhof
   8 │        32  Johann Oberhof       Johann zu Oberhof
   9 │        33  Wilhelm Berg         Wilhelm von Berg
  10 │        33  Wilhelm Berge        Wilhelm von Berge
  11 │        33  Guido Berg           Guido von Berg
  12 │        33  Guido Berge          Guido von Berge
  13 │        33  Guillaume Berg       Guillaume von Berg
  14 │        33  Guillaume Berge      Guillaume von Berge
  15 │        34  Kurt Georg           missing
  16 │        34  Kurt                 missing
  17 │        34  Konrad               missing
  18 │        35  Otto Scholle         Otto auf der Scholle
  19 │        36  Otto Weiß            missing
  20 │        36  Otto Blanc           missing
  21 │        36  Odilon Weiß          missing
  22 │        36  Odilon Blanc         missing

In [188]:
columns = [
    :id => :id,
    :Vorname => :givenname,
    :Praefix => :prefix_name,
    :Familienname => :familyname,
    :Vorname_Varianten => :givenname_variant,
    :Familienname_Variante => :familyname_variant,
]

6-element Vector{Pair{Symbol, Symbol}}:
                    :id => :id
               :Vorname => :givenname
               :Praefix => :prefix_name
          :Familienname => :familyname
     :Vorname_Varianten => :givenname_variant
 :Familienname_Variante => :familyname_variant

In [189]:
df_nl = Wds.create_name_lookup(select(df_episc, columns));

In [190]:
size(df_nl)

(7314, 3)

In [191]:
df_nl[2351:2355, :]

5×3 DataFrame
 Row │ person_id  gn_fn               gn_prefix_fn
     │ Int64      String?             String?
─────┼───────────────────────────────────────────────────────
   1 │    476985  Helembert           missing
   2 │    476984  Heinrich Warendorp  Heinrich von Warendorp
   3 │    476983  Nikolaus Bruhn      missing
   4 │    476982  Johannes Skondelev  missing
   5 │    476981  Nikolaus Petersen   missing

In [192]:
table_dst = "name_lookup"
Wds.filltable!(table_dst, df_nl)

┌ Info: Rows inserted: 7314
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

7314