# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Bischöfe aus dem Digitalen Personenregister einlesen

Übertrage Daten aus der GS-online. Die Daten werden aus der produktiven Datenbank auf eine lokale Datenbank eingelesen: `gso`

[Literatur](#Literatur)  
[Bischöfe](#Bischöfe)
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Literaturverweise eintragen](#Literaturverweise-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (`name_lookup`)](#Suchvarianten-eintragen-(name_lookup))

[Ämter](#Ämter)

Quelle: *2022-02-25* Datenbank `gso_in_202202`

Vorspann: Pakete laden; mit der Datenbank verbinden

In [1]:
gs_db = "gso_in_202202"

"gso_in_202202"

In [2]:
wds_path="../.."

"../.."

In [3]:
cd(wds_path)

In [4]:
using Pkg

In [5]:
Pkg.activate(".")

  Activating project at `C:\Users\georg\Documents\projekte\WiagDataSetup.jl`

In [6]:
using Revise

In [7]:
using WiagDataSetup

In [8]:
using MySQL, DataFrames

In [9]:
Wds = WiagDataSetup

WiagDataSetup

In [10]:
Wds.setDBWIAG(user="georg", db="wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

*2022-03-22* einmalig  
Eintrag in `item_type`

In [11]:
item_type_bishop_gs = 9

9

In [12]:
table_name = "item_type";
sql = "SELECT * FROM $(table_name)
LIMIT 0";
df_type = Wds.sql_df(sql)

0×11 DataFrame

In [13]:
using Dates

In [14]:
names(df_type)

11-element Vector{String}:
 "id"
 "comment"
 "name"
 "note"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "table_name"
 "id_public_key"
 "name_app"

In [15]:
user_wiag_id = 1;
time_stamp = Dates.format(now(), dateformat"yyyy-mm-dd HH:MM");

In [17]:
user_id_gh = 7;

In [22]:
 rec = (id = item_type_bishop_gs, 
    comment = missing, 
    name = "Bischof GS", 
    note = "Bischof des Alten Reiches aus der Personendatenbank der Germania Sacra",
    id_public_key = missing,
    table_name = "person",
    name_app = "bishop",
    created_by = user_id_gh,
    date_created = Dates.now(),
    changed_by = user_id_gh,
    date_changed = Dates.now())

(id = 9, comment = missing, name = "Bischof GS", note = "Bischof des Alten Reiches aus der Personendatenbank der Germania Sacra", id_public_key = missing, table_name = "person", name_app = "bishop", created_by = 7, date_created = DateTime("2022-03-22T08:05:26.440"), changed_by = 7, date_changed = DateTime("2022-03-22T08:05:26.440"))

In [23]:
push!(df_type, rec)

1×11 DataFrame
 Row │ id     comment  name        note
     │ Int32  String?  String?     String?
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     9  missing  Bischof GS  Bischof des Alten Reiches aus de…
                                                               7 columns omitted

In [24]:
table_name = "item_type"
Wds.filltable!(table_name, df_type, clear_table = false)

┌ Info: Rows inserted: 1
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1

Item Type ID

In [136]:
item_type_id = item_type_bishop_gs

9

## Löschungen für umfassendes Update

In [137]:
table_name = "id_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 2611, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [138]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name)
WHERE person_role_id IN
(SELECT id FROM person_role
WHERE person_id in (SELECT id from item WHERE item_type_id = $(item_type_id)))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property\nWHERE person_role_id IN\n(SELECT id FROM person_role\nWHERE person_id in (SELECT id from item WHERE item_type_id = 9))", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [139]:
table_name = "person_role";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [140]:
table_name = "person";
sql = "DELETE FROM $(table_name)
WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN\n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 1486, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [141]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 419, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [142]:
table_name = "item";
sql = "DELETE FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item\nWHERE item_type_id = 9", 0, -1, 1486, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Literatur
Die Literatur ist die selbe wie für die Domherren, wir brauchen sie aber nochmal mit einem neuen Wert für `item_type_id`.

In [88]:
table_name = gs_db * ".books"
sql = "SELECT id, titel AS title, autoren AS author, nummer AS number_vol, " *
"uri AS online_resource, kurztitel AS shorttitle " *
"FROM $(table_name)";
df_vol = Wds.sql_df(sql);

In [89]:
columns = [
    :id => :reference_id,
    :title => :full_citation,
    :author => :author_editor,
    :online_resource => :online_resource,
    :shorttitle => :title_short,
    :number_vol => :gs_volume_nr,
]

6-element Vector{Pair{Symbol, Symbol}}:
              :id => :reference_id
           :title => :full_citation
          :author => :author_editor
 :online_resource => :online_resource
      :shorttitle => :title_short
      :number_vol => :gs_volume_nr

In [90]:
df_vol_db = select(df_vol, columns);

In [92]:
df_vol_db[!, :item_type_id] .= item_type_bishop_gs;

Bestehende Einträge löschen

In [93]:
table_name = "reference_volume"
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_bishop_gs)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 9", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten eintragen

In [94]:
Wds.filltable!(table_name, df_vol_db, clear_table = false)

┌ Info: Rows inserted: 87
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

87

## Bischöfe

Betrachte nur Personen, deren Eintrag nicht gelöscht ist und die online sind. Die maßgebliche GSN steht in dem Datensatz mit dem kleinsten Wert der id.

Finde Einträge, die von der Bischofsdatenbank referenziert werden (sofern die verweisenden Bischöfe online sind!)

In [143]:
item_type_bishop = 4
table_name = "item";
sql = "SELECT item.id as ep_item_id, e.value AS gsn
FROM wiag2.item 
JOIN wiag2.id_external AS e ON item.id = e.item_id
WHERE item_type_id = $(item_type_bishop)
AND authority_id = 200
AND item.is_online";
ep_gsn = Wds.sql_df(sql);

In [144]:
size(ep_gsn, 1)

2112

Lies aus `gsn` `item_id`

In [145]:
table_name = gs_db * ".gsn"
sql = "SELECT gsn.id as gsn_id, item_id, gsn.nummer, items.status 
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
AND NOT items.deleted AND items.status = 'online';"
item_all = Wds.sql_df(sql);

In [146]:
ep_item_gsn = innerjoin(ep_gsn, item_all, on = :gsn => :nummer);

In [147]:
size(ep_item_gsn, 1)

2112

In [148]:
names(ep_item_gsn)

5-element Vector{String}:
 "ep_item_id"
 "gsn"
 "gsn_id"
 "item_id"
 "status"

`persons`

In [149]:
table_name = gs_db * ".persons"
sql = "SELECT p.id as id_person_gso, item_id, " *
"namenspraefix, vorname, familienname, " *
"sterbedatum, geburtsdatum, `orden`, " *
"anmerkungen, titel, " * 
"gndnummer, viaf, " *
"familiennamenvarianten, vornamenvarianten, " *
"namenszusatz, " *
"zeitraum_von, zeitraum_bis " *
"FROM $(table_name) as p " *
"JOIN $gs_db.items ON items.id = p.item_id " *
"WHERE items.status = 'online' AND NOT items.deleted " *
"ORDER BY p.id";
df_p = Wds.sql_df(sql);

In [150]:
Wds.clean_up!(df_p)

In [151]:
one_valid(x, y) = !ismissing(x) | !ismissing(y)
subset!(df_p, [:vorname, :familienname] => ByRow(one_valid));

In [152]:
df_p_gsn = innerjoin(df_p, ep_item_gsn, on = :item_id);

In [153]:
size(df_p_gsn, 1)

2112

Die Bischöfe aus der Personendatenbank erhalten keine WIAG-ID

Vermeide Dopplungen. Es werden keine Bischöfe aufgenommen, die schon als Domherren referenziert sind

In [154]:
item_type_canon_gs = 6;
table_name = "item";
sql = "SELECT * FROM $(table_name) WHERE item_type_id = $(item_type_canon_gs)"
df_gs = Wds.sql_df(sql);

Wandle `id_person_gso` um in String für den Vergleich

In [155]:
transform!(df_p_gsn, :id_person_gso => ByRow(string) => :id_in_source);

In [156]:
df_p_gsn = antijoin(df_p_gsn, df_gs, on = :id_in_source);

In [157]:
size(df_p_gsn, 1)

1487

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Bischof GS' in `item_type`: 9

In [158]:
df_p_gsn[210:215, [:vorname, :familienname, :geburtsdatum, :sterbedatum, :id_in_source]]

6×5 DataFrame
 Row │ vorname       familienname  geburtsdatum  sterbedatum  id_in_source
     │ String?       String?       String?       String?      String
─────┼─────────────────────────────────────────────────────────────────────
   1 │ Nikolaus      Wagomay       missing       missing      183342
   2 │ Ulrich II.    missing       missing       1221         185687
   3 │ Winither      missing       missing       missing      186144
   4 │ Alexander I.  Jülich        missing       1135         188593
   5 │ Heinrich      Hoya          missing       1441         191241
   6 │ Hermann       Schaumburg    1545          1592         194760

In [159]:
df_item = select(df_p_gsn, :id_in_source);

In [160]:
user_wiag_id = 1; # Georg Hertkorn

In [161]:
using Dates

In [162]:
insertcols!(
    df_item, 
    1,
    :item_type_id => item_type_bishop_gs,
    :edit_status => "importiert",
    :created_by => user_wiag_id,
    :date_created => Dates.now(),
    :changed_by => user_wiag_id,
    :date_changed => Dates.now(),
    :id_public => missing,
    :is_online => 1
);

In [39]:
df_item[17, :]

DataFrameRow
 Row │ item_type_id  edit_status  created_by  date_created             changed ⋯
     │ Int64         String       Int64       DateTime                 Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
  17 │            9  importiert            1  2022-03-22T10:32:05.854          ⋯
                                                               5 columns omitted

In [213]:
names(df_item)

10-element Vector{String}:
 "item_type_id"
 "edit_status"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "is_online"
 "id_in_source"
 "id_wiag"
 "id_public"

Bestehende Einträge löschen  
Die Einträge in `item` sind bei einem Update als letztes zu löschen, da die anderen Tabellen von Tabelle `item` abhängen.

In [163]:
item_type_bishop_gs

9

In [164]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_bishop_gs)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 9", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [165]:
table_name = "item";
Wds.filltable!(table_name, df_item, clear_table = false)

┌ Info: Rows inserted: 1487
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1487

### Daten eintragen

IDs auslesen

In [166]:
table_name = "item";
sql = "SELECT id, id_in_source, item_type_id FROM $(table_name) where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

In [167]:
size(df_idx)

(1487, 3)

In [168]:
df_ep_idx = innerjoin(df_idx, df_p_gsn, on = :id_in_source);

Jahreszahlen ermitteln

In [169]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [170]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [171]:
transform!(df_ep_idx, :geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

In [172]:
transform!(df_ep_idx, :sterbedatum => ByRow(parse_date_death) => :num_date_death);

Felder auswählen; Orden folgen später (siehe unten)

In [173]:
names(df_ep_idx)

26-element Vector{String}:
 "id"
 "id_in_source"
 "item_type_id"
 "id_person_gso"
 "item_id"
 "namenspraefix"
 "vorname"
 "familienname"
 "sterbedatum"
 "geburtsdatum"
 "orden"
 "anmerkungen"
 "titel"
 "gndnummer"
 "viaf"
 "familiennamenvarianten"
 "vornamenvarianten"
 "namenszusatz"
 "zeitraum_von"
 "zeitraum_bis"
 "ep_item_id"
 "gsn"
 "gsn_id"
 "status"
 "num_date_birth"
 "num_date_death"

In [174]:
columns = [
    :id => :id,
    :item_type_id => :item_type_id,
    :namenspraefix => :prefixname,
    :vorname => :givenname,
    :familienname => :familyname,
    :anmerkungen => :comment,
    :geburtsdatum => :date_birth,
    :sterbedatum => :date_death,
    :num_date_birth => :num_date_birth,
    :num_date_death => :num_date_death,
]

10-element Vector{Pair{Symbol, Symbol}}:
             :id => :id
   :item_type_id => :item_type_id
  :namenspraefix => :prefixname
        :vorname => :givenname
   :familienname => :familyname
    :anmerkungen => :comment
   :geburtsdatum => :date_birth
    :sterbedatum => :date_death
 :num_date_birth => :num_date_birth
 :num_date_death => :num_date_death

Einträge löschen (Korrektur/Update)

In [175]:
table_name = "person"
sql = "DELETE FROM $(table_name)
WHERE id IN (SELECT id FROM item WHERE item_type_id = $(item_type_bishop_gs))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN (SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [176]:
Wds.filltable!("person", select(df_ep_idx, columns); clear_table=false)

┌ Info: Rows inserted: 1487
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1487

### Orden eintragen
*2022-01-19* Die (vorläufige) Ordenstabelle basiert auf den Ordensangaben für Bischöfe und auf den Ordensangaben hier.

In [55]:
unique(df_p_gsn.orden)

17-element Vector{Union{Missing, String}}:
 "OESA"
 "OP"
 missing
 "OPraem"
 "OFM"
 "OCist"
 "OSB"
 "Wilhelmit"
 "OCarm"
 "OMel"
 "OCart"
 "OFMConv"
 "OFMCap"
 "OSA"
 "OT"
 "CanA"
 "SJ"

In [177]:
table_name = "religious_order"
sql = "SELECT abbreviation FROM $(table_name)"
df_orders = Wds.sql_df(sql);

Eintrag in `item`

*2022-02-25* Nur nötig, wenn die Orden neu angelegt werden.

In [141]:
table_name = "item";
sql = "SELECT * FROM $(table_name) LIMIT 0";
df_item = Wds.sql_df(sql);

In [135]:
id_next = 22;

In [136]:
item_type_order = 7;
user_wiag_id = 7; # Georg
time_stamp = Dates.format(now(), dateformat"yyyy-mm-dd HH:MM");

In [142]:
df_item = select(df_item, Not(:id));

In [156]:
table_name = "item"
sql = "INSERT INTO $(table_name) SET
    item_type_id = $(item_type_order),    
    id_in_source = $(id_next),
    is_deleted = 0,
    is_online = 0,
    created_by = $(user_wiag_id),
    date_created = '$(time_stamp)',
    changed_by = $(user_wiag_id),
    date_changed = '$(time_stamp)'"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "INSERT INTO item SET\n    item_type_id = 7,    \n    id_in_source = 22,\n    is_deleted = 0,\n    is_online = 0,\n    created_by = 7,\n    date_created = '2022-01-19 11:11',\n    changed_by = 7,\n    date_changed = '2022-01-19 11:11'", 0, -1, 1, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Lies `id_item` für religiöse Orden aus

In [233]:
table_name = "item"
sql = "SELECT id, id_in_source 
FROM $(table_name) 
WHERE id_in_source = $(id_next) and item_type_id = $(item_type_order)"
df_idx = Wds.sql_df(sql);

LoadError: UndefVarError: id_next not defined

In [160]:
item_id = df_idx[1, :id]

92259

In [161]:
table_name = "religious_order";
sql = "INSERT INTO $(table_name) SET id = $(item_id), abbreviation = 'CRVC'";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "INSERT INTO religious_order SET id = 92259, abbreviation = 'CRVC'", 0, -1, 1, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Tabelle `person` aktualisieren

In [179]:
df_ep_order = dropmissing(df_ep_idx, :orden);

In [180]:
size(df_ep_order)

(160, 26)

Lies die ID für die Orden aus.

In [181]:
table_name = "religious_order"
sql = "SELECT id AS religious_order_id, abbreviation AS orden FROM $(table_name)";
df_order_db = Wds.sql_df(sql);

In [182]:
df_ep_order = leftjoin(df_ep_order, df_order_db, on = :orden);

In [183]:
df_order_id_mg = subset(df_ep_order, :religious_order_id => ByRow(ismissing));

In [66]:
names(df_order_id_mg)

27-element Vector{String}:
 "id"
 "id_in_source"
 "item_type_id"
 "id_person_gso"
 "item_id"
 "namenspraefix"
 "vorname"
 "familienname"
 "sterbedatum"
 "geburtsdatum"
 "orden"
 "anmerkungen"
 "titel"
 ⋮
 "familiennamenvarianten"
 "vornamenvarianten"
 "namenszusatz"
 "zeitraum_von"
 "zeitraum_bis"
 "ep_item_id"
 "gsn"
 "gsn_id"
 "status"
 "num_date_birth"
 "num_date_death"
 "religious_order_id"

In [68]:
df_order_id_mg[:, [:id, :id_in_source, :vorname, :familienname, :orden]]

1×5 DataFrame
 Row │ id      id_in_source  vorname   familienname  orden
     │ Int32   String?       String?   String?       String
─────┼─────────────────────────────────────────────────────────
   1 │ 164047  84864         Berthold  missing       Wilhelmit

In [63]:
count(ismissing.(df_ep_order.religious_order_id))

1

*2022-03-22* Wir nehmen den Orden der Wilhelmiten im Moment nicht auf.

In [184]:
dropmissing!(df_ep_order, :religious_order_id);

In [185]:
DBInterface.execute(Wds.dbwiag, "DROP TABLE IF EXISTS person_update");
sql = "CREATE TEMPORARY TABLE person_update (" *
"id INT, " *
"religious_order_id INT)"
DBInterface.execute(Wds.dbwiag, sql);

In [186]:
Wds.filltable!("person_update", select(df_ep_order, :id, :religious_order_id))

┌ Info: Rows inserted: 159
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

159

In [187]:
table_name = "person"
table_update_src = "person_update"
sql = "UPDATE $(table_name) as p, (SELECT id, religious_order_id FROM $(table_update_src)) as oid " *
"SET p.religious_order_id = oid.religious_order_id " *
"WHERE p.id = oid.id"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "UPDATE person as p, (SELECT id, religious_order_id FROM person_update) as oid SET p.religious_order_id = oid.religious_order_id WHERE p.id = oid.id", 0, -1, 159, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

### Literaturverweise eintragen

IDs wieder einlesen, falls hier neu gestartet wird.

In [73]:
table_name = "item";
sql = "SELECT id, id_in_source
FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
df_idx = Wds.sql_df(sql);

In [242]:
size(df_idx, 1), size(df_p_gsn, 1)

(8523, 8523)

In [83]:
find_ids(id) = id in ("4586", "4590", "4620", "4623")

find_ids (generic function with 1 method)

In [84]:
subset(df_idx, :id_in_source => ByRow(find_ids))

4×2 DataFrame
 Row │ id      id_in_source
     │ Int32   String?
─────┼──────────────────────
   1 │ 145492  4623
   2 │ 145493  4620
   3 │ 145494  4590
   4 │ 145495  4586

In [100]:
df_p_gsn[1:5, [:id_person_gso, :vorname]]

5×2 DataFrame
 Row │ id_person_gso  vorname
     │ Int32          String?
─────┼─────────────────────────
   1 │        281468  Peter
   2 │        281436  Thomas
   3 │        281438  Albrecht
   4 │        307203  Dietrich
   5 │        281440  Peter

In [243]:
transform!(df_p_gsn, :id_person_gso => ByRow(string) => :id_in_source);

In [190]:
df_ep_idx = innerjoin(df_p_gsn, df_idx, on = :id_in_source);

In [191]:
size(df_ep_idx, 1)

1487

In [192]:
table_name = gs_db * ".locations";
sql = "SELECT item_id as item_id_gs, seiten, book_id  FROM $(table_name) " * 
"WHERE item_status = 'online' AND NOT deleted " *
"GROUP BY item_id, book_id, seiten"
df_p_ref = Wds.sql_df(sql);

Verbinde die Literaturangaben mit den relevanten Bischöfen

In [193]:
columns = [:id => :item_id, :item_id => :item_id_gs]

2-element Vector{Pair{Symbol, Symbol}}:
      :id => :item_id
 :item_id => :item_id_gs

In [194]:
df_p_ref = innerjoin(df_p_ref, select(df_ep_idx, columns), on = :item_id_gs);

In [195]:
size(df_p_ref)

(4308, 4)

Übernimm für Bischöfe mit Kurzbiographie nur Literaturhinweise mit Kurzbiographien (`transfer_gso.sql`: 2021-04-26) Es ist freilich möglich, dass es mehrere Literaturverweise gibt, die eine Kurzbiographie enthalten.

In [196]:
is_bio(seiten) = contains(seiten, "<b>");

In [197]:
df_p_ref_bio = subset(df_p_ref, :seiten =>ByRow(is_bio));

In [198]:
size(df_p_ref_bio)

(420, 4)

Bilde die Differenzmenge in Bezug auf Domherren, nicht in Bezug auf Literaturverweise

In [199]:
is_item_bio(item_id) = item_id in unique(df_p_ref_bio.item_id)

is_item_bio (generic function with 1 method)

In [200]:
df_p_ref_mg_bio = subset(df_p_ref, :item_id => ByRow(!is_item_bio));

Einträge löschen für Korrekturen oder ein Update

In [85]:
item_type_bishop_gs

9

In [201]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_bishop_gs)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 9", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [202]:
insertcols!(df_p_ref_bio, 1, :item_type_id => item_type_bishop_gs);

In [96]:
insertcols!(df_p_ref_mg_bio, 1, :item_type_id => item_type_bishop_gs);

In [203]:
columns = [
    :item_id => :item_id,
    :seiten => :page,
    :item_type_id => :item_type_id,
    :book_id => :reference_id,
]

4-element Vector{Pair{Symbol, Symbol}}:
      :item_id => :item_id
       :seiten => :page
 :item_type_id => :item_type_id
      :book_id => :reference_id

In [204]:
table_name = "item_reference"
Wds.filltable!(table_name, select(df_p_ref_bio, columns))

┌ Info: Rows inserted: 420
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

420

*2022-02-25* Es werden nur noch Literaturangaben mit Kurzbiographie berücksichtigt.

In [156]:
table_name = "item_reference"
Wds.filltable!(table_name, select(df_p_ref_mg_bio, columns))

┌ Info: Rows inserted: 2327
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1206

2327

Probe:
``` sql
select count(distinct(item_id)) from item_reference where item_type_id = 6;
```
7389

Es gibt also für jeden Domherren mindestens einen Literaturverweis

### Externe URLs eintragen

In [157]:
using MySQL, DataFrames

In [156]:
Wds.setDBWIAG(user = "georg", db = "wiag2")

Passwort für User georg
stdin> topf&deckel

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

In [99]:
item_type_bishop_gs

9

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [205]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_bishop_gs))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [101]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)"
Wds.sql_df(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

In [206]:
df_ep_idx[300:307, [:id, :id_in_source, :vorname, :familienname, :gsn_id, :gsn]]

8×6 DataFrame
 Row │ id      id_in_source  vorname      familienname  gsn_id  gsn
     │ Int32   String        String?      String?       Int32   String?
─────┼────────────────────────────────────────────────────────────────────────
   1 │ 165766  214434        Balthasar    Fannemann     126888  051-00659-001
   2 │ 165767  231887        Hatto        missing       134353  056-00663-001
   3 │ 165768  231884        Hartpert     missing       134350  056-00660-001
   4 │ 165769  231877        Hartmann I.  missing       134343  056-00653-001
   5 │ 165770  231870        Haito        missing       134336  056-00646-001
   6 │ 165771  231788        Gebhard I.   missing       134254  056-00564-001
   7 │ 165772  231785        Gebhard I.   missing       134251  056-00561-001
   8 │ 165773  231782        Gaudentius   missing       134248  056-00558-001

**VIAF**, dann GND, GSN

In [207]:
authority_id = 4 # siehe oben

4

In [208]:
col = :viaf;
df_p_auth = dropmissing(df_ep_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [209]:
size(df_p_auth)

(3, 26)

In [210]:
df_p_auth

3×26 DataFrame
 Row │ authority_id  id_person_gso  item_id  namenspraefix  vorname            ⋯
     │ Int64         Int32          Int32    String?        String?            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │            4         283124   283111  von            Bruno              ⋯
   2 │            4         324288   330086  von            Joseph Franz Anton
   3 │            4         325009   330999  missing        Johann Andreas
                                                              21 columns omitted

In [211]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :value => :value,
]

3-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
        :value => :value

In [212]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 3
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

3

**GND**

In [213]:
authority_id = 1 # siehe oben

1

In [214]:
col = :gndnummer
df_p_auth = dropmissing(df_ep_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [215]:
size(df_p_auth)

(1122, 26)

In [216]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 1122
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1122

**GSN**

In [217]:
authority_id = 200 # siehe oben

200

In [218]:
col = :gsn
df_p_auth = dropmissing(df_ep_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [219]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 1487
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1487

### Namensvarianten eintragen

In [145]:
using MySQL, DataFrames

In [220]:
col = :familiennamenvarianten;
df_fnv = dropmissing(df_ep_idx, col);

In [221]:
size(df_fnv)

(245, 24)

In [222]:
df_exp = Wds.expand_column(df_fnv, col, delim = ",");

In [223]:
size(df_exp)

(307, 24)

In [224]:
df_exp[150:157, [:vorname, :familienname, col]]

8×3 DataFrame
 Row │ vorname            familienname  familiennamenvarianten
     │ String?            String?       String
─────┼──────────────────────────────────────────────────────────
   1 │ Withego I.         Furra         Fura
   2 │ Dietrich           Minden        Wierland
   3 │ Johann Matthias    Eyss          Eyß
   4 │ Egilbert           Ortenburg     Ortenberg
   5 │ Johann Philipp     Burkard       Burckhard
   6 │ Johann Jakob       Weber         Textor
   7 │ Christoph Rudolph  Stadion       Stadion und Thannhausen
   8 │ Johannes           Goldener      Goldner

Spalte `lang` hat den Default-Wert 'de'.

In [225]:
columns = [
    :id => :person_id,
    :familiennamenvarianten => :name,
]

2-element Vector{Pair{Symbol, Symbol}}:
                     :id => :person_id
 :familiennamenvarianten => :name

Einträge löschen (Korrekturen, Daten-Update)

In [226]:
item_type_bishop_gs

9

In [227]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_bishop_gs))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [228]:
table_name = "familyname_variant"
Wds.filltable!(table_name, select(df_exp, columns))

┌ Info: Rows inserted: 307
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

307

Vornamen

In [229]:
col = :vornamenvarianten;
df_gnv = dropmissing(df_ep_idx, col);

In [230]:
size(df_gnv)

(469, 24)

In [231]:
df_exp = Wds.expand_column(df_gnv, col, delim = r", *");

In [232]:
size(df_exp)

(622, 24)

In [233]:
df_exp[150:157, [:vorname, :familienname, col]]

8×3 DataFrame
 Row │ vorname     familienname  vornamenvarianten
     │ String?     String?       String
─────┼─────────────────────────────────────────────
   1 │ Altwin      missing       Altinus
   2 │ Agan        missing       Agnus
   3 │ Adalung     missing       Adalingus
   4 │ Adalung     missing       Adalunc
   5 │ Cristoforo  Madruzzo      Cristofforo
   6 │ Thietgaud   missing       Theutgaud
   7 │ Marquard    Jesow         Markward
   8 │ Luder       Borch         Lüder

In [234]:
columns = [
    :id => :person_id,
    col => :name,
]

2-element Vector{Pair{Symbol, Symbol}}:
                :id => :person_id
 :vornamenvarianten => :name

Einträge löschen (Korrekturen, Daten-Update)

In [235]:
item_type_bishop_gs

9

In [236]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_bishop_gs))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [237]:
table_name = "givenname_variant"
Wds.filltable!(table_name, select(df_exp, columns))

┌ Info: Rows inserted: 622
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

622

### Suchvarianten eintragen (name_lookup)

Nach den Bischöfen aus der Personendatenbank wird nicht gesucht.

## Ämter

In [12]:
table_name = gs_db * ".offices";
sql = "SELECT * FROM $(table_name)
WHERE deleted = 0";
df_pr = Wds.sql_df(sql);

In [13]:
Wds.clean_up!(df_pr);

In [14]:
size(df_pr)

(72637, 22)

### Bischöfe zuordnen

In [15]:
transform!(df_pr, :person_id => ByRow(string) => :id_in_source);

In [18]:
table_name = "item";
sql = "SELECT id AS item_id, id_in_source FROM $(table_name) WHERE item_type_id = $(item_type_bishop_gs)";
df_idx = Wds.sql_df(sql);

In [19]:
df_prp = innerjoin(df_pr, df_idx, on = :id_in_source);

In [21]:
size(df_prp), size(unique(df_prp.item_id))

((2325, 24), (1482,))

In [23]:
person_id_mg_oc = setdiff(df_idx.item_id, df_prp.item_id)

5-element Vector{Int32}:
 165523
 165609
 165901
 166155
 166902

In [26]:
df_mg_bezeichnung = subset(df_prp, :bezeichnung => ByRow(ismissing));

In [28]:
df_mg_bezeichnung[:, [:id, :person_id, :item_id, :art, :ort, :dioezese, :bezeichnung]]

1×7 DataFrame
 Row │ id      person_id  item_id  art      ort      dioezese  bezeichnung
     │ Int32   Int32      Int32    String?  String?  String?   String?
─────┼─────────────────────────────────────────────────────────────────────
   1 │ 356143     317915   166712  missing  missing  missing   missing

Johann Schweikard

In [29]:
subset(df_prp, :person_id => ByRow(isequal(317915)))[:, [:id, :person_id, :item_id, :art, :ort, :dioezese, :bezeichnung]]

2×7 DataFrame
 Row │ id      person_id  item_id  art        ort      dioezese  bezeichnung
     │ Int32   Int32      Int32    String?    String?  String?   String?
─────┼───────────────────────────────────────────────────────────────────────
   1 │ 356142     317915   166712  geistlich  missing  Mainz     Erzbischof
   2 │ 356143     317915   166712  missing    missing  missing   missing

In [30]:
dropmissing!(df_prp, :bezeichnung);

### Rollen/Ämter zuordnen

In [24]:
table_name = "role"
sql = "SELECT name as role_name, role.id as role_id
FROM $(table_name)"
df_role = Wds.sql_df(sql);

In [31]:
df_prpr = leftjoin(df_prp, df_role, on = :bezeichnung => :role_name);

In [32]:
df_mg_role_id = subset(df_prpr, :role_id => ByRow(ismissing));

In [33]:
size(df_prpr, 1), size(df_mg_role_id, 1)

(2324, 161)

Es gibt noch kein vollständiges Mapping von Ämtern auf normierte Ämter. Die Suche der Webanwendung berücksichtigt aber auch die ursprünglichen Bezeichnungen (person_role.role_name).

### Bistümer zuordnen

In [34]:
sql = "SELECT id AS diocese_id, name AS diocese_name FROM diocese"
df_dioc = Wds.sql_df(sql);

In [35]:
df_prprd = leftjoin(df_prpr, df_dioc, on = :dioezese => :diocese_name, matchmissing = :notequal);

### Institutionen zuordnen

`klosterid` entspricht `institution.id_gsn`

In [36]:
sql = "SELECT id AS institution_id, name as institution_name, id_gsn FROM institution"
df_inst = Wds.sql_df(sql);

In [37]:
int_or_missing(x) = ismissing(x) ? missing : parse(Int, x);
transform!(df_prp, :klosterid => ByRow(int_or_missing) => :klosterid);

In [39]:
df_prpm = leftjoin(df_prprd, df_inst, on = :klosterid => :id_gsn, matchmissing = :notequal);

### Numerische Daten eintragen

In [41]:
num_date_begin(s_date) = Wds.parsemaybe(s_date, :lower)
transform!(df_prpm, :von => ByRow(num_date_begin) => :num_date_begin);

In [42]:
num_date_end(s_date) = Wds.parsemaybe(s_date, :upper);
transform!(df_prpm, :bis => ByRow(num_date_end) => :num_date_end);

In [43]:
transform!(df_prpm, :bis => ByRow(Wds.parse_year_sort) => :date_sort_key);

In [44]:
function update_col(from, to)
    cand = Wds.parse_year_sort(from)
    if ismissing(to) || cand < to
        return cand
    else
        return to
    end
end

update_col (generic function with 1 method)

In [46]:
transform!(df_prpm, [:von, :date_sort_key] => ByRow(update_col) => :date_sort_key);

In [47]:
item_type_bishop_gs

9

In [48]:
table_name = "person_role"
sql = "DELETE FROM $(table_name) WHERE person_id IN 
(SELECT id FROM item WHERE item_type_id = $(item_type_bishop_gs))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role WHERE person_id IN \n(SELECT id FROM item WHERE item_type_id = 9)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [55]:
columns = [
    :dioezese => :diocese_name,
    :von => :date_begin,
    :bis => :date_end,
    :anmerkung => :note,
    :bezeichnung => :role_name,
    :item_id => :person_id,
    :diocese_id => :diocese_id,
    :role_id => :role_id,
    :institution_id => :institution_id,
    :institution_name => :institution_name,    
    :num_date_begin => :num_date_begin,
    :num_date_end => :num_date_end,
    :date_sort_key => :date_sort_key
];

In [57]:
table_name = "person_role"
Wds.filltable!(table_name, select(df_prpm, columns))

┌ Info: Rows inserted: 2324
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

2324

In [53]:
names(df_prpm)

31-element Vector{String}:
 "id"
 "deleted"
 "created"
 "modified"
 "created_by"
 "modified_by"
 "person_id"
 "item_mergedinto_id"
 "item_status"
 "bezeichnung"
 "art"
 "ort"
 "institution"
 ⋮
 "latitude"
 "longitude"
 "anmerkung"
 "id_in_source"
 "item_id"
 "role_id"
 "diocese_id"
 "institution_id"
 "institution_name"
 "num_date_begin"
 "num_date_end"
 "date_sort_key"