# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Domherren aus dem Digitalen Personenregister einlesen

Übertrage Daten aus der GS-online. Die Daten werden aus der produktiven Datenbank auf eine lokale Datenbank eingelesen: `gso`

[Amtsperiode](#Amtsperiode)  
[Zeitspanne der Person](#Zeitspanne-der-Person)  
[Sortierung der Person nach Amt](#Sortierung-der-Person-nach-Amt) (hinfällig?)

Vorspann: Pakete laden; mit der Datenbank verbinden

In [1]:
wds_path="../.."

"../.."

In [2]:
cd(wds_path)

In [3]:
using Pkg

In [4]:
Pkg.activate(".")

  Activating project at `C:\Users\georg\Documents\projekte\WiagDataSetup.jl`

In [5]:
using Revise, MySQL

In [6]:
using WiagDataSetup

In [7]:
using MySQL, DataFrames, CSV

In [8]:
Wds = WiagDataSetup

WiagDataSetup

In [9]:
Wds.setDBWIAG(user="georg", db="wiag_in")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag_in")

In [10]:
item_type_id = 6

6

In [11]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

Evtl. neue Quelle eintragen!

| Datum | Quelle|
|:---|---|
|*2022-02-25*|`gso_in_202202`|
|*2022-05-12*|`gso_in_202205`| 
|*2022-07-26*|`gso_in_202207`| 
|*2022-10-15*|`gso_in_202207`|
|*2022-10-19*|`gso_in_202210`|
|*2022-11-03*|`gso_in_202210`|
|*2022-11-23*|`gso_in_202211`|

In [12]:
gs_db = "gso_in_202211"

"gso_in_202211"

Die Ämter in Tabelle `role` werden im Notebook "Strukturdaten" eingelesen.

## Amtsperiode

In [13]:
table_name = gs_db * ".offices";
sql = "SELECT * FROM $(table_name)
WHERE deleted = 0";
df_pr = Wds.sql_df(sql);

In [14]:
Wds.clean_up!(df_pr);

In [15]:
size(df_pr)

(73463, 22)

### Domherren zuordnen

In [16]:
transform!(df_pr, :person_id => ByRow(string) => :id_in_source);

In [17]:
table_name = "item";
sql = "SELECT id AS item_id, id_in_source FROM $(table_name) WHERE item_type_id = $(item_type_id)";
df_idx = Wds.sql_df(sql);

In [18]:
size(unique(df_idx.item_id))

(9346,)

In [19]:
df_prp = innerjoin(df_pr, df_idx, on = :id_in_source);

In [20]:
length(unique(df_prp.item_id))

9319

In [21]:
size(df_prp), size(unique(df_prp.person_id))

((16527, 24), (9319,))

In [22]:
person_id_mg_oc = setdiff(df_idx.item_id, df_prp.item_id)

27-element Vector{Int32}:
 693128
 693862
 695499
 695656
 695658
 695716
 695771
 695772
 695982
 696030
 696110
 696151
 696186
      ⋮
 696256
 696285
 696301
 696396
 697127
 697189
 697200
 697204
 697282
 697307
 697308
 699102

In [23]:
str_mg = "(" * join(person_id_mg_oc, ", ") * ")"

"(683782, 684516, 686153, 686310, 686312, 686370, 686425, 686426, 686636, 686684, 686764, 686805, 686840, 686885, 686893, 686910, 686939, 686955, 687050, 687781, 687843, 687854, 687858, 687936, 687961, 687962, 689756)"

Einige Domherren sind ohne Amt. Das ist möglich, weil Domherren ergänzt werden, die referenziert werden von der Domherrendatenbank unabhängig von einem Amt  

| Datum | Domherren |
| --- | --- |
| 2022-03-10 | 14 |
| 2022-04-28 | 17 |
| 2022-05-12 | 20 |
| 2022-07-26 | 20 |
| 2022-10-15 | 23 |
| 2022-10-19 | 18 |
| 2011-11-23 | 27 |

### Rollen/Ämter zuordnen

In [23]:
table_name = "role"
sql = "SELECT name as role_name, role.id as role_id
FROM $(table_name)"
df_role = Wds.sql_df(sql);

In [24]:
df_prp = leftjoin(df_prp, df_role, on = :bezeichnung => :role_name, matchmissing = :notequal);

In [25]:
df_mg_role_id = subset(df_prp, :role_id => ByRow(ismissing));

In [26]:
size(df_prp, 1), size(df_mg_role_id, 1)

(16527, 1274)

*2022-01-20* Es gibt noch kein Mapping von Ämtern auf normierte Ämter. Die Suche der Webanwendung berücksichtigt aber auch die ursprünglichen Bezeichnungen (`person_role.role_name`).

### Bistümer zuordnen

In [27]:
sql = "SELECT id AS diocese_id, name AS diocese_name FROM diocese"
df_dioc = Wds.sql_df(sql);

In [28]:
df_prp = leftjoin(df_prp, df_dioc, on = :dioezese => :diocese_name, matchmissing = :notequal);

### Instutionen zuordnen
Klöster, Domstifte

`klosterid` entspricht `institution.id_gsn`

In [29]:
sql = "SELECT id AS institution_id, name as institution_name, id_gsn FROM institution"
df_inst = Wds.sql_df(sql);

In [30]:
names(df_inst)

3-element Vector{String}:
 "institution_id"
 "institution_name"
 "id_gsn"

In [31]:
df_prp[100:105, [:bezeichnung, :klosterid, :institution]]

6×3 DataFrame
 Row │ bezeichnung  klosterid  institution
     │ String?      String?    String?
─────┼─────────────────────────────────────────────
   1 │ Domherr      832        Domstift Hildesheim
   2 │ Domherr      832        Domstift Hildesheim
   3 │ Domherr      832        Domstift Hildesheim
   4 │ Domherr      832        Domstift Hildesheim
   5 │ Domherr      832        Domstift Hildesheim
   6 │ Domherr      832        Domstift Hildesheim

In [32]:
int_or_missing(x) = ismissing(x) ? missing : parse(Int, x);
transform!(df_prp, :klosterid => ByRow(int_or_missing) => :klosterid);

In [33]:
df_prp = leftjoin(df_prp, df_inst, on = :klosterid => :id_gsn, matchmissing = :notequal);

In [34]:
df_prp[100:105, [:bezeichnung, :klosterid, :institution, :institution_id]]

6×4 DataFrame
 Row │ bezeichnung  klosterid  institution          institution_id
     │ String?      Int64?     String?              Int32?
─────┼─────────────────────────────────────────────────────────────
   1 │ Domherr           2066  Domstift Schwerin             80300
   2 │ Domherr            832  Domstift Hildesheim           80025
   3 │ Domvikar           803  Domstift Osnabrück            79983
   4 │ Domvikar           628  Domstift Münster              79825
   5 │ Kanoniker          175  Stift St. Nikolaus            79532
   6 │ Kanoniker          175  Stift St. Nikolaus            79532

### Numerische Daten eintragen

In [35]:
num_date_begin(s_date) = Wds.parsemaybe(s_date, :lower)
transform!(df_prp, :von => ByRow(num_date_begin) => :num_date_begin);

In [36]:
num_date_end(s_date) = Wds.parsemaybe(s_date, :upper);
transform!(df_prp, :bis => ByRow(num_date_end) => :num_date_end);

In [37]:
transform!(df_prp, :bis => ByRow(Wds.parse_year_sort) => :date_sort_key);

In [38]:
function update_col(from, to)
    cand = Wds.parse_year_sort(from)
    if ismissing(to) || cand < to
        return cand
    else
        return to
    end
end

update_col (generic function with 1 method)

In [39]:
transform!(df_prp, [:von, :date_sort_key] => ByRow(update_col) => :date_sort_key);

In [40]:
df_prp[560:567, [:person_id, :bezeichnung, :von, :num_date_begin, :bis, :num_date_end, :date_sort_key]]

8×7 DataFrame
 Row │ person_id  bezeichnung  von                     num_date_begin  bis     ⋯
     │ Int32      String?      String?                 Int64?          String? ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    282823  Domvikar     1387                              1387  1421    ⋯
   2 │    282823  Domherr      1417                              1417  1421
   3 │    282827  Kanoniker    1473                              1473  missing
   4 │    282827  Domvikar     1464                              1464  missing
   5 │    223301  Propst       Anfang 13. Jahrhundert            1201  missing ⋯
   6 │    223301  Domherr      Anfang 13. Jahrhundert            1201  missing
   7 │    223525  Propst       1520                              1520  1528
   8 │    223525  Domherr      vor 1528                          1478  missing
                                                               2 columns omitted

In [42]:
count(!ismissing, df_prp.num_date_begin)

16027

Orte zuordnen. Dann sind Daten redundant in der Datenbank, das erleichtert aber die Suche.  
*2022-02-28* Verfolge die Idee zunächst nicht weiter, sondern frage die Orte in der Anwendung ab.

Einträge für diesen Item_Typ löschen

In [41]:
item_type_id

6

In [45]:
table_name = "person_role"
sql = "DELETE FROM $(table_name) WHERE person_id IN 
(SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag_in"), "DELETE FROM person_role WHERE person_id IN \n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 16527, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten schreiben

Schreibe für alle Bistümer - auch für die identifizierten - den Namen des Bistums in die Tabelle.  
Schreibe für alle Ämter - auch für die identifizieren - die Bezeichnung in die Tabelle.  
Schreibe für alle Institutionen - auch für die identifizieren - die Bezeichnung in die Tabelle.

In [46]:
sql

"DELETE FROM person_role WHERE person_id IN \n(SELECT id FROM item WHERE item_type_id = 6)"

In [47]:
columns = [
    :dioezese => :diocese_name,
    :von => :date_begin,
    :bis => :date_end,
    :anmerkung => :note,
    :bezeichnung => :role_name,
    :item_id => :person_id,
    :diocese_id => :diocese_id,
    :role_id => :role_id,
    :institution_id => :institution_id,
    :institution_name => :institution_name,    
    :num_date_begin => :num_date_begin,
    :num_date_end => :num_date_end,
    :date_sort_key => :date_sort_key
];

In [48]:
table_name = "person_role"
Wds.filltable!(table_name, select(df_prp, columns))

┌ Info: 10000
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 16527
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

16527

## Zeitspanne der Person

In [49]:
table_name = "item"
sql = "SELECT id, num_date_birth, num_date_death
FROM person WHERE id in (SELECT id FROM $(table_name) WHERE item_type_id = $(item_type_id))"
df_date = Wds.sql_df(sql);

In [50]:
size(df_date)

(9346, 3)

Zeitspanne der Ämter

In [51]:
df_pr_begin_0 = dropmissing(df_prp, :num_date_begin)
df_pr_begin = groupby(select(df_pr_begin_0, :item_id, :num_date_begin), :item_id)

GroupedDataFrame with 9148 groups based on key: item_id
First Group (1 row): item_id = 692220
 Row │ item_id  num_date_begin
     │ Int32    Int64
─────┼─────────────────────────
   1 │  692220            1543
⋮
Last Group (6 rows): item_id = 701565
 Row │ item_id  num_date_begin
     │ Int32    Int64
─────┼─────────────────────────
   1 │  701565            1370
   2 │  701565            1370
   3 │  701565            1370
   4 │  701565            1371
   5 │  701565            1384
   6 │  701565            1371

In [52]:
df_pr_date_min = combine(df_pr_begin, :num_date_begin => minimum => :date_min);

In [53]:
size(df_pr_date_min)

(9148, 2)

In [54]:
df_pr_date_min[3015:3021, :]

7×2 DataFrame
 Row │ item_id  date_min
     │ Int32    Int64
─────┼───────────────────
   1 │  695359      1167
   2 │  695360      1051
   3 │  695361      1531
   4 │  695362      1209
   5 │  695363       963
   6 │  695364      1101
   7 │  695365      1200

`date_max`

In [55]:
df_pr_end_value = dropmissing(df_prp, :num_date_end)
df_pr_end = groupby(select(df_pr_end_value, :item_id, :num_date_end), :item_id)

GroupedDataFrame with 5987 groups based on key: item_id
First Group (1 row): item_id = 692220
 Row │ item_id  num_date_end
     │ Int32    Int64
─────┼───────────────────────
   1 │  692220          1588
⋮
Last Group (3 rows): item_id = 701565
 Row │ item_id  num_date_end
     │ Int32    Int64
─────┼───────────────────────
   1 │  701565          1371
   2 │  701565          1404
   3 │  701565          1384

In [56]:
df_pr_date_max = combine(df_pr_end, :num_date_end => maximum => :date_max);

In [57]:
size(df_pr_date_max)

(5987, 2)

In [58]:
df_pr_date_max[3015:3021, :]

7×2 DataFrame
 Row │ item_id  date_max
     │ Int32    Int64
─────┼───────────────────
   1 │  697523      1369
   2 │  697524      1611
   3 │  697525      1625
   4 │  697526      1811
   5 │  697527      1361
   6 │  697528      1305
   7 │  697529      1356

In [59]:
df_date = leftjoin(df_date, df_pr_date_min, on = :id => :item_id);

In [60]:
df_date = leftjoin(df_date, df_pr_date_max, on = :id => :item_id);

In [61]:
names(df_date)

5-element Vector{String}:
 "id"
 "num_date_birth"
 "num_date_death"
 "date_min"
 "date_max"

In [62]:
size(df_date), count(!ismissing, df_date.date_min), count(!ismissing, df_date.date_max)

((9346, 5), 9148, 5987)

Geburts- und Sterbedatum  
Geburts- und Sterbedaten - so vorhanden - können die Zeitspanne nur verkürzen!

In [63]:
min_may_be(x, y) = ismissing(x) ? y : (ismissing(y) ? x : min(x, y));
max_may_be(x, y) = ismissing(x) ? y : (ismissing(y) ? x : max(x, y));

In [64]:
transform!(df_date, [:date_min, :num_date_birth] => ByRow(max_may_be) => :date_min); # sic!

In [65]:
transform!(df_date, [:date_max, :num_date_death] => ByRow(min_may_be) => :date_max); # sic!

Übernimm' den jeweils gültigen Wert für fehlende Daten

In [66]:
get_first_not_missing(x, y) = !ismissing(x) ? x : y;

In [67]:
transform!(df_date, [:date_min, :date_max] => ByRow(get_first_not_missing) => :date_min);

In [68]:
transform!(df_date, [:date_max, :date_min] => ByRow(get_first_not_missing) => :date_max);

Damit sind Einträge mit fehlenden Daten entbehrlich

In [69]:
dropmissing!(df_date, :date_min);

In [70]:
size(df_date)

(9171, 5)

Trage die geänderten Daten ein

In [71]:
names(df_date)

5-element Vector{String}:
 "id"
 "num_date_birth"
 "num_date_death"
 "date_min"
 "date_max"

In [72]:
df_date[206:210, :]

5×5 DataFrame
 Row │ id      num_date_birth  num_date_death  date_min  date_max
     │ Int32   Int32?          Int32?          Signed    Signed?
─────┼────────────────────────────────────────────────────────────
   1 │ 692653         missing         missing      1503      1537
   2 │ 692654         missing         missing      1196      1200
   3 │ 692658         missing         missing      1351      1371
   4 │ 692659         missing         missing       968      1005
   5 │ 692660         missing            1498      1448      1498

In [73]:
count(ismissing, df_date.date_min), count(ismissing, df_date.date_max), count(ismissing, df_date.id)

(0, 0, 0)

In [74]:
extrema(df_date.id)

(692220, 701565)

In [75]:
describe(df_date)

5×7 DataFrame
 Row │ variable        mean         min     median    max     nmissing  eltype ⋯
     │ Symbol          Float64      Signed  Float64   Signed  Int64     Type   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ id                 6.9694e5  692220  696973.0  701565         0  Int32  ⋯
   2 │ num_date_birth  1637.89         925    1678.0    1845      7966  Union{
   3 │ num_date_death  1542.51         794    1551.0    1932      5099  Union{
   4 │ date_min        1459.73         732    1463.0    1882         0  Signed
   5 │ date_max        1478.7          768    1484.0    1932         0  Union{ ⋯
                                                                1 column omitted

In [76]:
stmt = DBInterface.prepare(Wds.dbwiag, "UPDATE person SET date_min = ?, date_max = ? WHERE id = ?");

In [77]:
n_loop = 1
for row in eachrow(df_date)
    date_min, date_max, id = Int64.(Tuple(row[[:date_min, :date_max, :id]]))
    DBInterface.execute(stmt, (date_min, date_max, id))
    n_loop += 1
end
n_loop

9172

In [78]:
DBInterface.close!(stmt)

Alternativen: Update über eine eigene Tabelle

In [71]:
sql = "DROP TABLE IF EXISTS date_update"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DROP TABLE IF EXISTS date_update", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [72]:
sql = "CREATE TEMPORARY TABLE date_update (id INT, date_min INT, date_max INT) 
ENGINE=InnoDB DEFAULT CHARSET=utf8;";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "CREATE TEMPORARY TABLE date_update (id INT, date_min INT, date_max INT) \nENGINE=InnoDB DEFAULT CHARSET=utf8;", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [73]:
names(df_date)

5-element Vector{String}:
 "id"
 "num_date_birth"
 "num_date_death"
 "date_min"
 "date_max"

In [74]:
columns = [
    :id => :id,
    :date_min => :date_min,
    :date_max => :date_max
]

3-element Vector{Pair{Symbol, Symbol}}:
       :id => :id
 :date_min => :date_min
 :date_max => :date_max

In [75]:
df_date[1:10, :]

10×5 DataFrame
 Row │ id      num_date_birth  num_date_death  date_min  date_max
     │ Int32   Int32?          Int32?          Signed    Signed?
─────┼────────────────────────────────────────────────────────────
   1 │ 301939         missing         missing      1410      1411
   2 │ 301940         missing         missing      1543      1588
   3 │ 301950         missing         missing      1208      1209
   4 │ 301951         missing         missing      1233      1284
   5 │ 301952         missing            1341      1324      1341
   6 │ 301954         missing         missing      1469      1472
   7 │ 301958         missing         missing      1522      1535
   8 │ 301960         missing            1527      1464      1527
   9 │ 301961         missing            1397      1373      1397
  10 │ 301968         missing         missing      1503      1533

*2022-02-20* nicht zu identifizierender Fehler: UndefRefError: access to undefined reference mit `Wds.filltable!`

Alternative, direkte Schleife

In [76]:
table_name = "date_update";
step_msg = 2000;
for (i, row) in enumerate(eachrow(df_date))
    sql = "INSERT INTO $(table_name) " *
    "VALUES ($(row[:id]), $(row[:date_min]), $(row[:date_max]))"
    DBInterface.execute(Wds.dbwiag, sql)
    if i % step_msg == 0
        @info "Datensatz" i
    end
end

┌ Info: Datensatz
│   i = 2000
└ @ Main In[76]:8
┌ Info: Datensatz
│   i = 4000
└ @ Main In[76]:8
┌ Info: Datensatz
│   i = 6000
└ @ Main In[76]:8
┌ Info: Datensatz
│   i = 8000
└ @ Main In[76]:8

In [77]:
sql = "UPDATE person AS p, 
(SELECT id, date_min, date_max FROM date_update) AS du
SET p.date_min = du.date_min, p.date_max = du.date_max
WHERE p.id = du.id";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "UPDATE person AS p, \n(SELECT id, date_min, date_max FROM date_update) AS du\nSET p.date_min = du.date_min, p.date_max = du.date_max\nWHERE p.id = du.id", 0, -1, 8786, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Sortierung der Person nach Amt
Die Tabelle `person_display_order` ist eine technische Hilfstabelle, um die Abfragen in Doctrine zu vereinfachen oder überhaupt erst zu ermöglichen. Jede Person erhält für jedes Bistum einen Sortierschlüssel und einen weiteren unabhängig vom Bistum.

*2022-01-17* Verzichte zunächst auf diese Tabelle und löse das Problem in der Web-Anwendung. So bleibt das Datenmodell schlanker.

In [45]:
using MySQL, DataFrames

Sortierung unabhängig von einer Diözese. Es werden auch Ämter berücksichtigt, die nicht mit einer Diözese verbunden sind.

In [48]:
sql = "SELECT person_id, 'any' as diocese, min(display_order) as display_order " *
"FROM person_role GROUP BY person_id";
df_do = db_exec(sql);

In [49]:
size(df_do)

(5159, 3)

Zwölf Bischöfe haben kein Amt!?

In [50]:
table_dst = "person_display_order"
Wds.filltable!(table_dst, df_do)

┌ Info: Rows inserted: 5159
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1169

5159

Sortierung nach Diözese

In [52]:
sql = "SELECT person_id, diocese_name as diocese, min(display_order) as display_order " *
"FROM person_role " *
"WHERE diocese_name IS NOT NULL " *
"GROUP BY person_id, diocese_name";
df_do = db_exec(sql);

In [53]:
size(df_do)

(6370, 3)

In [54]:
table_dst = "person_display_order"
Wds.filltable!(table_dst, df_do)

┌ Info: Rows inserted: 6370
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1169

6370

Bischöfe ohne Ämter

In [55]:
sql = "SELECT id AS person_id, 'any' as diocese, 950000 AS display_order " *
"FROM person WHERE id NOT IN (SELECT DISTINCT person_id FROM person_role)"
df_do_r = db_exec(sql);

In [56]:
size(df_do_r)

(12, 3)

In [57]:
table_dst = "person_display_order"
Wds.filltable!(table_dst, df_do_r)

┌ Info: Rows inserted: 12
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1169

12