# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Domherren aus dem Digitalen Personenregister einlesen

Übertrage Daten aus der GS-online. Die Daten werden aus der produktiven Datenbank auf eine lokale Datenbank eingelesen: `gso`

[Literatur](#Literatur)  
[Domherren](#Domherren)
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Literaturverweise eintragen](#Literaturverweise-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (`name_lookup`)](#Suchvarianten-eintragen-(name_lookup))
- [Bezug zu den anderen Quellen (`canon_lookup`)](#Bezug-zu-den-anderen-Quellen)

[Nachtrag](#Nachtrag-person.note_name)

Quelle: *2022-02-25* Datenbank `gso_in_202202`

Vorspann: Pakete laden; mit der Datenbank verbinden

In [2]:
gs_db = "gso_in_202202"

"gso_in_202202"

In [3]:
wds_path="../.."

"../.."

In [4]:
cd(wds_path)

In [5]:
using Pkg

In [6]:
Pkg.activate(".")

  Activating project at `C:\Users\georg\Documents\projekte\WiagDataSetup.jl`

In [7]:
using Revise

In [8]:
using WiagDataSetup

In [9]:
using MySQL, DataFrames

In [10]:
Wds = WiagDataSetup

WiagDataSetup

In [11]:
Wds.setDBWIAG(user="georg", db="wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

Item Type ID

In [12]:
item_type_id = 6

6

## Löschungen für umfassendes Update

In [158]:
table_name = "name_lookup";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 15749, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [159]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 2739, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [160]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 1507, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [161]:
table_name = "id_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 9557, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [162]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name)
WHERE person_role_id IN
(SELECT id FROM person_role
WHERE person_id in (SELECT id from item WHERE item_type_id = $(item_type_id)))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property\nWHERE person_role_id IN\n(SELECT id FROM person_role\nWHERE person_id in (SELECT id from item WHERE item_type_id = 6))", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [163]:
table_name = "person_role";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 14994, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [164]:
table_name = "person";
sql = "DELETE FROM $(table_name)
WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 8503, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [165]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 7401, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [166]:
table_name = "item";
sql = "DELETE FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item\nWHERE item_type_id = 6", 0, -1, 8503, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Literatur

In [11]:
table_name = gs_db * ".books"
sql = "SELECT id, titel AS title, autoren AS author, nummer AS number_vol, " *
"uri AS online_resource, kurztitel AS shorttitle " *
"FROM $(table_name)";
df_vol = Wds.sql_df(sql);

In [12]:
names(df_vol)

6-element Vector{String}:
 "id"
 "title"
 "author"
 "number_vol"
 "online_resource"
 "shorttitle"

In [13]:
columns = [
    :id => :reference_id,
    :title => :full_citation,
    :author => :author_editor,
    :online_resource => :online_resource,
    :shorttitle => :title_short,
    :number_vol => :gs_volume_nr,
]

6-element Vector{Pair{Symbol, Symbol}}:
              :id => :reference_id
           :title => :full_citation
          :author => :author_editor
 :online_resource => :online_resource
      :shorttitle => :title_short
      :number_vol => :gs_volume_nr

In [14]:
df_vol_db = select(df_vol, columns);

In [17]:
df_vol_db[!, :item_type_id] .= item_type_id;

Bestehende Einträge löschen

In [44]:
table_name = "reference_volume"
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 6", 0, -1, 87, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten eintragen

In [19]:
Wds.filltable!(table_name, df_vol_db, clear_table = false)

┌ Info: Rows inserted: 87
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1202

87

## Domherren

Betrachte nur Personen, deren Eintrag nicht gelöscht ist und die online sind. Die maßgebliche GSN steht in dem Datensatz mit dem kleinsten Wert der id.
Ergebnisse *2022-02-25*
``` sql
use gso_in_202202;
select gsn.nummer, item_id, gsn.deleted, items.deleted, items.status
from gsn join items on gsn.item_id = items.id 
where items.status = 'online' and not items.deleted limit 12 offset 4000;
select count(*) from gsn join items on gsn.item_id = items.id where items.status = 'online' and not items.deleted;
```
98544
``` sql
select count(distinct(gsn.nummer)) 
from gsn join items on gsn.item_id = items.id 
where items.status = 'online' and not items.deleted;
```
98543
``` sql
create temporary table item_online as
select min(gsn.id) as gsn_tbl_id, gsn.nummer, item_id, items.deleted, items.status
from gsn join items on gsn.item_id = items.id where items.status = 'online'
group by items.id;
select count(*) from item_online;
```
87270

Finde Einträge, die von der Domherrendatenbank referenziert werden (sofern die verweisenden Domherren online sind!)

In [167]:
table_name = "item";
sql = "SELECT item.id as dh_item_id, e.value AS gsn
FROM wiag2.item 
JOIN wiag2.id_external AS e ON item.id = e.item_id
WHERE item_type_id = 5
AND authority_id = 200
AND item.is_online";
dh_gsn = Wds.sql_df(sql);

In [168]:
size(dh_gsn, 1)

451

Lies aus `gsn` `item_id`

In [169]:
table_name = gs_db * ".gsn"
sql = "SELECT gsn.id as gsn_id, item_id, gsn.nummer, items.status 
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
AND NOT items.deleted AND items.status = 'online';"
item_all = Wds.sql_df(sql);

In [170]:
dh_item_gsn = innerjoin(dh_gsn, item_all, on = :gsn => :nummer);

In [171]:
size(dh_item_gsn, 1)

450

Ermittle die IDs der Domherren anhand der relevanten Stifte.

In [172]:
sql = "SELECT id_gsn FROM wiag2.institution AS inst
JOIN wiag2.item_property AS prp ON inst.id = prp.item_id
WHERE prp.name = 'domstift_short'"
df_dft = Wds.sql_df(sql);

In [173]:
ids_dft = "(" * join(df_dft.id_gsn, ", ") * ")"

"(3490, 3491, 3492, 3493, 3494, 3495, 3496, 3498, 3499, 3500, 3501, 3502, 3503, 2066, 953, 832, 783, 792, 794, 803, 736, 739, 675, 676, 679, 701, 616, 628, 343, 226, 3489, 3488, 3487, 60130)"

Betrachte nur gültige Amtseinträge

In [174]:
table_name = gs_db * ".offices";
sql = "SELECT DISTINCT(person_id), item_id 
FROM $(table_name) 
JOIN $(gs_db).persons AS p ON p.id = person_id
WHERE klosterid in $(ids_dft) AND NOT offices.deleted"
mon_item = Wds.sql_df(sql);

In [175]:
size(mon_item, 1)

8769

In [176]:
str_item = "(" * join(mon_item.item_id, ", ") * ")";

In [177]:
table_name = gs_db * ".gsn"
sql = "SELECT min(gsn.id) as id, item_id
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
WHERE item_id IN $(str_item)
AND NOT items.deleted AND items.status = 'online'
GROUP BY item_id";
mon_gsn_id = Wds.sql_df(sql);

In [178]:
size(mon_gsn_id, 1)

8439

In [179]:
str_gsn_id = "(" * join(mon_gsn_id.id, ", ") * ")";

In [180]:
table_name = gs_db * ".gsn"
sql = "SELECT gsn.id as gsn_id, item_id, gsn.nummer as gsn, items.status
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
WHERE gsn.id in $(str_gsn_id)";
mon_item_gsn = Wds.sql_df(sql);

In [181]:
size(mon_item_gsn, 1)

8439

Ohne die Einträge, die über die Domherrenbank referenziert werden.

In [182]:
mon_item_gsn_delta = antijoin(mon_item_gsn, dh_item_gsn, on = :item_id);

In [183]:
size(mon_item_gsn_delta)

(8074, 4)

In [184]:
item_gsn = vcat(mon_item_gsn_delta, select(dh_item_gsn, Not(:dh_item_id)));

In [185]:
size(item_gsn, 1)

8524

Test

In [186]:
df_info = innerjoin(dh_gsn, item_gsn, on = :gsn);

In [187]:
size(df_info, 1) # ok!

450

`persons`

In [188]:
table_name = gs_db * ".persons"
sql = "SELECT p.id as id_person_gso, item_id, " *
"namenspraefix, vorname, familienname, " *
"sterbedatum, geburtsdatum, `orden`, " *
"anmerkungen, titel, " * 
"gndnummer, viaf, " *
"familiennamenvarianten, vornamenvarianten, " *
"namenszusatz, " *
"zeitraum_von, zeitraum_bis " *
"FROM $(table_name) as p " *
"JOIN $gs_db.items ON items.id = p.item_id " *
"WHERE items.status = 'online' AND NOT items.deleted " *
"ORDER BY p.id";
df_p = Wds.sql_df(sql);

In [189]:
Wds.clean_up!(df_p)

In [190]:
one_valid(x, y) = !ismissing(x) | !ismissing(y)
subset!(df_p, [:vorname, :familienname] => ByRow(one_valid));

In [94]:
names(item_gsn)

4-element Vector{String}:
 "gsn_id"
 "item_id"
 "gsn"
 "status"

In [191]:
df_p_gsn = innerjoin(df_p, item_gsn, on = :item_id);

In [192]:
size(df_p_gsn, 1)

8523

### IDs zuordnen
Lies bestehende IDs.

*2022-01-19* IDs sind von WIAG 1 zu übernehmen, später bei einem Update aus dem jeweils zuletzt verwendeten Datensatz

In [193]:
sql = "SELECT id AS id_wiag, id_person_gso FROM wiag.cn_canon_gs"
df_id_cn_wiag = Wds.sql_df(sql);

In [194]:
df_cn_id = leftjoin(df_p_gsn, df_id_cn_wiag, on = :id_person_gso);

In [195]:
size(df_cn_id)

(8523, 21)

In [196]:
df_cn_id_id = subset(df_cn_id, :id_wiag => ByRow(!ismissing));
df_cn_id_new = subset(df_cn_id, :id_wiag => ByRow(ismissing));

In [197]:
size(df_cn_id_new, 1)

83

*2022-03-10* Es sind 83 neue IDs zu vergeben. (zunächst "nur" für WIAGweb2)

In [198]:
next_id = maximum(df_cn_id_id.id_wiag) + 1

90233

In [199]:
sort!(df_cn_id_new, :item_id);

In [200]:
id = next_id
for row in eachrow(df_cn_id_new)
    row[:id_wiag] = id
    id += 1
end

In [201]:
df_cn_id_id[end-5:end, [:item_id, :gsn_id, :id_wiag, :vorname, :familienname]]

6×5 DataFrame
 Row │ item_id  gsn_id  id_wiag  vorname    familienname
     │ Int32    Int32   Int32?   String?    String?
─────┼───────────────────────────────────────────────────
   1 │  337302  381937    90227  Lippold    Alten Markt
   2 │  337303  381938    90228  Heinrich   Koler
   3 │  337305  381940    90229  Georg      Giech
   4 │  337306  381942    90230  Matthias   Meyer
   5 │  337308  381947    90231  Wipert     Grumbach
   6 │  337309  381949    90232  Sebastian  Gruben

In [202]:
df_cn_id_new[1:5, [:item_id, :gsn_id, :id_wiag, :vorname, :familienname]]

5×5 DataFrame
 Row │ item_id  gsn_id  id_wiag  vorname     familienname
     │ Int32    Int32   Int32?   String?     String?
─────┼────────────────────────────────────────────────────
   1 │    4805    6633    90233  Brunward    missing
   2 │   26662  281113    90234  Egilwart    missing
   3 │   50730   37806    90235  Johannes    Kolkhagen
   4 │  101648   88632    90236  Karl Franz  Nesselrode
   5 │  101768   88752    90237  Burchard    Oberg

In [203]:
df_cn_all = vcat(df_cn_id_id, df_cn_id_new);

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Domherr GS' in `item_type`: 6

In [204]:
df_cn_all[210:215, [:vorname, :familienname, :geburtsdatum, :sterbedatum, :id_wiag]]

6×5 DataFrame
 Row │ vorname     familienname  geburtsdatum  sterbedatum  id_wiag
     │ String?     String?       String?       String?      Int32?
─────┼──────────────────────────────────────────────────────────────
   1 │ Burchard    Steinbeck     missing       1470           80221
   2 │ Burchard    Warberg       missing       1458           80222
   3 │ Burchardus  missing       missing       missing        80225
   4 │ Busso       Bartensleben  missing       missing        80226
   5 │ Busso       Britzke       1534          1572           80232
   6 │ Busso       Schilt        missing       missing        80234

In [205]:
columns = [
    :id_person_gso => :id_in_source,
    :id_wiag => :id_wiag
]

2-element Vector{Pair{Symbol, Symbol}}:
 :id_person_gso => :id_in_source
       :id_wiag => :id_wiag

In [206]:
df_item = select(df_cn_all, columns);

In [207]:
using Dates

In [208]:
user_wiag_id = 1;
time_stamp = Dates.format(now(), dateformat"yyyy-mm-dd HH:MM");

In [209]:
insertcols!(
    df_item, 
    1,
    :item_type_id => item_type_id,
    :edit_status => "importiert",
    :created_by => user_wiag_id,
    :date_created => time_stamp,
    :changed_by => user_wiag_id,
    :date_changed => time_stamp,
    :is_online => 1
);

In [210]:
df_item[17, :]

DataFrameRow
 Row │ item_type_id  edit_status  created_by  date_created      changed_by  da ⋯
     │ Int64         String       Int64       String            Int64       St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
  17 │            6  importiert            1  2022-03-10 18:19           1  20 ⋯
                                                               4 columns omitted

Public ID erzeugen

In [211]:
function make_id_public(id::Real)
    id_public_key = "Pers-CANON"
    num_id_length = 5
    return "WIAG-" * id_public_key * "-" * lpad(id, num_id_length, '0') * "-001"
end

make_id_public (generic function with 1 method)

In [212]:
transform!(df_item, :id_wiag => ByRow(make_id_public) => :id_public);

In [213]:
names(df_item)

10-element Vector{String}:
 "item_type_id"
 "edit_status"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "is_online"
 "id_in_source"
 "id_wiag"
 "id_public"

Bestehende Einträge löschen  
Die Einträge in `item` sind bei einem Update als letztes zu löschen, da die anderen Tabellen von Tabelle `item` abhängen.

In [214]:
item_type_id

6

In [215]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 6", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [216]:
exclude_cols = [
    :id_wiag,    
]

1-element Vector{Symbol}:
 :id_wiag

In [217]:
table_name = "item";
Wds.filltable!(table_name, select(df_item, Not(exclude_cols)), clear_table = false)

┌ Info: Rows inserted: 8523
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

8523

### Daten eintragen

IDs auslesen

In [218]:
table_name = "item";
sql = "SELECT id, id_in_source FROM $(table_name) where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

In [219]:
size(df_idx)

(8523, 2)

Spalte für die Zusammenführung befüllen (Typ: String!)

In [220]:
transform!(df_cn_all, :id_person_gso => ByRow(string) => :id_in_source);

In [221]:
df_cn_idx = innerjoin(df_idx, df_cn_all, on = :id_in_source);

Jahreszahlen ermitteln

In [222]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [223]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [224]:
transform!(df_cn_idx, :geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

In [225]:
transform!(df_cn_idx, :sterbedatum => ByRow(parse_date_death) => :num_date_death);

Felder auswählen; Orden folgen später (siehe unten)

In [251]:
names(df_cn_idx)

25-element Vector{String}:
 "id"
 "id_in_source"
 "id_person_gso"
 "item_id_gs"
 "namenspraefix"
 "vorname"
 "familienname"
 "sterbedatum"
 "geburtsdatum"
 "orden"
 "anmerkungen"
 "titel"
 "gndnummer"
 "viaf"
 "familiennamenvarianten"
 "vornamenvarianten"
 "namenszusatz"
 "zeitraum_von"
 "zeitraum_bis"
 "gsn_tbl_id"
 "gsn_id"
 "status"
 "id_wiag"
 "num_date_birth"
 "num_date_death"

In [226]:
columns = [
    :id => :id,
    :namenspraefix => :prefixname,
    :vorname => :givenname,
    :familienname => :familyname,
    :anmerkungen => :comment,
    :geburtsdatum => :date_birth,
    :sterbedatum => :date_death,
    :num_date_birth => :num_date_birth,
    :num_date_death => :num_date_death,
]

9-element Vector{Pair{Symbol, Symbol}}:
             :id => :id
  :namenspraefix => :prefixname
        :vorname => :givenname
   :familienname => :familyname
    :anmerkungen => :comment
   :geburtsdatum => :date_birth
    :sterbedatum => :date_death
 :num_date_birth => :num_date_birth
 :num_date_death => :num_date_death

Einträge löschen (Korrektur/Update)

In [227]:
table_name = "person"
sql = "DELETE FROM $(table_name)
WHERE id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN (SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [228]:
Wds.filltable!("person", select(df_cn_idx, columns); clear_table=false)

┌ Info: Rows inserted: 8523
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

8523

### Orden eintragen
*2022-01-19* Die (vorläufige) Ordenstabelle basiert auf den Ordensangaben für Bischöfe und auf den Ordensangaben hier.

In [86]:
unique(df_cn_all.orden)

10-element Vector{Union{Missing, String}}:
 missing
 "OPraem"
 "SJ"
 "OP"
 "Kapuziner"
 "OFMObs"
 "S. J."
 "OSB"
 "OT"
 "CRVC"

In [229]:
lookup_order = Dict(
    "Kapuziner" => "OFMCap",
    "S. J." => "SJ",
)

Dict{String, String} with 2 entries:
  "Kapuziner" => "OFMCap"
  "S. J."     => "SJ"

In [230]:
normalize_order(order) = get(lookup_order, order, order)

normalize_order (generic function with 1 method)

In [231]:
transform!(df_cn_idx, :orden => ByRow(normalize_order) => :orden);

In [232]:
orders_gs = filter(!ismissing, unique(df_cn_idx.orden))

9-element Vector{Union{Missing, String}}:
 "OPraem"
 "SJ"
 "OP"
 "OFMCap"
 "OFMObs"
 "OSB"
 "OT"
 "CRVC"
 "OCist"

In [124]:
table_name = "religious_order"
sql = "SELECT abbreviation FROM $(table_name)"
df_orders = Wds.sql_df(sql);

In [125]:
new_orders = setdiff(orders_gs, df_orders.abbreviation)

Union{Missing, String}[]

Eintrag in `item`

*2022-02-25* Nur nötig, wenn die Orden neu angelegt werden.

In [141]:
table_name = "item";
sql = "SELECT * FROM $(table_name) LIMIT 0";
df_item = Wds.sql_df(sql);

In [135]:
id_next = 22;

In [136]:
item_type_order = 7;
user_wiag_id = 7; # Georg
time_stamp = Dates.format(now(), dateformat"yyyy-mm-dd HH:MM");

In [142]:
df_item = select(df_item, Not(:id));

In [156]:
table_name = "item"
sql = "INSERT INTO $(table_name) SET
    item_type_id = $(item_type_order),    
    id_in_source = $(id_next),
    is_deleted = 0,
    is_online = 0,
    created_by = $(user_wiag_id),
    date_created = '$(time_stamp)',
    changed_by = $(user_wiag_id),
    date_changed = '$(time_stamp)'"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "INSERT INTO item SET\n    item_type_id = 7,    \n    id_in_source = 22,\n    is_deleted = 0,\n    is_online = 0,\n    created_by = 7,\n    date_created = '2022-01-19 11:11',\n    changed_by = 7,\n    date_changed = '2022-01-19 11:11'", 0, -1, 1, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Lies `id_item` für religiöse Orden aus

In [233]:
table_name = "item"
sql = "SELECT id, id_in_source 
FROM $(table_name) 
WHERE id_in_source = $(id_next) and item_type_id = $(item_type_order)"
df_idx = Wds.sql_df(sql);

LoadError: UndefVarError: id_next not defined

In [160]:
item_id = df_idx[1, :id]

92259

In [161]:
table_name = "religious_order";
sql = "INSERT INTO $(table_name) SET id = $(item_id), abbreviation = 'CRVC'";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "INSERT INTO religious_order SET id = 92259, abbreviation = 'CRVC'", 0, -1, 1, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Tabelle `person` aktualisieren

In [234]:
df_cn_order = dropmissing(df_cn_idx, :orden);

In [235]:
size(df_cn_order)

(56, 25)

Lies die ID für die Orden aus.

In [236]:
table_name = "religious_order"
sql = "SELECT id AS religious_order_id, abbreviation AS orden FROM $(table_name)";
df_order_db = Wds.sql_df(sql);

In [237]:
df_cn_order = leftjoin(df_cn_order, df_order_db, on = :orden);

In [238]:
count(ismissing.(df_cn_order.religious_order_id))

0

In [239]:
DBInterface.execute(Wds.dbwiag, "DROP TABLE IF EXISTS person_update");
sql = "CREATE TEMPORARY TABLE person_update (" *
"id INT, " *
"religious_order_id INT)"
DBInterface.execute(Wds.dbwiag, sql);

In [240]:
Wds.filltable!("person_update", select(df_cn_order, :id, :religious_order_id))

┌ Info: Rows inserted: 56
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

56

In [241]:
table_name = "person"
table_update_src = "person_update"
sql = "UPDATE $(table_name) as p, (SELECT id, religious_order_id FROM $(table_update_src)) as oid " *
"SET p.religious_order_id = oid.religious_order_id " *
"WHERE p.id = oid.id"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "UPDATE person as p, (SELECT id, religious_order_id FROM person_update) as oid SET p.religious_order_id = oid.religious_order_id WHERE p.id = oid.id", 0, -1, 56, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

### Literaturverweise eintragen

IDs wieder einlesen, falls hier neu gestartet wird.

In [73]:
table_name = "item";
sql = "SELECT id, id_in_source
FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
df_idx = Wds.sql_df(sql);

In [242]:
size(df_idx, 1), size(df_p_gsn, 1)

(8523, 8523)

In [83]:
find_ids(id) = id in ("4586", "4590", "4620", "4623")

find_ids (generic function with 1 method)

In [84]:
subset(df_idx, :id_in_source => ByRow(find_ids))

4×2 DataFrame
 Row │ id      id_in_source
     │ Int32   String?
─────┼──────────────────────
   1 │ 145492  4623
   2 │ 145493  4620
   3 │ 145494  4590
   4 │ 145495  4586

In [100]:
df_p_gsn[1:5, [:id_person_gso, :vorname]]

5×2 DataFrame
 Row │ id_person_gso  vorname
     │ Int32          String?
─────┼─────────────────────────
   1 │        281468  Peter
   2 │        281436  Thomas
   3 │        281438  Albrecht
   4 │        307203  Dietrich
   5 │        281440  Peter

In [243]:
transform!(df_p_gsn, :id_person_gso => ByRow(string) => :id_in_source);

In [244]:
df_cn_idx = innerjoin(df_p_gsn, df_idx, on = :id_in_source);

In [245]:
size(df_cn_idx, 1)

8523

In [246]:
table_name = gs_db * ".locations";
sql = "SELECT item_id as item_id_gs, seiten, book_id  FROM $(table_name) " * 
"WHERE item_status = 'online' AND NOT deleted " *
"GROUP BY item_id, book_id, seiten"
df_p_ref = Wds.sql_df(sql);

Verbinde die Literaturangaben mit den relevanten Domherren

In [247]:
columns = [:id => :item_id, :item_id => :item_id_gs]

2-element Vector{Pair{Symbol, Symbol}}:
      :id => :item_id
 :item_id => :item_id_gs

In [248]:
df_p_ref = innerjoin(df_p_ref, select(df_cn_idx, columns), on = :item_id_gs);

In [249]:
size(df_p_ref)

(14014, 4)

Übernimm für Domherren mit Kurzbiographie nur Literaturhinweise mit Kurzbiographien (`transfer_gso.sql`: 2021-04-26) Es ist freilich möglich, dass es mehrere Literaturverweise gibt, die eine Kurzbiographie enthalten.

In [250]:
is_bio(seiten) = contains(seiten, "<b>");

In [251]:
df_p_ref_bio = subset(df_p_ref, :seiten =>ByRow(is_bio));

In [252]:
size(df_p_ref_bio)

(7405, 4)

Bilde die Differenzmenge in Bezug auf Domherren, nicht in Bezug auf Literaturverweise

In [253]:
is_item_bio(item_id) = item_id in unique(df_p_ref_bio.item_id)

is_item_bio (generic function with 1 method)

In [254]:
df_p_ref_mg_bio = subset(df_p_ref, :item_id => ByRow(!is_item_bio));

Einträge löschen für Korrekturen oder ein Update

In [255]:
item_type_id

6

In [256]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 6", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [257]:
insertcols!(df_p_ref_bio, 1, :item_type_id => item_type_id);

In [258]:
insertcols!(df_p_ref_mg_bio, 1, :item_type_id => item_type_id);

In [259]:
columns = [
    :item_id => :item_id,
    :seiten => :page,
    :item_type_id => :item_type_id,
    :book_id => :reference_id,
]

4-element Vector{Pair{Symbol, Symbol}}:
      :item_id => :item_id
       :seiten => :page
 :item_type_id => :item_type_id
      :book_id => :reference_id

In [260]:
table_name = "item_reference"
Wds.filltable!(table_name, select(df_p_ref_bio, columns))

┌ Info: Rows inserted: 7405
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

7405

*2022-02-25* Es werden nur noch Literaturangaben mit Kurzbiographie berücksichtigt.

In [156]:
table_name = "item_reference"
Wds.filltable!(table_name, select(df_p_ref_mg_bio, columns))

┌ Info: Rows inserted: 2327
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1206

2327

Probe:
``` sql
select count(distinct(item_id)) from item_reference where item_type_id = 6;
```
7389

Es gibt also für jeden Domherren mindestens einen Literaturverweis

### Externe URLs eintragen

In [157]:
using MySQL, DataFrames

In [156]:
Wds.setDBWIAG(user = "georg", db = "wiag2")

Passwort für User georg
stdin> topf&deckel

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

In [239]:
item_type_id = 6

6

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [261]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [195]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)"
Wds.sql_df(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

In [200]:
df_cn_idx[300:307, [:id, :id_in_source, :givenname, :familyname, :gsn_id, :gsn]]

8×6 DataFrame
 Row │ id      id_in_source  givenname   familyname   gsn_id  gsn
     │ Int32   String        String?     String?      Int32   String?
─────┼──────────────────────────────────────────────────────────────────────
   1 │ 145765  9668          Franz       Königsmarck  207575  005-02559-001
   2 │ 145766  10069         Godeke      Blumenberg   207976  005-02960-001
   3 │ 145767  10067         Godefridus  missing      207974  005-02958-001
   4 │ 145768  10021         Giselbert   missing      207928  005-02912-001
   5 │ 145769  10004         Gezo        missing      207911  005-02895-001
   6 │ 145770  9979          Gero        missing      207886  005-02870-001
   7 │ 145771  9957          Gerlach     Hohenfels    207864  005-02848-001
   8 │ 145772  9947          Gerhard     Schulte      207854  005-02838-001

**VIAF**, dann GND, GSN

In [262]:
authority_id = 4 # siehe oben

4

In [263]:
col = :viaf;
df_p_auth = dropmissing(df_cn_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [264]:
size(df_p_auth)

(1, 24)

In [265]:
df_p_auth

1×24 DataFrame
 Row │ authority_id  id_person_gso  item_id  namenspraefix  vorname            ⋯
     │ Int64         Int32          Int32    String?        String?            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │            4         325149   331572  von            Joseph Christian   ⋯
                                                              19 columns omitted

In [266]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :value => :value,
]

3-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
        :value => :value

In [267]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 1
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1

**GND**

In [268]:
authority_id = 1 # siehe oben

1

In [269]:
col = :gndnummer
df_p_auth = dropmissing(df_cn_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [270]:
size(df_p_auth)

(1070, 24)

In [271]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 1070
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1070

**GSN**

In [272]:
authority_id = 200 # siehe oben

200

In [273]:
col = :gsn
df_p_auth = dropmissing(df_cn_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [274]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 8523
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

8523

### Namensvarianten eintragen

In [145]:
using MySQL, DataFrames

In [275]:
col = :familiennamenvarianten;
df_fnv = dropmissing(df_cn_idx, col);

In [276]:
size(df_fnv)

(1816, 22)

In [277]:
df_exp = Wds.expand_column(df_fnv, col, delim = ",");

In [278]:
size(df_exp)

(2744, 22)

In [279]:
df_exp[150:157, [:vorname, :familienname, col]]

8×3 DataFrame
 Row │ vorname   familienname  familiennamenvarianten
     │ String?   String?       String
─────┼────────────────────────────────────────────────
   1 │ Leonhard  Kalben        Calven
   2 │ Leonhard  Kalben        Calvis
   3 │ Konrad    Wellen        Welle
   4 │ Konrad    Oppen         Opin
   5 │ Konrad    Oppen         Uppin
   6 │ Konrad    Oppen         Upin
   7 │ Konrad    Freyenstein   Vryenstein
   8 │ Ludwig    Rieda         Riden

Spalte `lang` hat den Default-Wert 'de'.

In [280]:
columns = [
    :id => :person_id,
    :familiennamenvarianten => :name,
]

2-element Vector{Pair{Symbol, Symbol}}:
                     :id => :person_id
 :familiennamenvarianten => :name

Einträge löschen (Korrekturen, Daten-Update)

In [281]:
item_type_id

6

In [282]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [283]:
table_name = "familyname_variant"
Wds.filltable!(table_name, select(df_exp, columns))

┌ Info: Rows inserted: 2744
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

2744

Vornamen

In [284]:
col = :vornamenvarianten;
df_gnv = dropmissing(df_cn_idx, col);

In [285]:
size(df_gnv)

(1141, 22)

In [286]:
df_exp = Wds.expand_column(df_gnv, col, delim = r", *");

In [287]:
size(df_exp)

(1513, 22)

In [288]:
df_exp[150:157, [:vorname, :familienname, col]]

8×3 DataFrame
 Row │ vorname   familienname  vornamenvarianten
     │ String?   String?       String
─────┼───────────────────────────────────────────
   1 │ Heinrich  Bork          Henricus
   2 │ Heinrich  Bork          Heinricus
   3 │ Heinrich  missing       Hinricus
   4 │ Heinrich  missing       Heinricus
   5 │ Heinrich  missing       Heinrik
   6 │ Hermann   Hövel         Hermannus
   7 │ Hermann   Hövel         Herimannus
   8 │ Hermann   Bevern        Herimannus

In [289]:
columns = [
    :id => :person_id,
    col => :name,
]

2-element Vector{Pair{Symbol, Symbol}}:
                :id => :person_id
 :vornamenvarianten => :name

Einträge löschen (Korrekturen, Daten-Update)

In [290]:
item_type_id

6

In [291]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [292]:
table_name = "givenname_variant"
Wds.filltable!(table_name, select(df_exp, columns))

┌ Info: Rows inserted: 1513
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1513

### Suchvarianten eintragen (name_lookup)

In [293]:
columns = [    
    :vorname => :givenname,
    :vornamenvarianten => :givenname_variant,
    :namenspraefix => :prefix_name,
    :familienname => :familyname,
    :familiennamenvarianten => :familyname_variant,
];
lookup_columns = Dict(columns)

Dict{Symbol, Symbol} with 5 entries:
  :vorname                => :givenname
  :namenspraefix          => :prefix_name
  :familiennamenvarianten => :familyname_variant
  :familienname           => :familyname
  :vornamenvarianten      => :givenname_variant

In [294]:
rename!(df_cn_idx, lookup_columns);

In [295]:
df_nl = Wds.create_name_lookup(df_cn_idx); # schaut gut aus

In [296]:
names(df_nl)

3-element Vector{String}:
 "person_id"
 "gn_fn"
 "gn_prefix_fn"

In [297]:
size(unique(df_nl.person_id))

(8523,)

In [298]:
df_nl_empty = filter(:gn_fn => ismissing, df_nl);

In [299]:
size(df_nl_empty)

(0, 3)

In [300]:
df_nl[2300:2312, :]

13×3 DataFrame
 Row │ person_id  gn_fn                              gn_prefix_fn              ⋯
     │ Int64      String?                            String?                   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    155599  Johann Mosbach von Lindenfels      missing                   ⋯
   2 │    155600  Franz August Morsey-Piccard        Franz August von Morsey-P
   3 │    155600  Franz Morsey-Piccard               Franz von Morsey-Piccard
   4 │    155601  Johann Morrien                     missing
   5 │    155602  Alexander Morrien                  missing                   ⋯
   6 │    155603  Alexander Morrien                  missing
   7 │    155604  Johann Reinhard Metternich         Johann Reinhard von Mette
   8 │    155604  Johann Metternich                  Johann von Metternich
   9 │    155604  Johann Rembert Metternich          Johann Rembert von Metter ⋯
  10 │    155604  Johann Metternich                  Johann von Metternich
  11 │    155605  Christoph Meschede                 Christoph von Meschede
  12 │    155606  Alexander Hermann Joseph Franz M…  Alexander Hermann Joseph
  13 │    155606  Alexander Merode                   Alexander von Merode      ⋯
                                                                1 column omitted

Entferne Einträge für diese Art von Items

In [301]:
table_name = "name_lookup"
sql = "DELETE FROM $(table_name) 
WHERE person_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup \nWHERE person_id IN (SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [302]:
names(df_nl)

3-element Vector{String}:
 "person_id"
 "gn_fn"
 "gn_prefix_fn"

In [303]:
table_name = "name_lookup"
Wds.filltable!(table_name, df_nl)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 15785
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

15785

## Bezug zu den anderen Quellen
Siehe **Variante** unten  
Zuerst Update der Domherrendatenbank durchführen

GS-EP und DH-EP: alle;  
GS-DH ohne GS-EP  
DH-DH ohne DH-EP  
GS-GS ohne GS-DH ohne GS-EP  
schließliche EP-EP (sofern EP als Ziel vorkommt)

In [12]:
df_cn_lp = DataFrame(person_id = Int[], person_id_canon = Int[])

0×2 DataFrame

GS - EP

In [13]:
authority_id = 200; # GSN
item_type_ep = 4; # Bischof
item_type_gs = 6; # Domherr GS
sql = "SELECT gs_gsn.id as person_id, ep_gsn.id as person_id_canon FROM
(SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_gs)
AND ext.authority_id = $(authority_id)) AS gs_gsn
JOIN (SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_ep)
AND ext.authority_id = $(authority_id)) AS ep_gsn 
ON ep_gsn.id_gsn = gs_gsn.id_gsn"
df_gs_ep = Wds.sql_df(sql);

In [14]:
size(df_gs_ep)

(556, 2)

In [238]:
df_gs_ep[530:535, :]

6×2 DataFrame
 Row │ person_id  person_id_canon
     │ Int32      Int32
─────┼────────────────────────────
   1 │    106997             4915
   2 │    107014             4916
   3 │    106819             4919
   4 │    104154             4934
   5 │    107033             4943
   6 │    104347             4947

In [15]:
append!(df_cn_lp, df_gs_ep);

DH - EP

In [16]:
authority_id = 5; # WIAG
item_type_ep = 4; # Bischof
item_type_dh = 5; # Domherr
sql = "SELECT dh.id AS person_id, ep.id AS person_id_canon
FROM (SELECT i.id, ext_dh.value AS id_ep_public
FROM item as i 
JOIN id_external as ext_dh ON i.id = ext_dh.item_id
WHERE ext_dh.authority_id = $(authority_id)
AND i.item_type_id = $(item_type_dh)
AND i.is_online) AS dh
JOIN (SELECT i.id, i.id_public
FROM item AS i
WHERE i.item_type_id = $(item_type_ep)) AS ep
ON ep.id_public = dh.id_ep_public";
df_dh_ep = Wds.sql_df(sql);

In [16]:
size(df_dh_ep)

(149, 2)

In [251]:
df_dh_ep[50:57, :]

8×2 DataFrame
 Row │ person_id  person_canon_id
     │ Int32      Int32
─────┼────────────────────────────
   1 │     55845             3251
   2 │     55782             2983
   3 │     57510             2543
   4 │     58233             2544
   5 │     58013             2551
   6 │     60205             1703
   7 │     60203             1375
   8 │     60199             1698

In [17]:
append!(df_cn_lp, df_dh_ep);

GS - DH ohne GS - EP (nur Neuzugänge)

In [18]:
authority_id = 200; # GSN
item_type_dh = 5; # Domherr
item_type_gs = 6; # Domherr GS
sql = "SELECT gs_gsn.id as person_id, dh_gsn.id as person_id_canon FROM
(SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_gs)
AND ext.authority_id = $(authority_id)) AS gs_gsn
JOIN (SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_dh)
AND ext.authority_id = $(authority_id)) AS dh_gsn 
ON dh_gsn.id_gsn = gs_gsn.id_gsn"
df_gs_dh = Wds.sql_df(sql);

In [19]:
size(df_gs_dh)

(332, 2)

In [19]:
in_person_id(id) = id in df_cn_lp.person_id

in_person_id (generic function with 1 method)

In [20]:
df_gs_dh = subset(df_gs_dh, :person_id => ByRow(!in_person_id));

In [22]:
size(df_gs_dh)

(287, 2)

In [27]:
df_gs_dh[250:255, :]

6×2 DataFrame
 Row │ person_id  person_id_canon
     │ Int32      Int32
─────┼────────────────────────────
   1 │    106340            55419
   2 │    106363            55621
   3 │    106372            60786
   4 │    106376            55611
   5 │    106377            55612
   6 │    106378            55626

In [21]:
append!(df_cn_lp, df_gs_dh);

DH - DH und GS - GS ohne DH - EP ohne GS - DH ohne GS - EP: nur Neuzugänge

In [22]:
table_name = "item";
item_type_dh = 5;
item_type_gs = 6;
sql = "SELECT id as person_id, id as person_id_canon 
FROM $(table_name) WHERE item_type_id in ($(item_type_dh), $(item_type_gs)) AND is_online";
df_cn_rx = Wds.sql_df(sql);

In [24]:
size(df_cn_rx)

(10002, 2)

In [23]:
df_cn_rx = subset(df_cn_rx, :person_id => ByRow(!in_person_id));

In [25]:
size(df_cn_rx)

(10002, 2)

In [26]:
append!(df_cn_lp, df_cn_rx);

In [29]:
size(df_cn_lp)

(9822, 2)

EP - EP, sofern sie als Ziel vorkommen

In [27]:
table_name = "item";
item_type_ep = 4;
sql = "SELECT id FROM $(table_name) WHERE item_type_id = $(item_type_ep)"
df_ids_ep = Wds.sql_df(sql);

In [28]:
ids_ep_lp = intersect(df_ids_ep.id, df_cn_lp.person_id_canon);

In [29]:
size(ids_ep_lp)

(667,)

In [30]:
df_ep_ep = DataFrame(person_id = ids_ep_lp, person_id_canon = ids_ep_lp);

In [31]:
append!(df_cn_lp, df_ep_ep);

In [32]:
size(df_cn_lp)

(11693, 2)

In [33]:
table_name = "canon_lookup";
Wds.filltable!(table_name, df_cn_lp, clear_table = true)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 11693
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

11693

### Bezug zu anderen Quellen (2)
Neue Struktur von `canon_online`: Ein Datensatz pro Domherr mit den Feldern `canon`, `canon_gs`, `bishop`

Domherrendatenbank

IDs der Domherren aus der Domherrendatenbank und die Verweise auf Bischöfe und Domherren aus der Personendatenbank

In [304]:
table_name = "item";
item_type_domherr = 5;
sql = "SELECT i.id as dh, e1.value AS dh_gsn, e2.value AS dh_episc_id
FROM $(table_name) AS i
LEFT JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
LEFT JOIN id_external AS e2 ON e2.item_id = i.id AND e2.authority_id = 5
WHERE i.item_type_id = $(item_type_domherr) AND i.is_online";
df_dh = Wds.sql_df(sql);

In [305]:
size(df_dh, 1)

2587

In [68]:
gsn_and_episc_id(x, y) = !(ismissing(x) | ismissing(y))
df_all_ids = subset(df_dh, [:dh_gsn, :dh_episc_id] => ByRow(gsn_and_episc_id));

In [69]:
df_all_ids[5:10, :]

6×3 DataFrame
 Row │ dh      dh_gsn         dh_episc_id
     │ Int32   String?        String?
─────┼──────────────────────────────────────────────────────
   1 │ 123644  068-00445-001  WIAG-Pers-EPISCGatz-10236-001
   2 │ 123662  082-00613-001  WIAG-Pers-EPISCGatz-10446-001
   3 │ 123676  043-04755-001  WIAG-Pers-EPISCGatz-10824-001
   4 │ 123721  051-02773-001  WIAG-Pers-EPISCGatz-10879-001
   5 │ 123732  058-05253-001  WIAG-Pers-EPISCGatz-10825-001
   6 │ 123757  051-02895-001  WIAG-Pers-EPISCGatz-10905-001

In [70]:
df_dh[200:205, :]

6×3 DataFrame
 Row │ dh      dh_gsn         dh_episc_id
     │ Int32   String?        String?
─────┼──────────────────────────────────────────────────────
   1 │ 123760  missing        missing
   2 │ 123761  missing        missing
   3 │ 123762  064-00748-001  WIAG-Pers-EPISCGatz-10893-001
   4 │ 123763  026-07886-001  missing
   5 │ 123764  missing        missing
   6 │ 123765  missing        WIAG-Pers-EPISCGatz-10887-001

Alle Bischöfe

In [306]:
table_name = "item";
item_type_bishop = 4;
sql = "SELECT i.id as ep, i.id_public, e1.value AS ep_gsn
FROM $(table_name) AS i
JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_bishop) AND i.is_online";
df_ep = Wds.sql_df(sql);

In [307]:
df_ep[7:15, :]

9×3 DataFrame
 Row │ ep     id_public                      ep_gsn
     │ Int32  String?                        String?
─────┼─────────────────────────────────────────────────────
   1 │   115  WIAG-Pers-EPISCGatz-05080-001  057-00019-001
   2 │   117  WIAG-Pers-EPISCGatz-05078-001  056-00592-001
   3 │   118  WIAG-Pers-EPISCGatz-04189-001  058-03442-001
   4 │   119  WIAG-Pers-EPISCGatz-04188-001  056-00641-001
   5 │   120  WIAG-Pers-EPISCGatz-04187-001  056-00745-001
   6 │   132  WIAG-Pers-EPISCGatz-04175-001  048-04043-001
   7 │   139  WIAG-Pers-EPISCGatz-04168-001  075-01053-001
   8 │   140  WIAG-Pers-EPISCGatz-04167-001  063-01291-001
   9 │   142  WIAG-Pers-EPISCGatz-03194-001  046-04814-001

DH - EP

In [308]:
df_dh_ep = leftjoin(df_dh, 
    select(df_ep, [:ep => :ep1, :id_public => :id_public, :ep_gsn => :ep_gsn]), 
    on = :dh_episc_id => :id_public, 
    matchmissing = :notequal);

In [309]:
size(df_dh_ep, 1)

2587

In [310]:
names(df_dh_ep)

5-element Vector{String}:
 "dh"
 "dh_gsn"
 "dh_episc_id"
 "ep1"
 "ep_gsn"

In [311]:
count(!ismissing, df_dh_ep.dh_episc_id), count(!ismissing, df_dh_ep.ep1)

(164, 102)

Alle Bischöfe werden gefunden.

Ergänze `dh_gsn` mit `ep_gsn`. Das ist nicht mehr nötig. Die GSN werden beim Einlesen der Daten schon ergänzt und in `id_external` eingetragen.

In [312]:
count(!ismissing, df_dh_ep.dh_gsn)

451

In [313]:
update = 0
for row in eachrow(df_dh_ep)
    if ismissing(row[:dh_gsn]) && !ismissing(row[:ep_gsn])
        row[:dh_gsn] = row[:ep_gsn]
        update += 1
    end
end
update

0

In [151]:
count(!ismissing, df_dh_ep.dh_gsn)

451

GS  
ID und GSN der Domherren aus der Personendatenbank

In [314]:
table_name = "item";
item_type_domherr_gs = 6;
sql = "SELECT i.id as gs, e1.value AS gs_gsn
FROM $(table_name) AS i
JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_domherr_gs) AND i.is_online";
df_gs = Wds.sql_df(sql);

In [315]:
size(df_gs, 1)

8523

GS - EP

In [316]:
df_gs_ep = leftjoin(df_gs, 
    select(df_ep, [:ep => :ep2, :ep_gsn => :ep_gsn]),
    on = :gs_gsn => :ep_gsn, 
    matchmissing = :notequal);

In [317]:
size(df_gs_ep, 1)

8523

In [318]:
count(ismissing, df_gs_ep.gs_gsn), count(!ismissing, df_gs_ep.ep2)

(0, 611)

In [319]:
df_gs_ep[200:205, :]

6×3 DataFrame
 Row │ gs      gs_gsn         ep2
     │ Int32   String?        Int32?
─────┼───────────────────────────────
   1 │ 158654  051-00997-001    3580
   2 │ 158663  059-01647-001    3658
   3 │ 158664  059-01290-001    3839
   4 │ 158665  059-00644-001     592
   5 │ 158666  006-00029-001     347
   6 │ 158706  060-03429-001     168

Die Domherren aus GS haben alle eine GSN, daher kann `df_gs_ep` ergänzt werden aus `df_cn_lp`.

In [320]:
names(df_gs_ep)

3-element Vector{String}:
 "gs"
 "gs_gsn"
 "ep2"

In [321]:
names(df_dh_ep)

5-element Vector{String}:
 "dh"
 "dh_gsn"
 "dh_episc_id"
 "ep1"
 "ep_gsn"

In [322]:
df_cn_lp = outerjoin(df_dh_ep, 
    df_gs_ep,
    on = :dh_gsn => :gs_gsn, 
    matchmissing = :equal);

In [323]:
size(df_cn_lp, 1), size(df_dh_ep, 1) + size(df_gs_ep, 1) - size(df_cn_lp, 1), count(!ismissing, df_dh_ep.dh_gsn)

(10660, 450, 451)

*2022-03-10* eine GSN ist ungültig

Führe Verweise auf Bischöfe zusammen

In [330]:
df_cn_lp[!, :ep] .= df_cn_lp.ep1;

In [331]:
update = 0
for row in eachrow(df_cn_lp)
    if ismissing(row[:ep]) && !ismissing(row[:ep2])
        row[:ep] = row[:ep2]
        update += 1
    end
end
update

510

Bringe die Verweise in eine flache Struktur

In [332]:
df_cn_lp_db = DataFrame(person_id_name = Int[], person_id_role = Int[], office_prio = Int[])

0×3 DataFrame

In [333]:
for row in eachrow(df_cn_lp)
    prio = 1
    if !ismissing(row[:ep])
        name = row[:ep]
        if !ismissing(row[:dh])
            push!(df_cn_lp_db, (name, row[:dh], prio))
            prio += 1
        end
        if !ismissing(row[:gs])
            push!(df_cn_lp_db, (name, row[:gs], prio))
            prio += 1
        end        
        push!(df_cn_lp_db, (name, row[:ep], prio))
    elseif !ismissing(row[:dh])
        prio = 1
        name = row[:dh]
        push!(df_cn_lp_db, (name, row[:dh], prio))
        prio += 1
        if !ismissing(row[:gs])
            push!(df_cn_lp_db, (name, row[:gs], prio))
        end
    else
        prio = 1
        push!(df_cn_lp_db, (row[:gs], row[:gs], prio))
    end
end

In [334]:
df_cn_lp_db[1020:1025, :]

6×3 DataFrame
 Row │ person_id_name  person_id_role  office_prio
     │ Int64           Int64           Int64
─────┼─────────────────────────────────────────────
   1 │         123574          123574            1
   2 │         123578          123578            1
   3 │         123580          123580            1
   4 │         123581          123581            1
   5 │         123583          123583            1
   6 │         123584          123584            1

In [335]:
count(ismissing, df_cn_lp_db.person_id_name)

0

In [336]:
table_name = "canon_lookup"
Wds.filltable!(table_name, df_cn_lp_db)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 11722
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

11722

Version mit paralleler Struktur für `canon_lookup`  
*2022-03-10* vermutlich obsolet

`id` ist `dh` oder `gs`

In [91]:
df_cn_lp_gs[!, :id] = copy(df_cn_lp_gs.dh);

In [92]:
for row in eachrow(df_cn_lp_gs)
    if ismissing(row[:id])
        if !ismissing(row[:gs])
            row[:id] = row[:gs]
        else
            @warn "missing dh and gs" row
        end
    end
end

`person_id` ist `ep` oder `dh` oder `gs`

In [93]:
df_cn_lp_gs[!, :person_id] = copy(df_cn_lp_gs.ep);

In [94]:
for row in eachrow(df_cn_lp_gs)
    if ismissing(row[:person_id])
        if !ismissing(row[:dh])
            row[:person_id] = row[:dh]
        elseif !ismissing(row[:gs])
            row[:person_id] = row[:gs]
        else
            @warn "missing ep and dh and gs" row
        end
    end
end

Führe die Verweise auf Bischöfe zusammen

In [95]:
names(df_cn_lp_gs)

9-element Vector{String}:
 "dh"
 "dh_gsn"
 "dh_episc_id"
 "ep1"
 "gs"
 "ep2"
 "ep"
 "id"
 "person_id"

In [96]:
df_cn_lp_gs[!, :ep] = copy(df_cn_lp_gs.ep1);

In [97]:
for row in eachrow(df_cn_lp_gs)
    if !ismissing(row[:ep2])
        if !ismissing(row[:ep])
            if row[:ep] != row[:ep2]
                println(row)
            end
        else
            row[:ep] = row[:ep2]
        end
    end
end

Keine Ausgabe -> Alle Verweise auf Bischöfe stimmen überein

In [98]:
count(!ismissing, df_cn_lp_gs.ep1), count(!ismissing, df_cn_lp_gs.ep2), count(!ismissing, df_cn_lp_gs.ep)

(683, 591, 683)

In der Domherrendatenbank wurden alle Verweise recherchiert.

In [99]:
columns = [
    :id => :id,
    :person_id => :person_id,
    :dh => :canon,
    :gs => :canon_gs,
    :ep => :bishop
]

5-element Vector{Pair{Symbol, Symbol}}:
        :id => :id
 :person_id => :person_id
        :dh => :canon
        :gs => :canon_gs
        :ep => :bishop

In [100]:
table_name = "canon_lookup"
Wds.filltable!(table_name, select(df_cn_lp_gs, columns))

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 10669
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

10669

### Nachtrag person.note_name

In [19]:
using DataFrames

In [52]:
table_name = gs_db * "." * "persons";
sql = "SELECT id, vorname, familienname, namenszusatz
FROM $(table_name)
WHERE namenszusatz IS NOT NULL and namenszusatz <> ''";

In [17]:
sql_db = join(split(sql, "\n"), ' ')

"SELECT id, vorname, familienname, namenszusatz FROM gso_in_202202.persons WHERE namenszusatz IS NOT NULL and namenszusatz <> ''"

In [53]:
df_p_note_gs = Wds.sql_df(sql);

In [41]:
Wds.clean_up!(df_p_note_gs);

In [54]:
transform!(df_p_note_gs, :id => ByRow(string) => :id_in_source);

In [55]:
table_name = "item";
sql = "SELECT id as item_id, id_in_source, item_type_id, id_public
FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
df_item = Wds.sql_df(sql);

In [44]:
size(df_item, 1)

8523

In [56]:
df_p_note = innerjoin(df_p_note_gs, df_item, on = :id_in_source);

In [57]:
size(df_p_note, 1)

720

Nur ein Teil der Personen aus GS sind Domherren.

In [36]:
df_p_note[200:205, [:id, :id_in_source, :item_id, :id_public, :vorname, :familienname]]

6×6 DataFrame
 Row │ id      id_in_source  item_id  id_public                  vorname   fam ⋯
     │ Int32   String        Int32    String?                    String    Str ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 108038  108038         156529  WIAG-Pers-CANON-82881-001  Johannes  Her ⋯
   2 │ 108039  108039         156528  WIAG-Pers-CANON-82882-001  Johannes  Hin
   3 │ 108040  108040         156527  WIAG-Pers-CANON-82883-001  Johannes  Hob
   4 │ 108042  108042         156526  WIAG-Pers-CANON-82884-001  Johannes  Hod
   5 │ 108054  108054         156521  WIAG-Pers-CANON-82889-001  Johannes  Jac ⋯
   6 │ 108059  108059         156519  WIAG-Pers-CANON-82891-001  Johannes  Lep
                                                                1 column omitted

In [47]:
df_p_note[200:205, [:id, :id_in_source, :item_id, :namenszusatz, :vorname, :familienname]]

6×6 DataFrame
 Row │ id      id_in_source  item_id  namenszusatz
     │ Int32   String        Int32    String
─────┼────────────────────────────────────────────────────────────────────────
   1 │ 108038  108038         156529  von Kamen
   2 │ 108039  108039         156528  von Hamm
   3 │ 108040  108040         156527  genannt Lockeleve (Lakeleve) von…
   4 │ 108042  108042         156526  von Dülmen
   5 │ 108054  108054         156521  von Borken
   6 │ 108059  108059         156519  von Ahlen, der Ältere
                                                             2 columns omitted

In [38]:
names(df_p_note)

8-element Vector{String}:
 "id"
 "vorname"
 "familienname"
 "namenszusatz"
 "id_in_source"
 "item_id"
 "item_type_id"
 "id_public"

In [60]:
table_name = "person";
function sql_update(note_name, person_id) 
    sql = "UPDATE $(table_name) AS p " *
    "SET p.note_name = '$(note_name)' " *
    "WHERE p.id = $(person_id)"
    return sql
end

sql_update (generic function with 1 method)

In [61]:
count_loop = 0;
count_msg = 200;
for row in eachrow(df_p_note)
    sql = sql_update(row[:namenszusatz], row[:item_id])
    DBInterface.execute(Wds.dbwiag, sql)
    count_loop += 1;
    if count_loop % count_msg == 0
        @info count_loop
    end
end

┌ Info: 200
└ @ Main In[61]:8
┌ Info: 400
└ @ Main In[61]:8
┌ Info: 600
└ @ Main In[61]:8