# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Domherren einlesen

Übertrage Daten aus Access. Die Daten werden aus Access via ODBC in eine Transfer-Datenbank geschrieben oder als CSV-Datei exportiert. `domherr.tbl_domherren`, `tbl_urls` und `domherr.tbl_domherren_aemter`.

[Domherren](#Domherren)
- [Literatur](#Literatur)  
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Akademische Titel eintragen](#Akademische-Titel-eintragen)  
- [Referenzwerke eintragen](#Referenzwerke-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Externe IDs eintragen](#Externe-IDs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (`name_lookup`)](#Suchvarianten-eintragen-(name_lookup))
- [`canon_lookup`](#canon_lookup)

Quelle: Datenbank `domherr`

Vorspann: Pakete laden; mit der Datenbank verbinden  
Der Vorspann zur Bestimmung des Projekts kann entfallen mit dem Kernel `julia-data-io 1.7.0`

In [1]:
wds_path="../.."

"../.."

In [2]:
cd(wds_path)

In [3]:
pwd()

"C:\\Users\\georg\\Documents\\projekte\\WiagDataSetup.jl"

In [4]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

In [5]:
using Pkg

In [6]:
Pkg.activate(".")

  Activating project at `C:\Users\georg\Documents\projekte\WiagDataSetup.jl`

In [1]:
using Revise

In [2]:
using WiagDataSetup

In [3]:
using MySQL, DataFrames

In [4]:
ENV["COLUMNS"] = 120

120

In [5]:
Wds = WiagDataSetup

WiagDataSetup

In [6]:
Wds.setDBWIAG(user="georg", db="wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

Item Type ID

In [7]:
item_type_id = 5

5

In [256]:
data_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\domherren-2022-10-19"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\domherren-2022-10-19"

## Lösche Tabellen für ein umfassendes Update

In [257]:
table_name = "name_lookup";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 37535, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [258]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 2144, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [259]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 1308, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [260]:
table_name = "url_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM url_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 2079, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [261]:
table_name = "id_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 13617, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [262]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name)
WHERE person_role_id IN
(SELECT id FROM person_role
WHERE person_id in (SELECT id from item WHERE item_type_id = $(item_type_id)))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property\nWHERE person_role_id IN\n(SELECT id FROM person_role\nWHERE person_id in (SELECT id from item WHERE item_type_id = 5))", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [263]:
table_name = "person_role";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [264]:
table_name = "person";
sql = "DELETE FROM $(table_name)
WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 25934, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [265]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 27636, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [44]:
table_name = "item";
sql = "DELETE FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item\nWHERE item_type_id = 5", 0, -1, 22780, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Literatur

In [20]:
# Quelle Datenbank
sql = "SELECT * FROM domherr.tbl_reference"
df_vol = Wds.sql_df(sql);

In [18]:
using CSV

In [266]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_Reference.csv");
df_vol = CSV.read(filename, DataFrame);
size(df_vol)

(163, 7)

Manche Einträge sind unvollständig (2022-10-14 ?!)  
*2022-10-14* 8 Neuzugänge

In [267]:
Wds.clean_up!(df_vol);
size(df_vol)

(163, 7)

In [268]:
names(df_vol)

7-element Vector{String}:
 "ID_Ref"
 "Literatur"
 "Verfasser"
 "OnlineRessource"
 "Kurztitel"
 "ZitationGS"
 "Sort"

In [269]:
columns = [
    :ID_Ref => :reference_id,
    :Literatur => :full_citation,
    :Verfasser => :author_editor,
    :OnlineRessource => :online_resource,
    :Kurztitel => :title_short,
    :Sort => :display_order,
    :ZitationGS => :gs_citation
]

7-element Vector{Pair{Symbol, Symbol}}:
          :ID_Ref => :reference_id
       :Literatur => :full_citation
       :Verfasser => :author_editor
 :OnlineRessource => :online_resource
       :Kurztitel => :title_short
            :Sort => :display_order
      :ZitationGS => :gs_citation

In [270]:
df_vol_db = select(df_vol, columns);

In [271]:
insertcols!(df_vol_db,
    :item_type_id => item_type_id);

Bestehende Einträge löschen

In [272]:
table_name = "reference_volume"
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 5", 0, -1, 162, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten eintragen

In [273]:
table_name = "reference_volume"
Wds.filltable!(table_name, df_vol_db, clear_table = false)

┌ Info: Rows inserted: 163
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

163

## Domherren

In [47]:
using CSV

In [274]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_domherren.csv")
df_cn = CSV.read(filename, DataFrame, stringtype=String);
size(df_cn)

(26073, 48)

In [ ]:
# Quelle Datenbank
sql = "SELECT * FROM domherr.tbl_domherren";
df_cn = Wds.sql_df(sql);

Leerzeichen bereinigen

In [275]:
Wds.clean_up!(df_cn)

In [276]:
unique(df_cn.Status)

18-element Vector{Union{Missing, String}}:
 "fertig"
 "Dublette"
 "online"
 "xx"
 "xxN"
 "merged"
 "xxMainz"
 "importiert"
 "xxNN"
 "xxC"
 "zurückgestelltxxN"
 "zurückgestellt"
 "zurückgestellt xxN"
 missing
 "xxB"
 "xxJ"
 "zurückgestelltXXN"
 "zurückgestellt XXN"

In [31]:
first(df_cn, 5)

5×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname            Familienname    Sterbedatum  Gebu ⋯
     │ Int64       String?         String?       Int64?  String?  String?            String?         String?      Stri ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      10000  missing         167, 183           6  von      Friedrich Wilhelm  Loe             1689         miss ⋯
   2 │      10001  missing         183                6  von      Johann Heinrich    Metzenhausen    missing      miss
   3 │      10002  missing         183                6  von      Philipp Friedrich  Metzenhausen    missing      miss
   4 │      10003  missing         183                6  von der  Damian Friedrich   Fels            1684         miss
   5 │      10004  missing         183, 189           6  von      Friedrich Ernst    Eltz-Rodendorf  missing      miss ⋯
                                                                                                      40 columns omitted

*2022-03-10* prüfe auf unorthodoxe Einräge in `WIAG_ID_Bischof`

In [277]:
df_cn_ID_Bischof = dropmissing(df_cn, :WIAG_ID_Bischof);

In [278]:
df_cn_ID_Bischof[201:205, [:ID_Domherr, :Vorname, :Familienname, :WIAG_ID_Bischof, :Status]]

5×5 DataFrame
 Row │ ID_Domherr  Vorname   Familienname  WIAG_ID_Bischof                Status
     │ Int64       String?   String?       String                         String?
─────┼────────────────────────────────────────────────────────────────────────────
   1 │      13481  Konrad    Velber        WIAG-Pers-EPISCGatz-03251-001  merged
   2 │      13482  Konrad    Babenberg     WIAG-Pers-EPISCGatz-04687-001  merged
   3 │      13484  Osdag     missing       WIAG-Pers-EPISCGatz-04147-001  online
   4 │      13486  Rainald   Dassel        WIAG-Pers-EPISCGatz-04213-001  merged
   5 │      13488  Volkward  missing       WIAG-Pers-EPISCGatz-03917-001  online

In [279]:
find_spurious(a) = !ismissing(a) && occursin("http", a)
df_cn_sp = subset(df_cn, :WIAG_ID_Bischof => ByRow(find_spurious));

In [280]:
# 2022-05-20
size(df_cn_sp)

(1, 48)

In [281]:
df_cn_sp[:, [:ID_Domherr, :Vorname, :Familienname, :WIAG_ID_Bischof, :Status]]

1×5 DataFrame
 Row │ ID_Domherr  Vorname    Familienname  WIAG_ID_Bischof                    Status
     │ Int64       String?    String?       String?                            String?
─────┼─────────────────────────────────────────────────────────────────────────────────
   1 │      47065  Balthasar  Rantzau       https://wiag-vocab.adw-goe.de/id…  merged

In [57]:
filename_sp = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\WIAG_ID_Bischof_2022-07-26.csv"
CSV.write(filename_sp, df_cn_sp)

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\WIAG_ID_Bischof_2022-07-26.csv"

Extrahiere die eigentliche ID

In [282]:
function get_WIAG_ID_Bischof(s)
    if ismissing(s)
        return s
    end
    rgx = r".*(WIAG-Pers-EPISCGatz-[0-9]+-[0-9]+).*"
    rgm = match(rgx, s)
    if !isnothing(rgm)
        return rgm[1]
    else
        @warn s
    end
    return missing
end

get_WIAG_ID_Bischof (generic function with 1 method)

In [283]:
transform!(df_cn_sp, :WIAG_ID_Bischof => ByRow(get_WIAG_ID_Bischof) => :WIAG_ID_Bischof);

In [284]:
df_cn_sp[:, [:ID_Domherr, :Vorname, :Familienname, :WIAG_ID_Bischof, :Status]]

1×5 DataFrame
 Row │ ID_Domherr  Vorname    Familienname  WIAG_ID_Bischof                Status
     │ Int64       String?    String?       SubString…                     String?
─────┼─────────────────────────────────────────────────────────────────────────────
   1 │      47065  Balthasar  Rantzau       WIAG-Pers-EPISCGatz-20814-001  merged

In [285]:
transform!(df_cn, :WIAG_ID_Bischof => ByRow(get_WIAG_ID_Bischof) => :WIAG_ID_Bischof);

┌ Warning: WIAG-EPISCGatz-03304-001
└ @ Main In[282]:10

*2022-10-19* Hier fehlt "Pers". Der Eintrag hat aber nur den Status "importiert"

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Domherr' in `item_type`: 5

In [286]:
columns = [
    :ID_Domherr => :id_in_source,
    :Eintrag_Quelle => :item_in_source,
    :fertig => :fertig,
    :Status => :Status,    
]

4-element Vector{Pair{Symbol, Symbol}}:
     :ID_Domherr => :id_in_source
 :Eintrag_Quelle => :item_in_source
         :fertig => :fertig
         :Status => :Status

In [287]:
df_item = select(df_cn, columns);

In [288]:
insertcols!(df_item, :item_type_id => item_type_id);

In [289]:
df_item[201:205, :]

5×5 DataFrame
 Row │ id_in_source  item_in_source  fertig  Status    item_type_id
     │ Int64         String?         Int64   String?   Int64
─────┼──────────────────────────────────────────────────────────────
   1 │        10200  missing              0  fertig               5
   2 │        10201  missing              0  fertig               5
   3 │        10202  missing              0  xx                   5
   4 │        10203  missing              0  Dublette             5
   5 │        10204  missing              0  fertig               5

falls die Daten aus der Datenbank eingelesen wurden: `edit_status` bestimmen; Status-Bit in den Eintrag "fertig" umwandeln

In [52]:
function map_status(x)
    if typeof(x) == Int
        if x == 1
            return "fertig"
        else
            return missing
        end
    elseif getproperty(x, :bits) > 0
        return "fertig"
    else
        return missing
    end
end

map_status (generic function with 1 method)

In [53]:
transform!(df_item, :fertig => ByRow(map_status) => :edit_status);

Ende von `edit_status` bestimmen.

Feld `is_online` eintragen.  
*2022-10-19* `is_online` ist redundant. Siehe Erstellung von `canon_lookup`.

In [290]:
map_online(x) = (!ismissing(x) && x == "online") ? 1 : 0

map_online (generic function with 1 method)

In [291]:
transform!(df_item, :Status => ByRow(map_online) => :is_online);

In [292]:
using Dates

In [293]:
date_time_now = Dates.format(now(), Dates.dateformat"yyyy-mm-dd HH:MM")

"2022-10-19 14:06"

In [294]:
user_id_georg = 23

23

In [295]:
insertcols!(df_item,
    :created_by => user_id_georg,
    :date_created => date_time_now,
    :changed_by => user_id_georg,
    :date_changed => date_time_now
);

In [296]:
function make_id_public(id::Real)
    id_public_key = "Pers-CANON"
    num_id_length = 5
    return "WIAG-" * id_public_key * "-" * lpad(id, num_id_length, '0') * "-001"
end

make_id_public (generic function with 1 method)

In [297]:
make_id_public(3650)

"WIAG-Pers-CANON-03650-001"

Normdatum/öffentliche ID erzeugen

*2022-01-13* Verwende die ursprüngliche ID. Damit entspricht die ID der bisher veröffentlichten ID

In [298]:
transform!(df_item, :id_in_source => ByRow(make_id_public) => :id_public);

`item.is_deleted` ist vorbelegt mit `false`

`item.lang` ist vorbelegt mit "de"

In [299]:
names(df_item)

11-element Vector{String}:
 "id_in_source"
 "item_in_source"
 "fertig"
 "Status"
 "item_type_id"
 "is_online"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "id_public"

In [300]:
sum(df_item[!, :is_online])

5526

In [301]:
findfirst(df_item[!, :is_online] .== 1)

8

In [302]:
df_item[8:12, [:id_in_source, :item_type_id, :id_public, :Status, :is_online, :date_changed, :changed_by]]

5×7 DataFrame
 Row │ id_in_source  item_type_id  id_public                  Status    is_online  date_changed      changed_by
     │ Int64         Int64         String                     String?   Int64      String            Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │        10007             5  WIAG-Pers-CANON-10007-001  online            1  2022-10-19 14:06          23
   2 │        10008             5  WIAG-Pers-CANON-10008-001  Dublette          0  2022-10-19 14:06          23
   3 │        10009             5  WIAG-Pers-CANON-10009-001  fertig            0  2022-10-19 14:06          23
   4 │        10010             5  WIAG-Pers-CANON-10010-001  Dublette          0  2022-10-19 14:06          23
   5 │        10011             5  WIAG-Pers-CANON-10011-001  Dublette          0  2022-10-19 14:06          23

Bestehende Einträge löschen (evtl. vorher die von `item` abhängigen Tabellen löschen)

In [305]:
item_type_id

5

In [306]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 5", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [307]:
columns = [
    :id_in_source => :id_in_source,
 :item_in_source => :item_in_source,
 :Status => :edit_status,
 :item_type_id => :item_type_id,
 :is_online => :is_online,
 :created_by => :created_by,
 :date_created => :date_created,
 :changed_by => :changed_by,
 :date_changed => :date_changed, 
 :id_public => :id_public
]

10-element Vector{Pair{Symbol, Symbol}}:
   :id_in_source => :id_in_source
 :item_in_source => :item_in_source
         :Status => :edit_status
   :item_type_id => :item_type_id
      :is_online => :is_online
     :created_by => :created_by
   :date_created => :date_created
     :changed_by => :changed_by
   :date_changed => :date_changed
      :id_public => :id_public

In [308]:
table_name = "item";
Wds.filltable!(table_name, select(df_item, columns), clear_table = false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 26073
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

26073

### Daten eintragen

IDs auslesen

In [309]:
sql = "SELECT id, id_in_source FROM ITEM where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

Spalte für die Zusammenführung befüllen (Typ: String!)

In [310]:
transform!(df_cn, :ID_Domherr => ByRow(string) => :id_in_source);

In [311]:
df_cn_db = innerjoin(df_idx, df_cn, on = :id_in_source);

Daten eintragen

Wir übernehmen alle Einträge unabhängig vom Status, da die Daten später Grundlage für die Redaktion sind. Einträge ohne Vor- und Familiennamen werden gelöscht.

In [312]:
one_not_missing(x, y) = !(ismissing(x) && ismissing(y))

one_not_missing (generic function with 1 method)

In [313]:
size(df_cn_db, 1)

26073

In [314]:
df_cn_db = subset(df_cn_db, [:Vorname, :Familienname] => ByRow(one_not_missing));

In [315]:
size(df_cn_db, 1)

26023

Jahreszahlen ermitteln

In [316]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [317]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [318]:
transform!(df_cn_db, :Geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

┌ Warning: Could not parse
│   s = Dr. theol.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125

In [319]:
transform!(df_cn_db, :Sterbedatum => ByRow(parse_date_death) => :num_date_death);

┌ Warning: Could only find year in
│   s = Ende 1322?
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could only find year in
│   s = vor Febr. 1503
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could only find year in
│   s = 3. Juni 1511
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could only find year in
│   s = 2. Febr. 1273
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could only find year in
│   s = 8.10.1160
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could not parse
│   s = 3. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 5. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 31. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 18. Nov.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 13. März?
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 24.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 18. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 05.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 18.Mai
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 29. Nov.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could only find year in
│   s = 8. Jan. 1516
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could not parse
│   s = 05.Mrz
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 12. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could only find year in
│   s = 1. Sept. 1535
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could not parse
│   s = 19.Mrz
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 11. Jan.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 14.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 3. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could only find year in
│   s = 13. Oktober 1589
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could not parse
│   s = 25.Apr
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could not parse
│   s = 02.Aug
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could only find year in
│   s = 8. Sept. 1539
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could not parse
│   s = lic. leg.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1125
┌ Warning: Could only find year in
│   s = vermutlich 1514
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could only find year in
│   s = nach 12.2.1461
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120
┌ Warning: Could only find year in
│   s = vor 1. 5. 1472
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1120

Orden zuordnen

In [320]:
sql = "SELECT id as religious_order_id, abbreviation FROM religious_order";
df_rel_order = Wds.sql_df(sql);

In [321]:
df_cn_db = leftjoin(df_cn_db, df_rel_order, on = :Orden => :abbreviation, matchmissing = :notequal);

In [322]:
a_not_b(a, b) = !ismissing(a) && ismissing(b)

a_not_b (generic function with 1 method)

In [323]:
df_cn_no_match = subset(df_cn_db, [:Orden, :religious_order_id] => ByRow(a_not_b));

In [324]:
size(df_cn_no_match)

(0, 53)

Felder auswählen

In [325]:
insertcols!(df_cn_db,
    :item_type_id => item_type_id,
);

In [326]:
columns = [
    :id => :id,
    :item_type_id => :item_type_id,
    :Praefix => :prefixname,
    :Vorname => :givenname,
    :Familienname => :familyname,
    :Sterbedatum => :date_death,
    :Geburtsdatum => :date_birth,
    :Bemerkung_Red => :comment,
    :Kommentar_Name => :note_name,
    :Kommentar_Person => :note_person,
    :religious_order_id => :religious_order_id,
]

11-element Vector{Pair{Symbol, Symbol}}:
                 :id => :id
       :item_type_id => :item_type_id
            :Praefix => :prefixname
            :Vorname => :givenname
       :Familienname => :familyname
        :Sterbedatum => :date_death
       :Geburtsdatum => :date_birth
      :Bemerkung_Red => :comment
     :Kommentar_Name => :note_name
   :Kommentar_Person => :note_person
 :religious_order_id => :religious_order_id

In [327]:
Wds.filltable!("person", select(df_cn_db, columns); clear_table=false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 26023
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

26023

*2022-05-12* Finde überlangen Eintrag in `Bemerkung_Red`

In [113]:
df_cn_db_Bemerkung_Red = dropmissing(df_cn_db, :Bemerkung_Red);

In [114]:
size(df_cn_db_Bemerkung_Red)

(3843, 54)

In [116]:
df_cn_db_Bemerkung_Red[16:20, [:id, :Vorname, :Familienname, :Bemerkung_Red]]

5×4 DataFrame
 Row │ id      Vorname              Familienname              Bemerkung_Red
     │ Int32   String?              String?                   String
─────┼──────────────────────────────────────────────────────────────────────────────────────────
   1 │ 226452  Wilhelm Philipp Jos  Waldenfels                Vorname unvollständig; Joseph?
   2 │ 226434  Joseph Andreas Rich  Speth von Zwiefalten      Vorname unvollständig
   3 │ 226427  Heinrich Hartard     Metternich                laut Hersche auch Domherr in Tri…
   4 │ 226483  Hugo Eberhard        Cratz von Scharffenstein  http://www.westfaelische-geschic…
   5 │ 226472  Johann               Heppenheim genannt Saal   Heinrich SCHROHE, Johann von Hep…

In [118]:
df_cn_db.len_bem = (x -> ismissing(x) ? 0 : length(x)).(df_cn_db.Bemerkung_Red);

In [119]:
findmax(identity, df_cn_db.len_bem)

(1450, 22362)

In [124]:
size(df_cn_db)

(22812, 54)

In [126]:
df_cn_db[22362, [:id, :Vorname, :Familienname, :Bemerkung_Red, :len_bem]]

DataFrameRow
   Row │ id      Vorname    Familienname  Bemerkung_Red
       │ Int32   String?    String?       String?
───────┼───────────────────────────────────────────────────────────────────────
 22362 │ 248684  Balthasar  Neuenstadt    folgende Links evtl. löschen (? …
                                                               1 column omitted

Ende: Finde überlangen Eintrag in `Bemerkung_Red`

### Orden eintragen
*2021-10-14* Die Ordenstabelle ist vorläufig und basiert auf den Ordensangaben für Bischöfe  
*2022-01-13* Einträge mit Ordensangabe: 2  
*2022-07-26* siehe oben (schon erledigt)  
*2022-10-14* Einträge mit Ordensangabe: 18; siehe oben (schon erledigt)

ID der Orden in Personentabelle eintragen

In [102]:
df_cn_order = dropmissing(df_cn_db, :Orden);

In [103]:
size(df_cn_order)

(12, 54)

In [109]:
names(df_cn_order)

55-element Vector{String}:
 "id"
 "id_in_source"
 "ID_Domherr"
 "Eintrag_Quelle"
 "Seite_Quelle"
 "Quelle"
 "Praefix"
 "Vorname"
 "Familienname"
 "Sterbedatum"
 "Geburtsdatum"
 "Orden"
 "fertig"
 ⋮
 "ID_Domherr_Jasmin"
 "ID_Fremdschluessel_2"
 "Merged_Into"
 "Identisch_mit"
 "WIAG_ID_Bischof"
 "LOD_Academy"
 "ID_Fremdschlüssel_Num"
 "num_date_birth"
 "num_date_death"
 "religious_order_id"
 "item_type_id"
 "join_field"

In [104]:
df_cn_order[!, :join_field] .= lowercase.(df_cn_order[!, :Orden]);

In [105]:
sql = "SELECT * FROM religious_order WHERE abbreviation IS NOT NULL";
df_order_db = Wds.sql_df(sql);

In [106]:
df_order_db[!, :join_field] .= lowercase.(df_order_db[!, :abbreviation]);

In [107]:
df_cn_order_id = leftjoin(df_cn_order, 
    select(df_order_db, :id => :religious_order_id, :join_field), 
    on = :join_field);

LoadError: ArgumentError: Duplicate variable names: :religious_order_id. Pass makeunique=true to make them unique using a suffix automatically.

In [108]:
size(df_cn_order_id)

LoadError: UndefVarError: df_cn_order_id not defined

Tabelle `person` aktualisieren

In [138]:
filename = joinpath(out_path, "cn_person_update.sql");
table_name = "person";
Wds.update_sql(filename, table_name, select(df_cn_order_id, :id, :religious_order_id), on = :id);

SQL
```sql
source C:\Users\georg\Documents\projekte-doc\WIAGweb2\data_sql\cn_person_update.sql
```

### Akademische Titel eintragen

In [328]:
table = "item_property_type"
sql = "SELECT * from $(table)"
df_ipt = Wds.sql_df(sql);

In [329]:
df_ipt

7×5 DataFrame
 Row │ id     name                     label                    comment  item_type_id
     │ Int32  String                   String                   String?  Int32
─────┼────────────────────────────────────────────────────────────────────────────────
   1 │     8  academic_title           academic_title           missing             5
   2 │     9  contribution             contribution             missing            10
   3 │    10  domstift_short           domstift_short           missing             3
   4 │    11  ordination_priest        ordination_priest        missing            10
   5 │    12  ordination_priest_place  ordination_priest_place  missing            10
   6 │    13  patronym                 patronym                 missing            10
   7 │    14  title                    title                    missing            10

In [487]:
df_cn_db[51:55, [:id, :id_in_source, :Vorname, :Familienname, :AkademischerTitel]]

5×5 DataFrame
 Row │ id      id_in_source  Vorname               Familienname          AkademischerTitel
     │ Int32   String?       String?               String?               String?
─────┼─────────────────────────────────────────────────────────────────────────────────────
   1 │ 443890  10044         Johann Sigmund        Reuschenberg          missing
   2 │ 443889  10045         Franz Eckembert       Dalberg               missing
   3 │ 443888  10046         Ferdinand Damian      Breidbach-Bürresheim  missing
   4 │ 443887  10047         Karl Kaspar Emmerich  Quadt-Buschfeld       missing
   5 │ 443886  10048         Damian Heinrich       Eltz-Uettingen        missing

In [488]:
columns = [
    :id => :id,
    :Vorname => :givenname,
    :Familienname => :familyname,
    :AkademischerTitel => :academic_title
]

4-element Vector{Pair{Symbol, Symbol}}:
                :id => :id
           :Vorname => :givenname
      :Familienname => :familyname
 :AkademischerTitel => :academic_title

In [489]:
df_academic_title = dropmissing(select(df_cn_db, columns), :academic_title);

In [490]:
size(df_academic_title)

(1695, 4)

In [491]:
rec_academic_title = filter(:name => isequal("academic_title"), df_ipt)
academic_title_id = rec_academic_title[1, :id]

8

In [492]:
insertcols!(df_academic_title, :name => "academic_title", :property_type_id => academic_title_id);

In [494]:
table_name = "item_property";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_property\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 1695, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [495]:
columns = [
    :id => :item_id,
    :name => :name, # redundant
    :academic_title => :value,
    :property_type_id => :property_type_id
]

4-element Vector{Pair{Symbol, Symbol}}:
               :id => :item_id
             :name => :name
   :academic_title => :value
 :property_type_id => :property_type_id

In [496]:
table_name = "item_property"
Wds.filltable!(table_name, select(df_academic_title, columns))

┌ Info: Rows inserted: 1695
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1695

### Referenzwerke eintragen

In [338]:
columns = [
    :id => :item_id,
    :Seite_Quelle => :page,
    :ID_Quelle => :id_in_reference,
    :Quelle => :reference_id,
    :Merged_Into => :merged_into_id,
    :Status => :status,
]

6-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :Seite_Quelle => :page
    :ID_Quelle => :id_in_reference
       :Quelle => :reference_id
  :Merged_Into => :merged_into_id
       :Status => :status

In [339]:
df_cn_ref = select(df_cn_db, columns);

In [340]:
df_cn_ref[!, :item_type_id] .= item_type_id;

In [341]:
size(df_cn_ref, 1)

26023

In [342]:
dropmissing!(df_cn_ref, :reference_id);

In [343]:
size(df_cn_ref)

(26023, 7)

Einträge löschen (im Fall von Korrekturen)

In [344]:
sql = "DELETE FROM item_reference WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 5", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [345]:
columns = [
    :item_id => :item_id,
    :page => :page,
    :id_in_reference => :id_in_reference,
    :item_type_id => :item_type_id,
    :reference_id => :reference_id,
]

5-element Vector{Pair{Symbol, Symbol}}:
         :item_id => :item_id
            :page => :page
 :id_in_reference => :id_in_reference
    :item_type_id => :item_type_id
    :reference_id => :reference_id

In [346]:
table_name = "item_reference";
Wds.filltable!(table_name, select(df_cn_ref, columns), clear_table = false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 26023
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

26023

Trage Referenzen ein von Einträgen, die mit anderen zusammengezogen wurden.

In [347]:
is_ref2(merged_into_id, status) = !ismissing(merged_into_id) && isequal(status, "merged")

is_ref2 (generic function with 1 method)

In [348]:
df_cn_ref2 = subset(df_cn_ref, [:merged_into_id, :status] => ByRow(is_ref2));

In [349]:
lookupItemId = Dict(Pair.(df_cn_db.id_in_source ,df_cn_db.id));

In [350]:
getItemId(id_in_source) = get(lookupItemId, string(id_in_source), missing)

getItemId (generic function with 1 method)

In [351]:
transform!(df_cn_ref2, :merged_into_id => ByRow(getItemId) => :item_id);

In [352]:
size(df_cn_ref2, 1)

1810

In [353]:
count(ismissing, df_cn_ref.item_id)

0

In [354]:
columns = [
    :item_id,
    :page,
    :id_in_reference,
    :item_type_id,
    :reference_id,
]

5-element Vector{Symbol}:
 :item_id
 :page
 :id_in_reference
 :item_type_id
 :reference_id

In [355]:
table_name = "item_reference";
Wds.filltable!(table_name, select(df_cn_ref2, columns), clear_table = false)

┌ Info: Rows inserted: 1810
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1810

In [172]:
subset(df_cn_ref2, :merged_into_id => ByRow(isequal(10939)))

1×7 DataFrame
 Row │ item_id  page                id_in_reference             reference_id  merged_into_id  status   item_type_id
     │ Int32    String?             String?                     Int64         Int64?          String?  Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  184999  100, 136, 148, 201  HA999, HI170, MS168, PB120             6           10939  merged              5

### Externe URLs eintragen
siehe auch Notebook `Strukturdaten.ipynb` Externe URLs

In [356]:
using CSV, DataFrames

In [362]:
file_name = joinpath(data_path, "tbl_urls.csv")
df_url = CSV.read(file_name, DataFrame, delim=";");

In [363]:
Wds.clean_up!(df_url);

In [364]:
names(df_url)

7-element Vector{String}:
 "ID_url"
 "domherr_id"
 "url_value"
 "url_link"
 "note"
 "description"
 "url_type"

Die IDs in `authority` sind für externe URLs mit einem Offset von 1000 versehen, denn sie betreffen den gleichen Datentyp

In [365]:
id_offset = 1000;
transform!(df_url, :url_type => ByRow(x -> x + id_offset) => :authority_id);

Zuordnung zu IDs

In [366]:
sql = "SELECT id, id_in_source 
FROM item 
WHERE item_type_id = $(item_type_id)"
df_idx = Wds.sql_df(sql);

In [367]:
transform!(df_url, :domherr_id => ByRow(string) => :id_in_source);

In [368]:
df_url_idx = leftjoin(df_url, df_idx, on = :id_in_source);

In [369]:
size(df_url_idx, 1), count(ismissing, df_url_idx.id)

(2086, 2)

In [370]:
df_url_idx_mg = subset(df_url_idx, :id => ByRow(ismissing));

In [371]:
size(df_url_idx_mg)

(2, 10)

In [372]:
df_url_idx_mg[:, [:id, :id_in_source, :url_type, :url_value]]

2×4 DataFrame
 Row │ id       id_in_source  url_type  url_value
     │ Int32?   String        Int64?    String?
─────┼──────────────────────────────────────────────────────────────
   1 │ missing  missing             75  ngAQ3R971BI71pwyuAJpmYmD
   2 │ missing  2036900             75  ngIY9Z971Hg7txeMcIhxsGuT9JV

*2022-04-29* Tabelle ist noch in Arbeit

In [373]:
dropmissing!(df_url_idx, :id);

In [374]:
dropmissing!(df_url_idx, :url_value);

In [375]:
unique(df_url_idx.url_type)

26-element Vector{Union{Missing, Int64}}:
 22
 72
 70
 78
 79
 75
 54
 68
 73
 80
 27
 69
 77
 76
 85
 14
 86
 81
 71
 84
 46
 82
 83
 87
  3
 88

In [376]:
table_name = "url_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM url_external\nWHERE item_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [377]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :url_value => :value,
    :note => :note,
]

4-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
    :url_value => :value
         :note => :note

In [378]:
table_name = "url_external"
Wds.filltable!(table_name, select(df_url_idx, columns))

┌ Info: Rows inserted: 2083
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2083

### Externe IDs eintragen

In [379]:
item_type_id = 5

5

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [380]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [381]:
sql

"DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 5)"

In [382]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)";
Wds.sql_df(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

Index aus `item` lesen

In [383]:
sql = "SELECT id, is_online, id_in_source FROM item WHERE item_type_id = $(item_type_id)"
df_idx = Wds.sql_df(sql);

In [384]:
size(df_idx, 1)

26073

Externe Ids aus den Quelldaten lesen

In [385]:
using CSV

In [386]:
col_types = Dict(
    :GND_ID => String,
    :GSN_ID => String,
    :VIAF_ID => String,
    :Wikidata_ID => String,
    :URL_Wikipedia => String,
)

Dict{Symbol, DataType} with 5 entries:
  :VIAF_ID       => String
  :GND_ID        => String
  :GSN_ID        => String
  :URL_Wikipedia => String
  :Wikidata_ID   => String

In [387]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_domherren.csv")
df_cn = CSV.read(filename, DataFrame, types=col_types);

Alternativ: Lies die Daten aus der Datenbank, wenn der Export aus Access in die Datenbank klappt.

In [ ]:
# Quelle: Datenbank
table_name = "domherr.tbl_domherren";
sql = "SELECT ID_Domherr, Vorname, Familienname, " *
"VIAF_ID, GND_ID, Wikidata_ID, GSN_ID, WIAG_ID_Bischof, URL_Wikipedia " *
"FROM $(table_name)"
df_cn = Wds.sql_df(sql);

In [388]:
Wds.clean_up!(df_cn)

In [389]:
transform!(df_cn, :ID_Domherr => ByRow(string) => :id_in_source);

In [390]:
df_cn = innerjoin(df_idx, df_cn, on = :id_in_source);

In [391]:
names(df_cn)

51-element Vector{String}:
 "id"
 "is_online"
 "id_in_source"
 "ID_Domherr"
 "Eintrag_Quelle"
 "Seite_Quelle"
 "Quelle"
 "Praefix"
 "Vorname"
 "Familienname"
 "Sterbedatum"
 "Geburtsdatum"
 "Orden"
 ⋮
 "Status"
 "Normdaten recherchiert"
 "URL_Wikipedia"
 "Externe URL"
 "ID_Quelle"
 "ID_Domherr_Jasmin"
 "ID_Fremdschluessel_2"
 "Merged_Into"
 "Identisch_mit"
 "WIAG_ID_Bischof"
 "LOD_Academy"
 "ID_Fremdschlüssel_Num"

**VIAF**, dann GND, Wikidata, GSN, Wikipedia

In [392]:
authority_id_viaf = 4 # siehe oben

4

In [393]:
df_cn_viaf = dropmissing(df_cn, :VIAF_ID)
df_cn_viaf[!, :authority_id] .= authority_id_viaf;

In [394]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :VIAF_ID => :value,
]

3-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
      :VIAF_ID => :value

In [395]:
df_ins = select(df_cn_viaf, columns);

In [396]:
transform!(df_ins, :value => ByRow(string) => :value);

In [397]:
df_ins[303:307, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────────────────
   1 │  446928             4  155145542421596641395
   2 │  446922             4  99942788
   3 │  446916             4  171875175
   4 │  446911             4  117145664256105170002
   5 │  446958             4  15563142

In [398]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1911
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1911

**GND**

In [399]:
authority_id_gnd = 1 # siehe oben

1

In [400]:
df_cn_gnd = dropmissing(df_cn, :GND_ID)
df_cn_gnd[!, :authority_id] .= authority_id_gnd;

In [401]:
df_ins = select(df_cn_gnd, :id => :item_id, :authority_id, :GND_ID => :value);

In [402]:
df_ins[303:307, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼───────────────────────────────────
   1 │  446101             1  11850049X
   2 │  446149             1  1255245271
   3 │  446145             1  118594702
   4 │  446144             1  120732890
   5 │  446139             1  137946392

In [403]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 2333
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2333

**Wikidata**

In [404]:
authority_id_wd = 2 # siehe oben

2

In vielen Datensätzen ist `Wikidata_ID` befüllt mit `ergaenzen`

In [405]:
df_cn_wd = dropmissing(df_cn, :Wikidata_ID)
filter!(:Wikidata_ID => !isequal("ergaenzen"), df_cn_wd);

In [406]:
df_cn_wd[!, :authority_id] .= authority_id_wd;

In [407]:
df_ins = select(df_cn_wd, :id => :item_id, :authority_id, :Wikidata_ID => :value);

In [408]:
df_ins[300:307, :]

8×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────
   1 │  445441             2  Q16318409
   2 │  445440             2  Q1223645
   3 │  445437             2  Q73123085
   4 │  445436             2  Q1613052
   5 │  445435             2  Q1406011
   6 │  445494             2  Q2573206
   7 │  445492             2  Q67762626
   8 │  445490             2  Q67079892

In [409]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 2379
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2379

**GSN**

*2022-05-12* manche Einträge sind fehlerhaft  
*2022-05-20* behoben  
*2022-06-02* neu: finde die jeweils aktuelle GSN

begin fix

In [176]:
is_incomplete(s) = !ismissing(s) && occursin(r".*-00$", s)

is_incomplete (generic function with 1 method)

In [177]:
idx_b = findall(is_incomplete, df_cn.GSN_ID)

Int64[]

In [178]:
df_cn[idx_b, [:ID_Domherr, :Vorname, :Familienname, :GSN_ID]]

0×4 DataFrame

In [44]:
fix_gsn_id(s) = ismissing(s) ? s : replace(s, r"-00$" =>"-001")

fix_gsn_id (generic function with 1 method)

In [45]:
transform!(df_cn, :GSN_ID => ByRow(fix_gsn_id) => :GSN_ID);

bereinige komplette URLs in `WIAG_ID_Bischof` (siehe oben)

In [46]:
transform!(df_cn, :WIAG_ID_Bischof => ByRow(get_WIAG_ID_Bischof) => :WIAG_ID_Bischof);

LoadError: UndefVarError: get_WIAG_ID_Bischof not defined

end fix

Ergänze auch mittelbare GSN über Verweise auf Bischöfe, d.h. Domherren verweisen auf Bischöfe, die ihrerseits auf die Personendatenbank verweisen. Dazu müssen zuerst die Bischöfe aktualisiert sein, falls es hier neue Daten gibt.

In [412]:
table_name = "item";
item_type_bishop = 4;
sql = "SELECT i.id as ep, i.id_public, e1.value AS ep_gsn
FROM $(table_name) AS i
JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_bishop) AND i.is_online";
df_ep = Wds.sql_df(sql);

In [413]:
df_ep[71:75, :]

5×3 DataFrame
 Row │ ep      id_public                      ep_gsn
     │ Int32   String?                        String?
─────┼──────────────────────────────────────────────────────
   1 │ 475333  WIAG-Pers-EPISCGatz-04852-001  009-00155-001
   2 │ 475338  WIAG-Pers-EPISCGatz-04847-001  075-00857-001
   3 │ 475361  WIAG-Pers-EPISCGatz-05308-001  024-02496-001
   4 │ 475364  WIAG-Pers-EPISCGatz-05304-001  005-02622-001
   5 │ 475367  WIAG-Pers-EPISCGatz-05301-001  044-00720-001

In [414]:
df_cn[91:95, [:ID_Domherr, :Vorname, :Familienname, :GSN_ID]]

5×4 DataFrame
 Row │ ID_Domherr  Vorname                  Familienname          GSN_ID
     │ Int64       String?                  String?               String?
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      10090  Anselm Kasimir Franz     Eltz-Kempenich        missing
   2 │      10091  Johann Friedrich Arnold  Hoensbroech           029-02124-001
   3 │      10092  Lothar Ferdinand         Metternich-Müllenark  missing
   4 │      10093  Franz Arnold Bernhard    Recke                 026-06481-001
   5 │      10094  Franz Bertram            Harff                 missing

In [415]:
size(df_cn, 1), count(!ismissing, df_cn.GSN_ID)

(26073, 3591)

In [416]:
df_cn_ep = leftjoin(df_cn, df_ep, on = :WIAG_ID_Bischof => :id_public, matchmissing = :notequal);

In [417]:
for row in eachrow(df_cn_ep)
    if ismissing(row[:GSN_ID]) && !ismissing(row[:ep_gsn])
        row[:GSN_ID] = row[:ep_gsn]
    end
end

In [418]:
size(df_cn_ep, 1), count(!ismissing, df_cn_ep.GSN_ID)

(26073, 3908)

In [419]:
authority_id_gsn = 200 # siehe oben

200

In [420]:
df_cn_gsn = dropmissing(df_cn_ep, :GSN_ID)
df_cn_gsn[!, :authority_id] .= authority_id_gsn;

Finde die jeweils aktuell gültige GSN

In [421]:
gso_db = "gso_in_202210"

"gso_in_202210"

In [422]:
# gsn_gsn wird erzeugt aus gsn, siehe notebook Domherr-GS
sql = "SELECT id_new AS gs_gsn_id, nummer, nummer_new
FROM $(gso_db).gsn_gsn";
df_gsn_gsn = Wds.sql_df(sql);

In [423]:
df_ins_gsn = innerjoin(df_cn_gsn, df_gsn_gsn, on = :GSN_ID => :nummer);

In [424]:
df_new_gsn = subset(df_ins_gsn, [:nummer_new, :GSN_ID] => ByRow(!isequal));

In [425]:
size(df_new_gsn)

(1, 56)

In [426]:
df_new_gsn[:, [:id, :ID_Domherr, :Vorname, :Familienname, :GSN_ID, :nummer_new, :Status]]

1×7 DataFrame
 Row │ id      ID_Domherr  Vorname      Familienname  GSN_ID         nummer_new     Status
     │ Int32   Int64       String?      String?       String         String         String?
─────┼──────────────────────────────────────────────────────────────────────────────────────
   1 │ 447656       14210  Thilmann I.  Hagen         074-04812-001  055-00542-001  merged

Ausgabe für die Redaktion

In [226]:
columns = [
    :id => :id,
    :is_online => :is_online,
    :ID_Domherr => :ID_Domherr,
    :Vorname => :Vorname,
    :Familienname => :Familienname,
    :GSN_ID => :GSN_ID,
    :nummer_new => :GSN_ID_neu,
]

7-element Vector{Pair{Symbol, Symbol}}:
           :id => :id
    :is_online => :is_online
   :ID_Domherr => :ID_Domherr
      :Vorname => :Vorname
 :Familienname => :Familienname
       :GSN_ID => :GSN_ID
   :nummer_new => :GSN_ID_neu

In [227]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data";
filename = joinpath(out_path, "domherren_gsn_neu_2022-07-26.csv");
CSV.write(filename, select(df_new_gsn, columns), delim = ";")

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\domherren_gsn_neu_2022-07-26.csv"

Ende: Ausgabe für die Redaktion

In [427]:
df_ins = select(df_ins_gsn, :id => :item_id, :authority_id, :nummer_new => :value);

In [428]:
df_ins[321:325, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────────
   1 │  457365           200  016-03487-001
   2 │  458548           200  016-03513-001
   3 │  457400           200  016-03519-001
   4 │  458602           200  016-03568-001
   5 │  458603           200  016-03599-001

In [429]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 3900
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

3900

**WIAG-ID**

In [430]:
authority_id_wiag = 5 # siehe oben

5

In [431]:
df_cn_wiag = dropmissing(df_cn, :WIAG_ID_Bischof)
df_cn_wiag[!, :authority_id] .= authority_id_wiag;

In [432]:
df_ins = select(df_cn_wiag, :id => :item_id, :authority_id, :WIAG_ID_Bischof => :value);

In [433]:
size(df_ins)

(1233, 3)

In [434]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1233
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1233

**Wikipedia**

In [435]:
authority_id_wp = 3 # siehe oben

3

In [436]:
df_cn_wp = dropmissing(df_cn, :URL_Wikipedia)
df_cn_wp[!, :authority_id] .= authority_id_wp;

In [437]:
df_ins = select(df_cn_wp, :id => :item_id, :authority_id, :URL_Wikipedia => :value);

Die Wikipedia-URLs sind teilweise mit '#' versehen und doppelt  
#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#

In [438]:
url_m = "#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#"
Wds.fix_Wikipedia_URL(url_m)

"Ruprecht_von_der_Pfalz_%28Freising%29"

In [439]:
transform!(df_ins, :value => ByRow(Wds.fix_Wikipedia_URL) => :value);

In [440]:
df_ins[300:304, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         SubStrin…
─────┼──────────────────────────────────────────────────────────
   1 │  446882             3  Stephan_von_Pfalz-Simmern
   2 │  446922             3  Bernhard_von_Breidenbach
   3 │  446916             3  Hertnid_von_Stein
   4 │  446911             3  Johann_II._(Henneberg-Schleusing…
   5 │  446961             3  https://en.wikipedia.org/wiki/Te…

*debug begin*

In [91]:
using CSV

In [92]:
file_wp = "C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

In [93]:
CSV.write(file_wp, df_ins)

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

*debug end*

In [441]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1905
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1905

### Namensvarianten eintragen

In [442]:
using MySQL, DataFrames

In [443]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_domherren.csv");
df_cn = CSV.read(filename, DataFrame);

In [ ]:
# Quelle Datenbank
table_name = "domherr.tbl_domherren"
sql = "SELECT ID_Domherr, Vorname, Familienname, Vorname_Variante, Familienname_Variante " *
"FROM $(table_name)"
df_cn = Wds.sql_df(sql);

In [444]:
Wds.clean_up!(df_cn)

In [445]:
df_fnv = dropmissing(df_cn, :Familienname_Variante);

In [446]:
size(df_fnv, 1)

1722

In [447]:
df_fnv[201:207, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname                            Familienname      ⋯
     │ Int64       String?         String?       Int64   String?  String?                            String?           ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13500  missing         680               27  von      Arnold                             Hoensbroch        ⋯
   2 │      13520  missing         680               27  von      Engelbert Dietrich Theodor Ludew…  Droste-Erwitte
   3 │      13525  missing         680               27  von      Franz Egon                         Fürstenberg
   4 │      13526  missing         680               27  von      Franz Theodor Joseph               Landsberg
   5 │      13528  missing         680               27  von      Gerhard                            Berge             ⋯
   6 │      13538  missing         680               27  Graf zu  Heinrich                           Schwarzburg-Sonde
   7 │      13551  missing         680               27  missing  Johann                             Castellar
                                                                                                      42 columns omitted

In [448]:
df_exp = Wds.expand_column(df_fnv, :Familienname_Variante, delim = ",");

In [449]:
size(df_exp, 1)

2167

In [450]:
df_exp[151:157, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname    Familienname  Sterbedatum  Geburtsdatum   ⋯
     │ Int64       String?         String?       Int64   String?  String?    String?       String?      String?        ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      12735  missing         489               15  missing  Johann     Perper        missing      missing        ⋯
   2 │      12738  missing         489               15  missing  Christoph  Hugewitz      missing      missing
   3 │      12740  missing         489               15  missing  Kaspar     Krüger        missing      missing
   4 │      12742  missing         489               15  missing  Nicolaus   Schmidt       missing      missing
   5 │      12745  missing         489               15  missing  Martin     Schulze       missing      missing        ⋯
   6 │      12751  missing         489               15  missing  Johann     Welsdorf      missing      missing
   7 │      12751  missing         489               15  missing  Johann     Welsdorf      missing      missing
                                                                                                      39 columns omitted

In [451]:
transform!(df_exp, :ID_Domherr => ByRow(string) => :id_in_source);

In [452]:
df_ins = innerjoin(df_idx, df_exp, on = :id_in_source);

In [453]:
size(df_ins, 1)

2167

Spalte `lang` hat den Default-Wert 'de'.

In [454]:
table_name = "familyname_variant"
Wds.filltable!(table_name, select(df_ins, :id => :person_id, :Familienname_Variante => :name))

┌ Info: Rows inserted: 2167
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2167

In [455]:
df_gnv = dropmissing(df_cn, :Vorname_Variante);

In [456]:
size(df_gnv, 1)

1138

In [457]:
df_gnv[201:207, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle       Quelle  Praefix  Vorname                    Familienname     Ste ⋯
     │ Int64       String?         String?            Int64   String?  String?                    String?          Str ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      15128  missing         75, 197                 6  von      Karl Dietrich Joseph       Guttenberg       179 ⋯
   2 │      15176  missing         76                      6  von      Karl Dietrich              Schaumberg       mis
   3 │      15187  missing         76, 131, 185, 197       6  von      Georg Karl Franz           Fechenbach       180
   4 │      15296  missing         99                      6  von      Wilhelm Kaspar             Schorlemmer      mis
   5 │      15332  missing         99                      6  von      Maximilian Heinrich        Weichs-Roesberg  172 ⋯
   6 │      15380  missing         100, 137, 201           6  von      Johann Matthias Friedrich  Westerholt       172
   7 │      15399  missing         100, 149, 201           6  von      Gottfried Konrad Gaudenz   Bocholtz         175
                                                                                                      41 columns omitted

In [458]:
df_exp = Wds.expand_column(df_gnv, :Vorname_Variante, delim = r", *");

In [459]:
size(df_exp, 1)

1319

In [460]:
df_exp[151:157, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname   Familienname           Sterbedatum  Geburt ⋯
     │ Int64       String?         String?       Int64   String?  String?   String?                String?      String ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13185  missing         436               24  von      Albrecht  Sachsen                1342         missin ⋯
   2 │      13191  missing         373               24  von      Johann    Göttingen              1349         missin
   3 │      13194  missing         399               24  missing  Johann    Colonna                1348         missin
   4 │      13239  missing         361               24  missing  Johann    Schenk von Erbach      1383         1309
   5 │      13248  missing         463 f.            24  von      Gerhard   Vivario                vor 1364     missin ⋯
   6 │      13252  missing         391               24  de       Raimund   Canilhac               1373         missin
   7 │      13266  missing         457               24  von      Ulrich    Stein-Steinkallenfels  missing      missin
                                                                                                      40 columns omitted

In [461]:
transform!(df_exp, :ID_Domherr => ByRow(string) => :id_in_source);

In [462]:
df_ins = innerjoin(df_idx, df_exp, on = :id_in_source);

In [463]:
size(df_ins, 1)

1319

Spalte `lang` hat den Default-Wert 'de'.

In [464]:
table_dst = "givenname_variant"
Wds.filltable!(table_dst, select(df_ins, :id => :person_id, :Vorname_Variante => :name))

┌ Info: Rows inserted: 1319
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1319

### Suchvarianten eintragen (name_lookup)

Test

In [365]:
Wds.makevariantsgn("Klaus Walter", "von der", "Vogelweide", "Vollmer, Liber")

6-element Vector{Vector{Union{Missing, String}}}:
 ["Klaus Walter", "von der", "Vogelweide", "Klaus Walter Vogelweide", "Klaus Walter von der Vogelweide"]
 ["Klaus", "von der", "Vogelweide", "Klaus Vogelweide", "Klaus von der Vogelweide"]
 ["Klaus Walter", "von der", "Vollmer", "Klaus Walter Vollmer", "Klaus Walter von der Vollmer"]
 ["Klaus", "von der", "Vollmer", "Klaus Vollmer", "Klaus von der Vollmer"]
 ["Klaus Walter", "von der", "Liber", "Klaus Walter Liber", "Klaus Walter von der Liber"]
 ["Klaus", "von der", "Liber", "Klaus Liber", "Klaus von der Liber"]

In [366]:
df_src = DataFrame(
    id = [1077, 31, 32, 33, 34, 35, 36],
    givenname = ["Dietricus", "Albert", "Hans Otto", "Wilhelm", "Kurt Georg", "Otto", "Otto"],
    prefix_name = [missing, "von", "zu", "von", missing, "auf der", missing],
    familyname = [missing, "Häusler", "Oberhof", "Berg", missing, "Scholle", "Weiß"],
    givenname_variant = [missing, missing, "Johann Otto", "Guido, Guillaume", "Konrad", missing, "Odilon"],
    familyname_variant = [missing, "Hauser, Schad", missing, "Berge", missing, missing, "Blanc"]
    )

7×6 DataFrame
 Row │ id     givenname   prefix_name  familyname  givenname_variant  familyname_variant
     │ Int64  String      String?      String?     String?            String?
─────┼───────────────────────────────────────────────────────────────────────────────────
   1 │  1077  Dietricus   missing      missing     missing            missing
   2 │    31  Albert      von          Häusler     missing            Hauser, Schad
   3 │    32  Hans Otto   zu           Oberhof     Johann Otto        missing
   4 │    33  Wilhelm     von          Berg        Guido, Guillaume   Berge
   5 │    34  Kurt Georg  missing      missing     Konrad             missing
   6 │    35  Otto        auf der      Scholle     missing            missing
   7 │    36  Otto        missing      Weiß        Odilon             Blanc

In [234]:
df_nl = Wds.create_name_lookup(df_src) # schaut gut aus

LoadError: UndefVarError: df_src not defined

ID auslesen

In [465]:
table_name = "item"
sql = "SELECT id, id_in_source FROM $(table_name) where item_type_id = ($item_type_id)"
df_idx = Wds.sql_df(sql);

In [466]:
filename = joinpath(data_path, "tbl_domherren.csv")
df_src = CSV.read(filename, DataFrame);

In [467]:
Wds.clean_up!(df_src);

In [468]:
columns = [
    :ID_Domherr => :ID_Domherr,
    :Vorname => :givenname,
    :Praefix => :prefix_name,
    :Familienname => :familyname,
    :Vorname_Variante => :givenname_variant,
    :Familienname_Variante => :familyname_variant
]

6-element Vector{Pair{Symbol, Symbol}}:
            :ID_Domherr => :ID_Domherr
               :Vorname => :givenname
               :Praefix => :prefix_name
          :Familienname => :familyname
      :Vorname_Variante => :givenname_variant
 :Familienname_Variante => :familyname_variant

In [469]:
select!(df_src, columns);

In [ ]:
# Alternativ: Daten aus der Datenbank auslesen, wenn sie sich von Access aus dahin exportieren lassen.
table_src = "domherr.tbl_domherren"
sql = "SELECT ID_Domherr, " *
"Vorname AS givenname, " *
"Praefix AS prefix_name, " *
"Familienname AS familyname," * 
"Vorname_Variante AS givenname_variant, " * 
"Familienname_Variante AS familyname_variant " *
"FROM $(table_src)"
df_src = Wds.sql_df(sql);

In [470]:
Wds.clean_up!(df_src)

In [471]:
one_not_missing(x, y) = !(ismissing(x) && ismissing(y))

one_not_missing (generic function with 1 method)

In [472]:
filter!([:givenname, :familyname] => one_not_missing, df_src);

In [473]:
transform!(df_src, :ID_Domherr => ByRow(string) => :id_in_source);

In [474]:
size(df_src)

(26023, 7)

In [475]:
names(df_src)

7-element Vector{String}:
 "ID_Domherr"
 "givenname"
 "prefix_name"
 "familyname"
 "givenname_variant"
 "familyname_variant"
 "id_in_source"

In [476]:
df_idx[101:105, :]

5×2 DataFrame
 Row │ id      id_in_source
     │ Int32   String?
─────┼──────────────────────
   1 │ 443945  10109
   2 │ 443946  10108
   3 │ 443947  10107
   4 │ 443948  10106
   5 │ 443949  10105

In [477]:
df_nl_in = innerjoin(df_idx, df_src, on = :id_in_source);

In [478]:
size(df_nl_in)

(26023, 8)

In [479]:
df_nl = Wds.create_name_lookup(df_nl_in);

In [480]:
size(df_nl)

(37700, 3)

In [481]:
df_nl_empty = filter(:gn_fn => ismissing, df_nl);

In [482]:
size(df_nl_empty)

(0, 3)

In [483]:
df_nl[2301:2312, :]

12×3 DataFrame
 Row │ person_id  gn_fn                              gn_prefix_fn
     │ Int64      String?                            String?
─────┼─────────────────────────────────────────────────────────────────────────────────
   1 │    444877  Franz Adam Anton Weichs-Sarstedt   Franz Adam Anton von Weichs-Sars…
   2 │    444877  Franz Weichs-Sarstedt              Franz von Weichs-Sarstedt
   3 │    444878  Engelbert August Weichs-Sarstedt   Engelbert August von Weichs-Sars…
   4 │    444878  Engelbert Weichs-Sarstedt          Engelbert von Weichs-Sarstedt
   5 │    444878  Engelbert August Maria Weichs-Sa…  Engelbert August Maria von Weich…
   6 │    444878  Engelbert Weichs-Sarstedt          Engelbert von Weichs-Sarstedt
   7 │    444879  Maximilian Heinrich Weichs-Roesb…  Maximilian Heinrich von Weichs-R…
   8 │    444879  Maximilian Weichs-Roesberg         Maximilian von Weichs-Roesberg
   9 │    444880  Maximilian Heinrich Joseph Weich…  Maximilian Heinrich Joseph von W…
  10 │    444880  Maximilian Weichs-Roesberg         Maximilian von Weichs-Roesberg
  11 │    444880  Maximilian Heinrich Weichs-Roesb…  Maximilian Heinrich von Weichs-R…
  12 │    444880  Maximilian Weichs-Roesberg         Maximilian von Weichs-Roesberg

Entferne Einträge für diese Art von Items

In [484]:
table_name = "name_lookup"
sql = "DELETE FROM $(table_name) 
WHERE person_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup \nWHERE person_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [485]:
table_name = "name_lookup"
Wds.filltable!(table_name, df_nl)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: 30000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 37700
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

37700

### `canon_lookup_line`
*2022-02-07* Obsolet: Siehe Domherren GS: dort werden alle Verweise angelegt.

Verweise auf sich selbst

In [195]:
table_name = "item";
item_type_dh = 5;
sql = "SELECT id as person_id, id as person_id_canon 
FROM $(table_name) WHERE item_type_id = $(item_type_dh) AND is_online";
df_item_cn_dh = Wds.sql_df(sql);

In [196]:
size(df_item_cn_dh)

(2587, 2)

In [197]:
table_name = "canon_lookup";
Wds.filltable!(table_name, df_item_cn_dh);

┌ Info: Rows inserted: 2587
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

Verweise auf Bischöfe

In [208]:
sql = "SELECT p.id as person_id, givenname, familyname, e.value AS id_external, i.item_type_id
FROM person AS p
JOIN item AS i ON p.id = i.id
JOIN id_external AS e ON i.id = e.item_id
JOIN authority AS a ON e.authority_id = a.id
WHERE a.id = 5
AND i.is_online";
df_cn_episc = Wds.sql_df(sql);

In [209]:
size(df_cn_episc)

(164, 5)

In [210]:
names(df_cn_episc)

5-element Vector{String}:
 "person_id"
 "givenname"
 "familyname"
 "id_external"
 "item_type_id"

`item_id` für WIAG_ID finden

In [211]:
table_name = "item";
type_id_episc = 4;
sql = "SELECT id as id_ep, id_public FROM $(table_name) WHERE item_type_id = $(type_id_episc)";
df_item_episc = Wds.sql_df(sql);

In [212]:
df_cn_episc = innerjoin(df_cn_episc, df_item_episc, on = :id_external => :id_public);

In [213]:
size(df_cn_episc)

(163, 6)

In [202]:
names(df_cn_episc)

6-element Vector{String}:
 "person_id"
 "givenname"
 "familyname"
 "id_external"
 "item_type_id"
 "id_ep"

In [214]:
columns = [
    :person_id => :person_id,
    :id_ep => :person_id_canon
]

2-element Vector{Pair{Symbol, Symbol}}:
 :person_id => :person_id
     :id_ep => :person_id_canon

In [215]:
table_name = "canon_lookup"
Wds.filltable!(table_name, select(df_cn_episc, columns))

┌ Info: Rows inserted: 163
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

163

Überflüssige Verweise bereinigen

In [216]:
id_src = "(" * join(df_cn_episc.person_id, ",") * ")";

In [217]:
sql = "DELETE FROM canon_lookup 
WHERE person_id = person_id_canon 
AND person_id in $(id_src)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM canon_lookup \nWHERE person_id = person_id_canon \nAND person_id in (125502,126086,125984,134479,126004,134480,126007,126009,132577,126034,125943,132668,131042,125532,131056,126083,125936,131012,125527,125525,131071,132499,131830,126032,125820,125816,125797,125796,126087,131068,132686,125835,131036,131029,131608,131567,130950,130997,130947,130957,130982,131005,130986,130981,132678,130940,132227,131373,131045,131220,131014,125478,132788,132313,132779,132153,131904,131225,125983,132206,132502,132683,125536,125469,125474,125632,125556,125470,132687,125974,134483,131241,131410,131319,131356,131083,132145,131732,131571,131221,131341,132306,131227,123910,123912,125937,125639,125287,131761,134614,131692,125827,125828,132067,125798,123644,123590,127932,129175,129435,125290,131249,125733,125779,123732,123676,127664,126006,132550,132644,127547,123656,123658,123662,123585,123622,131722,131727,126322,132033,131464,131986,132771,131846,131857,131859,125774,132548,131832,125758,131248,132501,131797,131725,133190,133879,131785,132705,125644,132045,134568,131459,131915,134572,134593,131932,125869,125815,134596,134584,132521,123707,123589,123757,123758,123762,123765,123721,123715,131687,125991,134683,134513)", 0, -1, 163, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)