# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Domherren aus dem Digitalen Personenregister einlesen

Übertrage Daten aus der GS-online. Die Daten werden aus der produktiven Datenbank auf eine lokale Datenbank eingelesen: `gso`

[Literatur](#Literatur)  
[Domherren](#Domherren)
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Literaturverweise eintragen](#Literaturverweise-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (`name_lookup`)](#Suchvarianten-eintragen-(name_lookup))
- [Bezug zu den anderen Quellen (`canon_lookup`)](#Bezug-zu-den-anderen-Quellen)

[Nachtrag](#Nachtrag-person.note_name)

Quelle: https://mysql.gwdg.de  
*2022-04-27* Datenbank `gso_in_202204`  
*2022-05-12* Datenbank `gso_in_202205`  
*2022-06-02* Bischöfe und Domherren verweisen auf die jeweils aktuelle GSN

Vorspann: Pakete laden; mit der Datenbank verbinden

In [1]:
gs_db = "gso_in_202205"

"gso_in_202205"

In [2]:
wds_path="../.."

"../.."

In [3]:
cd(wds_path)

In [4]:
using Pkg

In [5]:
Pkg.activate(".")

  Activating project at `C:\Users\georg\Documents\projekte\WiagDataSetup.jl`

In [6]:
using Revise

In [7]:
using WiagDataSetup

In [8]:
using MySQL, DataFrames

In [9]:
Wds = WiagDataSetup

WiagDataSetup

In [10]:
Wds.setDBWIAG(user="georg", db="wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

Item Type ID

In [11]:
item_type_id = 6

6

In [12]:
ENV["COLUMNS"] = 120

120

In [13]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

## Löschungen für umfassendes Update

In [14]:
table_name = "name_lookup";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 16640, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [15]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 2850, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [16]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 1572, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [17]:
table_name = "id_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 10160, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [18]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name)
WHERE person_role_id IN
(SELECT id FROM person_role
WHERE person_id in (SELECT id from item WHERE item_type_id = $(item_type_id)))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property\nWHERE person_role_id IN\n(SELECT id FROM person_role\nWHERE person_id in (SELECT id from item WHERE item_type_id = 6))", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [19]:
table_name = "person_role";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 15755, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [20]:
table_name = "person";
sql = "DELETE FROM $(table_name)
WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 8957, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [21]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 7809, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

**Vorsicht** Zunächst die IDs (`id_public`) für die Domherren GS sichern, Einträge in `item` evtl. erst später löschen

In [100]:
table_name = "item";
sql = "DELETE FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item\nWHERE item_type_id = 6", 0, -1, 8523, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Vorspann `gsn_gsn`

``` sql
CREATE TEMPORARY TABLE gsn_new AS
SELECT id, item_id, nummer
FROM gso_in_202205.gsn
WHERE id IN
(SELECT min(id) as id from gso_in_202205.gsn where not deleted group by item_id);

CREATE TABLE gsn_gsn AS
SELECT o.id, o.item_id, o.nummer, n.id as id_new, n.nummer as nummer_new
FROM gsn AS o
INNER JOIN gsn_new AS n ON o.item_id = n.item_id
WHERE NOT o.deleted;
```

## Literatur

In [22]:
table_name = gs_db * ".books"
sql = "SELECT id, titel AS title, autoren AS author, nummer AS number_vol, " *
"uri AS online_resource, kurztitel AS shorttitle " *
"FROM $(table_name)";
df_vol = Wds.sql_df(sql);

In [23]:
names(df_vol)

6-element Vector{String}:
 "id"
 "title"
 "author"
 "number_vol"
 "online_resource"
 "shorttitle"

In [24]:
columns = [
    :id => :reference_id,
    :title => :full_citation,
    :author => :author_editor,
    :online_resource => :online_resource,
    :shorttitle => :title_short,
    :number_vol => :gs_volume_nr,
]

6-element Vector{Pair{Symbol, Symbol}}:
              :id => :reference_id
           :title => :full_citation
          :author => :author_editor
 :online_resource => :online_resource
      :shorttitle => :title_short
      :number_vol => :gs_volume_nr

In [25]:
df_vol_db = select(df_vol, columns);

In [26]:
df_vol_db[!, :item_type_id] .= item_type_id;

Bestehende Einträge löschen

In [27]:
table_name = "reference_volume"
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 6", 0, -1, 87, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten eintragen

In [28]:
table_name = "reference_volume"
Wds.filltable!(table_name, df_vol_db, clear_table = false)

┌ Info: Rows inserted: 87
└ @ WiagDataSetup C:\Users\Georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

87

## Domherren

Betrachte nur Personen, deren Eintrag nicht gelöscht ist und die online sind. Die maßgebliche GSN steht in dem Datensatz mit dem kleinsten Wert der id.
Ergebnisse *2022-02-25*
``` sql
use gso_in_202202;
select gsn.nummer, item_id, gsn.deleted, items.deleted, items.status
from gsn join items on gsn.item_id = items.id 
where items.status = 'online' and not items.deleted limit 12 offset 4000;
select count(*) from gsn join items on gsn.item_id = items.id where items.status = 'online' and not items.deleted;
```
98544
``` sql
select count(distinct(gsn.nummer)) 
from gsn join items on gsn.item_id = items.id 
where items.status = 'online' and not items.deleted;
```
98543
``` sql
create temporary table item_online as
select min(gsn.id) as gsn_tbl_id, gsn.nummer, item_id, items.deleted, items.status
from gsn join items on gsn.item_id = items.id where items.status = 'online'
group by items.id;
select count(*) from item_online;
```
87270

Finde Einträge, die von der Domherrendatenbank referenziert werden (sofern die verweisenden Domherren online sind!)

In [22]:
table_name = "item";
sql = "SELECT item.id as dh_item_id, e.value AS gsn
FROM wiag2.item 
JOIN wiag2.id_external AS e ON item.id = e.item_id
WHERE item_type_id = 5
AND authority_id = 200
AND item.is_online";
dh_gsn = Wds.sql_df(sql);

In [23]:
names(dh_gsn)

2-element Vector{String}:
 "dh_item_id"
 "gsn"

In [24]:
size(dh_gsn, 1)

607

In [25]:
length(unique(dh_gsn.gsn))

607

*2022-04-27* Zwei Domherren, die beide online sind, verweisen auf den gleichen Eintrag in der Personendatenbank. Die Redaktion weiß bescheid. Fahre nur mit einem der Einträge fort.  
*2022-05-12* die Werte stimmen überein: 606

In [29]:
dh_gsn_g = groupby(dh_gsn, :gsn);

In [30]:
dh_gsn_gn = combine(dh_gsn_g, nrow);

In [31]:
subset(dh_gsn_gn, :nrow => ByRow(x -> x > 1))

0×2 DataFrame

In [32]:
dh_gsn_f = combine(dh_gsn_g, first);

In [33]:
dh_gsn_f[51:55, :]

5×2 DataFrame
 Row │ gsn            dh_item_id
     │ String?        Int32
─────┼───────────────────────────
   1 │ 065-02897-001      272807
   2 │ 012-00162-001      272774
   3 │ 060-02172-001      273314
   4 │ 005-01512-001      273279
   5 │ 060-03051-001      273288

Lies aus `gsn` `item_id` (= item der Personendatenbank)

In [27]:
table_name = gs_db * ".gsn"
sql = "SELECT gsn.id as gsn_id, item_id, gsn.nummer, items.status 
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
AND NOT items.deleted AND items.status = 'online';"
item_all = Wds.sql_df(sql);

In [34]:
dh_item_gsn = innerjoin(dh_gsn_f, item_all, on = :gsn => :nummer);

In [35]:
size(dh_item_gsn, 1)

606

In [36]:
setdiff(dh_gsn.gsn, item_all.nummer)

1-element Vector{Union{Missing, String}}:
 "32849854"

*2022-04-27* Diese GSN ist ungültig. Sie gehört zu Ägidius von der Lanken. Der Eintrag ist in einem anderen Eintrag aufgegangen.

Ermittle die IDs weiterer Domherren anhand der relevanten Stifte.

In [37]:
sql = "SELECT id_gsn FROM wiag2.institution AS inst
JOIN wiag2.item_property AS prp ON inst.id = prp.item_id
WHERE prp.name = 'domstift_short'"
df_dft = Wds.sql_df(sql);

In [38]:
ids_dft = "(" * join(df_dft.id_gsn, ", ") * ")"

"(3490, 3491, 3492, 3493, 3494, 3495, 3496, 3498, 3499, 3500, 3501, 3502, 3503, 2066, 953, 832, 783, 792, 794, 803, 736, 739, 675, 676, 679, 701, 616, 628, 343, 226, 3489, 3488, 3487, 60130)"

Betrachte nur gültige Amtseinträge

In [39]:
table_name = gs_db * ".offices";
sql = "SELECT DISTINCT(person_id), item_id 
FROM $(table_name) 
JOIN $(gs_db).persons AS p ON p.id = person_id
WHERE klosterid in $(ids_dft) AND NOT offices.deleted"
mon_item = Wds.sql_df(sql);

In [40]:
size(mon_item, 1)

8845

In [41]:
str_item = "(" * join(mon_item.item_id, ", ") * ")";

In [42]:
table_name = gs_db * ".gsn"
sql = "SELECT min(gsn.id) as id, item_id
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
WHERE item_id IN $(str_item)
AND NOT items.deleted AND items.status = 'online'
GROUP BY item_id";
mon_gsn_id = Wds.sql_df(sql);

In [43]:
size(mon_gsn_id, 1)

8823

In [44]:
str_gsn_id = "(" * join(mon_gsn_id.id, ", ") * ")";

In [45]:
table_name = gs_db * ".gsn"
sql = "SELECT gsn.id as gsn_id, item_id, gsn.nummer as gsn, items.status
FROM $(table_name)
JOIN $(gs_db).items ON item_id = items.id
WHERE gsn.id in $(str_gsn_id)";
mon_item_gsn = Wds.sql_df(sql);

In [46]:
size(mon_item_gsn, 1)

8823

Ohne die Einträge, die über die Domherrenbank referenziert werden.

In [47]:
mon_item_gsn_delta = antijoin(mon_item_gsn, dh_item_gsn, on = :item_id);

In [48]:
size(mon_item_gsn_delta)

(8351, 4)

In [49]:
item_gsn = vcat(mon_item_gsn_delta, select(dh_item_gsn, Not(:dh_item_id)));

In [50]:
size(item_gsn, 1)

8957

`persons`

In [51]:
table_name = gs_db * ".persons"
sql = "SELECT p.id as id_person_gso, item_id, " *
"namenspraefix, vorname, familienname, " *
"sterbedatum, geburtsdatum, `orden`, " *
"anmerkungen, titel, " * 
"gndnummer, viaf, " *
"familiennamenvarianten, vornamenvarianten, " *
"namenszusatz, " *
"zeitraum_von, zeitraum_bis " *
"FROM $(table_name) as p " *
"JOIN $gs_db.items ON items.id = p.item_id " *
"WHERE items.status = 'online' AND NOT items.deleted " *
"ORDER BY p.id";
df_p = Wds.sql_df(sql);

In [52]:
Wds.clean_up!(df_p)

In [53]:
one_valid(x, y) = !ismissing(x) | !ismissing(y)
subset!(df_p, [:vorname, :familienname] => ByRow(one_valid));

In [54]:
names(item_gsn)

4-element Vector{String}:
 "gsn_id"
 "item_id"
 "gsn"
 "status"

In [55]:
df_p_gsn = innerjoin(df_p, item_gsn, on = :item_id);

In [56]:
size(df_p_gsn, 1)

8957

### IDs zuordnen
Lies bestehende IDs.

*2022-01-19* IDs sind von WIAG 1 zu übernehmen, später bei einem Update aus dem jeweils zuletzt verwendeten Datensatz (siehe unten)

In [98]:
sql = "SELECT id AS id_wiag, id_person_gso FROM wiag.cn_canon_gs"
df_id_cn_wiag = Wds.sql_df(sql);

In [84]:
df_id_cn_wiag[201:205, :]

5×2 DataFrame
 Row │ id_public  id_person_gso
     │ Int32      Int32?
─────┼──────────────────────────
   1 │     80211           8556
   2 │     80212           8561
   3 │     80213           8606
   4 │     80214           8607
   5 │     80215           8620

*2022-04-27* IDs aus `wiag2_save`

In [57]:
db_save = "wiag2_save";
table_name = db_save * ".item";
sql = "SELECT id_public, id_in_source as id_person_gso
FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
df_id_cn_wiag = Wds.sql_df(sql);

In [58]:
# nur wenn die Quelle wiag2 ist
function get_id_wiag(id_public)
    rgx = r"WIAG-Pers-CANON-([0-9]+)-0[0-9][0-9]"
    rgm = match(rgx, id_public)
    if isnothing(rgm)
        @warn "no match for" id_public
        return missing
    else
        return parse(Int, rgm[1])
    end
end

get_id_wiag (generic function with 1 method)

In [59]:
get_id_wiag("WIAG-Pers-CANON-80212-001")

80212

In [60]:
transform!(df_id_cn_wiag, :id_public => ByRow(get_id_wiag) => :id_wiag);

In [61]:
# nur wenn die Quelle wiag2 ist
transform!(df_p_gsn, :id_person_gso => ByRow(string) => :id_person_gso);

In [62]:
df_p_gsn[21:25, [:id_person_gso, :item_id, :vorname, :gsn, :status]]

5×5 DataFrame
 Row │ id_person_gso  item_id  vorname   gsn            status
     │ String         Int32    String?   String?        String
─────┼─────────────────────────────────────────────────────────
   1 │ 5049              5049  Matthäus  003-00513-001  online
   2 │ 5090              5090  Joachim   003-00554-001  online
   3 │ 5092              5092  Jakob     003-00556-001  online
   4 │ 5096              5096  Peter     003-00560-001  online
   5 │ 5135              5135  Gebhard   003-00599-001  online

In [63]:
df_id_cn_wiag[21:25, :]

5×3 DataFrame
 Row │ id_public                  id_person_gso  id_wiag
     │ String?                    String?        Int64
─────┼───────────────────────────────────────────────────
   1 │ WIAG-Pers-CANON-80010-001  4749             80010
   2 │ WIAG-Pers-CANON-80009-001  4719             80009
   3 │ WIAG-Pers-CANON-80008-001  4705             80008
   4 │ WIAG-Pers-CANON-80007-001  4698             80007
   5 │ WIAG-Pers-CANON-80006-001  4684             80006

In [64]:
df_cn_id = leftjoin(df_p_gsn, df_id_cn_wiag, on = :id_person_gso);

In [65]:
size(df_cn_id)

(8958, 22)

In [128]:
df_cn_id[201:205, [:id_person_gso, :item_id, :id_wiag, :vorname, :familienname]]

5×5 DataFrame
 Row │ id_person_gso  item_id  id_wiag  vorname      familienname
     │ String         Int32    Int64?   String?      String?
─────┼──────────────────────────────────────────────────────────────────────
   1 │ 8223              8223    80202  Bonaventura  missing
   2 │ 8161              8161    80201  Bohusch      Hostýň alias Pardubitz
   3 │ 8141              8141    80200  Bodo         Stolberg
   4 │ 8138              8138    80198  Bodo         Ileburg
   5 │ 8133              8133    80197  Bodo         missing

In [67]:
df_cn_id_id = subset(df_cn_id, :id_wiag => ByRow(!ismissing));
df_cn_id_new = subset(df_cn_id, :id_wiag => ByRow(ismissing));

In [68]:
size(df_cn_id_new, 1)

1

*2022-03-10* Es sind 83 neue IDs zu vergeben. (zunächst "nur" für WIAGweb2)  
*2022-04-27* Es sind 502 neue IDs zu vergeben.
*2022-05-12* Es sind 511 neue IDs zu vergeben.
*2022-05-20* Es ist 1 neue ID zu vergeben.

In [69]:
next_id = maximum(df_cn_id_id.id_wiag) + 1

90844

In [70]:
sort!(df_cn_id_new, :item_id);

In [71]:
id = next_id
for row in eachrow(df_cn_id_new)
    row[:id_wiag] = id
    id += 1
end

In [72]:
sort!(df_cn_id_id, :id_wiag);

In [73]:
df_cn_id_id[end-5:end, [:item_id, :gsn_id, :id_wiag, :vorname, :familienname]]

6×5 DataFrame
 Row │ item_id  gsn_id  id_wiag  vorname   familienname
     │ Int32    Int32   Int64?   String?   String?
─────┼──────────────────────────────────────────────────
   1 │  337491  382368    90838  Asswer    Bevern
   2 │  337493  382373    90839  Gerhard   Vivario
   3 │  337503  382395    90840  Konrad    Schmid
   4 │  337504  382397    90841  Johannes  Zeller
   5 │  337506  382401    90842  Adolf     Quadt
   6 │  337507  382404    90843  Bernhard  Monick

In [75]:
df_cn_id_new[1:1, [:item_id, :gsn_id, :id_wiag, :vorname, :familienname]]

1×5 DataFrame
 Row │ item_id  gsn_id  id_wiag  vorname    familienname
     │ Int32    Int32   Int64?   String?    String?
─────┼───────────────────────────────────────────────────
   1 │  116511  212288    90844  Friedrich  Rhein

In [76]:
df_cn_all = vcat(df_cn_id_id, df_cn_id_new);

In [130]:
size(df_cn_all, 1), size(unique(df_cn_all), 1)

(8958, 8957)

Otto mit `id_in_source` = "325778" ist doppelt. Wir nehmen ihn nur einmal auf. Die schon mal vergebene `id_public` wird nicht vermisst, wenn es schon immer einen Verweis von einem Domherren aus der Domherrendatenbank gab. Denn dann ist dessen `id_public` relevant.

In [131]:
unique!(df_cn_all);

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Domherr GS' in `item_type`: 6

In [77]:
df_cn_all[211:215, [:vorname, :familienname, :geburtsdatum, :sterbedatum, :id_wiag]]

5×5 DataFrame
 Row │ vorname     familienname  geburtsdatum  sterbedatum  id_wiag
     │ String?     String?       String?       String?      Int64?
─────┼──────────────────────────────────────────────────────────────
   1 │ Burchardus  missing       missing       missing        80225
   2 │ Busso       Bartensleben  missing       missing        80226
   3 │ Busso       Britzke       1534          1572           80232
   4 │ Busso       Schilt        missing       missing        80234
   5 │ Busso       Schraplau     missing       missing        80235

In [132]:
columns = [
    :id_person_gso => :id_in_source,
    :id_wiag => :id_wiag
]

2-element Vector{Pair{Symbol, Symbol}}:
 :id_person_gso => :id_in_source
       :id_wiag => :id_wiag

In [133]:
df_item = select(df_cn_all, columns);

In [134]:
using Dates

In [135]:
user_wiag_id = 1;
time_stamp = Dates.format(now(), dateformat"yyyy-mm-dd HH:MM");

In [136]:
insertcols!(
    df_item, 
    1,
    :item_type_id => item_type_id,
    :edit_status => "importiert",
    :created_by => user_wiag_id,
    :date_created => time_stamp,
    :changed_by => user_wiag_id,
    :date_changed => time_stamp,
    :is_online => 1
);

In [137]:
df_item[17, :]

DataFrameRow
 Row │ item_type_id  edit_status  created_by  date_created      changed_by  date_changed      is_online  id_in_source  ⋯
     │ Int64         String       Int64       String            Int64       String            Int64      String        ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  17 │            6  importiert            1  2022-05-20 14:40           1  2022-05-20 14:40          1  4904          ⋯
                                                                                                        1 column omitted

Public ID erzeugen

In [138]:
function make_id_public(id::Real)
    id_public_key = "Pers-CANON"
    num_id_length = 5
    return "WIAG-" * id_public_key * "-" * lpad(id, num_id_length, '0') * "-001"
end

make_id_public (generic function with 1 method)

In [139]:
transform!(df_item, :id_wiag => ByRow(make_id_public) => :id_public);

In [140]:
names(df_item)

10-element Vector{String}:
 "item_type_id"
 "edit_status"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "is_online"
 "id_in_source"
 "id_wiag"
 "id_public"

Bestehende Einträge löschen  
Die Einträge in `item` sind bei einem Update als letztes zu löschen, da die anderen Tabellen von Tabelle `item` abhängen.

In [141]:
item_type_id

6

In [142]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 6", 0, -1, 8958, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [143]:
exclude_cols = [
    :id_wiag,    
]

1-element Vector{Symbol}:
 :id_wiag

In [144]:
table_name = "item";
Wds.filltable!(table_name, select(df_item, Not(exclude_cols)), clear_table = false)

┌ Info: Rows inserted: 8957
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

8957

*2022-04-27*: 8936

### Daten eintragen

IDs auslesen

In [145]:
table_name = "item";
sql = "SELECT id, id_in_source FROM $(table_name) where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

In [146]:
size(df_idx)

(8957, 2)

Spalte für die Zusammenführung befüllen (Typ: String!)

In [147]:
transform!(df_cn_all, :id_person_gso => ByRow(string) => :id_in_source);

In [171]:
df_cn_idx = innerjoin(df_idx, df_cn_all, on = :id_in_source);

In [172]:
length(unique(df_cn_idx.id_in_source)), size(df_cn_all, 1), size(df_cn_idx, 1)

(8957, 8957, 8957)

*2022-05-20* doppelter Verweis auf Otto in `item` bereinigt  
begin debug

In [173]:
function freq(v)
    f_count = Dict{eltype(v), Int}()
    for e in v
        f_count[e] = get(f_count, e, 0) + 1
    end
    return DataFrame(val = collect(keys(f_count)), freq = collect(values(f_count)))
end

freq (generic function with 1 method)

In [174]:
df_info_cn_n = freq(df_cn_idx.id_in_source);

In [175]:
subset(df_info_cn_n, :freq => ByRow((x -> x > 1)))

0×2 DataFrame

In [176]:
df_info_mult = subset(df_cn_idx, :id_in_source => ByRow(isequal("325778")))

1×24 DataFrame
 Row │ id      id_in_source  id_person_gso  item_id  namenspraefix  vorname  familienname  sterbedatum  geburtsdatum   ⋯
     │ Int32   String?       String         Int32    String?        String?  String?       String?      String?        ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 308831  325778        325778          332194  missing        Otto     missing       wohl 1181    missing        ⋯
                                                                                                      15 columns omitted

In [120]:
df_info_mult[:, [:id_in_source, :vorname, :familienname, :gsn_id, :gsn]]

2×5 DataFrame
 Row │ id_in_source  vorname  familienname  gsn_id  gsn
     │ String        String?  String?       Int32   String?
─────┼────────────────────────────────────────────────────────────
   1 │ 325778        Otto     missing       374286  700-00388-001
   2 │ 325778        Otto     missing       374286  700-00388-001

In [124]:
df_cn_all_u = unique(df_cn_all);

In [125]:
size(df_cn_all_u)

(8957, 23)

*2022-05-12* Zwei Domherren verweisen über unterschiedliche GSN auf den gleichen Domherren GS
*2022-05-20* Die Domherren 13486 und 38149 verweisen beide auf 700-00388-001

end debug

Jahreszahlen ermitteln

In [177]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [178]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [179]:
transform!(df_cn_idx, :geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

In [180]:
transform!(df_cn_idx, :sterbedatum => ByRow(parse_date_death) => :num_date_death);

In [181]:
insertcols!(df_cn_idx,
    :item_type_id => item_type_id,
);

In [182]:
size(df_cn_idx)

(8957, 27)

Orden zuordnen

Bereinige Einträge

In [183]:
abbrev_dict = Dict("Kapuziner" => "OFMCap", "S. J." => "SJ")
get_abbreviation(order) = get(abbrev_dict, order, order)

get_abbreviation (generic function with 1 method)

In [184]:
transform!(df_cn_idx, :orden => ByRow(get_abbreviation) => :orden);

In [185]:
sql = "SELECT id as religious_order_id, abbreviation FROM religious_order";
df_rel_order = Wds.sql_df(sql);

In [186]:
df_cn_idx = leftjoin(df_cn_idx, df_rel_order, on = :orden => :abbreviation, matchmissing = :notequal);

In [187]:
a_not_b(a, b) = !ismissing(a) && ismissing(b)

a_not_b (generic function with 1 method)

In [188]:
df_cn_no_match = subset(df_cn_idx, [:orden, :religious_order_id] => ByRow(a_not_b));

In [189]:
df_cn_no_match[:, [:id, :id_in_source, :orden]]

0×3 DataFrame

In [191]:
columns = [
    :id => :id,
    :item_type_id => :item_type_id,
    :namenspraefix => :prefixname,
    :vorname => :givenname,
    :familienname => :familyname,
    :anmerkungen => :comment,
    :geburtsdatum => :date_birth,
    :sterbedatum => :date_death,
    :num_date_birth => :num_date_birth,
    :num_date_death => :num_date_death,
    :religious_order_id => :religious_order_id,
]

11-element Vector{Pair{Symbol, Symbol}}:
                 :id => :id
       :item_type_id => :item_type_id
      :namenspraefix => :prefixname
            :vorname => :givenname
       :familienname => :familyname
        :anmerkungen => :comment
       :geburtsdatum => :date_birth
        :sterbedatum => :date_death
     :num_date_birth => :num_date_birth
     :num_date_death => :num_date_death
 :religious_order_id => :religious_order_id

Einträge löschen (Korrektur/Update)

In [194]:
df_cn_db = select(df_cn_idx, columns);

In [192]:
table_name = "person"
sql = "DELETE FROM $(table_name)
WHERE id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN (SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [195]:
Wds.filltable!("person", df_cn_db; clear_table=false)

┌ Info: Rows inserted: 8957
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

8957

### Orden eintragen
*2022-01-19* Die (vorläufige) Ordenstabelle basiert auf den Ordensangaben für Bischöfe und auf den Ordensangaben hier.

In [198]:
unique(df_cn_all.orden)

11-element Vector{Union{Missing, String}}:
 missing
 "OPraem"
 "SJ"
 "OP"
 "Kapuziner"
 "OFMObs"
 "S. J."
 "OSB"
 "OT"
 "CRVC"
 "OCist"

In [199]:
lookup_order = Dict(
    "Kapuziner" => "OFMCap",
    "S. J." => "SJ",
)

Dict{String, String} with 2 entries:
  "Kapuziner" => "OFMCap"
  "S. J."     => "SJ"

In [200]:
normalize_order(order) = get(lookup_order, order, order)

normalize_order (generic function with 1 method)

In [201]:
transform!(df_cn_idx, :orden => ByRow(normalize_order) => :orden);

In [202]:
orders_gs = filter(!ismissing, unique(df_cn_idx.orden))

9-element Vector{Union{Missing, String}}:
 "OPraem"
 "SJ"
 "OP"
 "OFMCap"
 "OFMObs"
 "OSB"
 "OT"
 "CRVC"
 "OCist"

In [156]:
table_name = "religious_order"
sql = "SELECT abbreviation FROM $(table_name)"
df_orders = Wds.sql_df(sql);

In [157]:
new_orders = setdiff(orders_gs, df_orders.abbreviation)

Union{Missing, String}[]

Eintrag in `item`

*2022-02-25* Nur nötig, wenn die Orden neu angelegt werden.

In [ ]:
table_name = "item";
sql = "SELECT * FROM $(table_name) LIMIT 0";
df_item = Wds.sql_df(sql);

In [ ]:
id_next = 22;

In [ ]:
item_type_order = 7;
user_wiag_id = 7; # Georg
time_stamp = Dates.format(now(), dateformat"yyyy-mm-dd HH:MM");

In [ ]:
df_item = select(df_item, Not(:id));

In [ ]:
table_name = "item"
sql = "INSERT INTO $(table_name) SET
    item_type_id = $(item_type_order),    
    id_in_source = $(id_next),
    is_deleted = 0,
    is_online = 0,
    created_by = $(user_wiag_id),
    date_created = '$(time_stamp)',
    changed_by = $(user_wiag_id),
    date_changed = '$(time_stamp)'"
DBInterface.execute(Wds.dbwiag, sql)

Lies `item_id` für religiöse Orden aus

In [144]:
table_name = "item"
sql = "SELECT id, id_in_source 
FROM $(table_name) 
WHERE id_in_source = $(id_next) and item_type_id = $(item_type_order)"
df_idx = Wds.sql_df(sql);

LoadError: UndefVarError: id_next not defined

In [145]:
item_id = df_idx[1, :id]

249263

In [146]:
table_name = "religious_order";
sql = "INSERT INTO $(table_name) SET id = $(item_id), abbreviation = 'CRVC'";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "INSERT INTO religious_order SET id = 249263, abbreviation = 'CRVC'", 0, -1, 1, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

### Literaturverweise eintragen

IDs wieder einlesen, falls hier neu gestartet wird.

In [210]:
table_name = "item";
sql = "SELECT id, id_in_source
FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
df_idx = Wds.sql_df(sql);

In [196]:
size(df_idx, 1), size(df_p_gsn, 1)

(8957, 8957)

In [ ]:
find_ids(id) = id in ("4586", "4590", "4620", "4623")

In [ ]:
subset(df_idx, :id_in_source => ByRow(find_ids))

In [ ]:
df_p_gsn[1:5, [:id_person_gso, :vorname]]

In [212]:
transform!(df_p_gsn, :id_person_gso => ByRow(string) => :id_in_source);

In [213]:
df_cn_idx = innerjoin(df_p_gsn, df_idx, on = :id_in_source);

In [197]:
size(df_cn_idx, 1)

8957

In [198]:
table_name = gs_db * ".locations";
sql = "SELECT item_id as item_id_gs, seiten, book_id  FROM $(table_name) " * 
"WHERE item_status = 'online' AND NOT deleted " *
"GROUP BY item_id, book_id, seiten"
df_p_ref = Wds.sql_df(sql);

Verbinde die Literaturangaben mit den relevanten Domherren

In [199]:
columns = [:id => :item_id, :item_id => :item_id_gs]

2-element Vector{Pair{Symbol, Symbol}}:
      :id => :item_id
 :item_id => :item_id_gs

In [200]:
df_p_ref = innerjoin(df_p_ref, select(df_cn_idx, columns), on = :item_id_gs);

In [201]:
size(df_p_ref)

(14717, 4)

Übernimm für Domherren mit Kurzbiographie nur Literaturhinweise mit Kurzbiographien (`transfer_gso.sql`: 2021-04-26) Es ist freilich möglich, dass es mehrere Literaturverweise gibt, die eine Kurzbiographie enthalten.

In [202]:
is_bio(seiten) = contains(seiten, "<b>");

In [203]:
df_p_ref_bio = subset(df_p_ref, :seiten =>ByRow(is_bio));

In [204]:
size(df_p_ref_bio)

(7806, 4)

Bilde die Differenzmenge in Bezug auf Domherren, nicht in Bezug auf Literaturverweise

In [205]:
is_item_bio(item_id) = item_id in unique(df_p_ref_bio.item_id)

is_item_bio (generic function with 1 method)

In [206]:
df_p_ref_mg_bio = subset(df_p_ref, :item_id => ByRow(!is_item_bio));

Einträge löschen für Korrekturen oder ein Update

In [207]:
item_type_id

6

In [208]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 6", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [209]:
insertcols!(df_p_ref_bio, 1, :item_type_id => item_type_id);

In [210]:
insertcols!(df_p_ref_mg_bio, 1, :item_type_id => item_type_id);

In [211]:
columns = [
    :item_id => :item_id,
    :seiten => :page,
    :item_type_id => :item_type_id,
    :book_id => :reference_id,
]

4-element Vector{Pair{Symbol, Symbol}}:
      :item_id => :item_id
       :seiten => :page
 :item_type_id => :item_type_id
      :book_id => :reference_id

In [212]:
table_name = "item_reference"
Wds.filltable!(table_name, select(df_p_ref_bio, columns))

┌ Info: Rows inserted: 7806
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

7806

*2022-02-25* Es werden nur noch Literaturangaben mit Kurzbiographie berücksichtigt.

In [ ]:
table_name = "item_reference"
Wds.filltable!(table_name, select(df_p_ref_mg_bio, columns))

Probe:
``` sql
select count(distinct(item_id)) from item_reference where item_type_id = 6;
```
7389

Es gibt also für jeden Domherren mindestens einen Literaturverweis

### Externe URLs eintragen

In [194]:
using MySQL, DataFrames

In [195]:
Wds.setDBWIAG(user = "georg", db = "wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

In [196]:
item_type_id = 6

6

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [213]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [214]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)"
Wds.sql_df(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

**VIAF**, dann GND, GSN

In [215]:
authority_id = 4 # siehe oben

4

In [216]:
col = :viaf;
df_p_auth = dropmissing(df_cn_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [217]:
size(df_p_auth)

(1, 30)

In [218]:
df_p_auth

1×30 DataFrame
 Row │ authority_id  id      id_in_source  id_person_gso  item_id  namenspraefix  vorname           familienname       ⋯
     │ Int64         Int32   String?       String         Int32    String?        String?           String?            ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │            4  308799  325149        325149          331572  von            Joseph Christian  Hohenlohe-Bartenst ⋯
                                                                                                      23 columns omitted

In [219]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :value => :value,
]

3-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
        :value => :value

In [220]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 1
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1

**GND**

In [221]:
authority_id = 1 # siehe oben

1

In [222]:
col = :gndnummer
df_p_auth = dropmissing(df_cn_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [223]:
size(df_p_auth)

(1200, 30)

In [224]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 1200
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1200

**GSN**

In [225]:
authority_id = 200 # siehe oben

200

In [226]:
col = :gsn
df_p_auth = dropmissing(df_cn_idx, col);
insertcols!(df_p_auth, 1, :authority_id => authority_id);
transform!(df_p_auth, col => :value);

In [227]:
table_name = "id_external"
Wds.filltable!("id_external", select(df_p_auth, columns))

┌ Info: Rows inserted: 8957
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

8957

### Namensvarianten eintragen

In [228]:
using MySQL, DataFrames

In [229]:
col = :familiennamenvarianten;
df_fnv = dropmissing(df_cn_idx, col);

In [230]:
size(df_fnv)

(1893, 28)

In [231]:
df_exp = Wds.expand_column(df_fnv, col, delim = ",");

In [232]:
size(df_exp)

(2850, 28)

In [233]:
df_exp[150:157, [:vorname, :familienname, col]]

8×3 DataFrame
 Row │ vorname   familienname  familiennamenvarianten
     │ String?   String?       String
─────┼────────────────────────────────────────────────
   1 │ Johann    Schroder      Schrader
   2 │ Johann    Schulte       Schultz
   3 │ Johannes  Schwichelt    de Swichelte
   4 │ Johann    Sthimer       Stymer
   5 │ Johann    Sthimer       Stimer
   6 │ Johann    Went          Wendt
   7 │ Johann    Witgerber     Witgerwer
   8 │ Kaspar    Han           Hahne

Spalte `lang` hat den Default-Wert 'de'.

In [234]:
columns = [
    :id => :person_id,
    :familiennamenvarianten => :name,
]

2-element Vector{Pair{Symbol, Symbol}}:
                     :id => :person_id
 :familiennamenvarianten => :name

Einträge löschen (Korrekturen, Daten-Update)

In [235]:
item_type_id

6

In [236]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [237]:
table_name = "familyname_variant"
Wds.filltable!(table_name, select(df_exp, columns))

┌ Info: Rows inserted: 2850
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

2850

Vornamen

In [238]:
col = :vornamenvarianten;
df_gnv = dropmissing(df_cn_idx, col);

In [239]:
size(df_gnv)

(1188, 28)

In [240]:
df_exp = Wds.expand_column(df_gnv, col, delim = r", *");

In [241]:
size(df_exp)

(1572, 28)

In [242]:
df_exp[150:157, [:vorname, :familienname, col]]

8×3 DataFrame
 Row │ vorname     familienname  vornamenvarianten
     │ String?     String?       String
─────┼─────────────────────────────────────────────
   1 │ Giselbert   missing       Giselbertus
   2 │ Giselbert   Rump          Giselbertus
   3 │ Giselbert   Warendorf     Giselbertus
   4 │ Gottfried   missing       Gotfridus
   5 │ Godefridus  missing       Gottfried
   6 │ Godefridus  missing       Gottfried
   7 │ Gottfried   Paderborn     Godefridus
   8 │ Gottschalk  missing       Godascalcus

In [243]:
columns = [
    :id => :person_id,
    col => :name,
]

2-element Vector{Pair{Symbol, Symbol}}:
                :id => :person_id
 :vornamenvarianten => :name

Einträge löschen (Korrekturen, Daten-Update)

In [244]:
item_type_id

6

In [245]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [246]:
table_name = "givenname_variant"
Wds.filltable!(table_name, select(df_exp, columns))

┌ Info: Rows inserted: 1572
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1572

### Suchvarianten eintragen (name_lookup)

In [247]:
columns = [    
    :vorname => :givenname,
    :vornamenvarianten => :givenname_variant,
    :namenspraefix => :prefix_name,
    :familienname => :familyname,
    :familiennamenvarianten => :familyname_variant,
];
lookup_columns = Dict(columns)

Dict{Symbol, Symbol} with 5 entries:
  :vorname                => :givenname
  :namenspraefix          => :prefix_name
  :familiennamenvarianten => :familyname_variant
  :familienname           => :familyname
  :vornamenvarianten      => :givenname_variant

In [248]:
rename!(df_cn_idx, lookup_columns);

In [249]:
df_nl = Wds.create_name_lookup(df_cn_idx); # schaut gut aus

In [250]:
names(df_nl)

3-element Vector{String}:
 "person_id"
 "gn_fn"
 "gn_prefix_fn"

In [251]:
size(unique(df_nl.person_id))

(8957,)

In [252]:
df_nl_empty = filter(:gn_fn => ismissing, df_nl);

In [253]:
size(df_nl_empty)

(0, 3)

In [254]:
df_nl[2301:2312, :]

12×3 DataFrame
 Row │ person_id  gn_fn                            gn_prefix_fn
     │ Int64      String?                          String?
─────┼───────────────────────────────────────────────────────────────────────────────
   1 │    303521  Johannes Sickenbeck              Johannes von Sickenbeck
   2 │    303520  Johannes Stael                   missing
   3 │    303519  Johannes Stael                   missing
   4 │    303518  Johannes Unna                    Johannes von Unna
   5 │    303517  Johannes Wyse                    missing
   6 │    303516  Jordanus                         missing
   7 │    303515  Jordanus Detten                  Jordanus von Detten
   8 │    303515  Jordanus de Thete                Jordanus von de Thete
   9 │    303514  Lambert                          missing
  10 │    303514  Lambertus                        missing
  11 │    303513  Engelbert Landsberg              Engelbert von Landsberg
  12 │    303512  Ferdinand Franz Adolf Landsberg  Ferdinand Franz Adolf Freiherr v…

Entferne Einträge für diese Art von Items

In [255]:
table_name = "name_lookup"
sql = "DELETE FROM $(table_name) 
WHERE person_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup \nWHERE person_id IN (SELECT id FROM item WHERE item_type_id = 6)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [256]:
names(df_nl)

3-element Vector{String}:
 "person_id"
 "gn_fn"
 "gn_prefix_fn"

In [257]:
table_name = "name_lookup"
Wds.filltable!(table_name, df_nl)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 16638
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

16638

## Bezug zu den anderen Quellen
Siehe **Variante** unten  
Zuerst Update der Domherrendatenbank durchführen

GS-EP und DH-EP: alle;  
GS-DH ohne GS-EP  
DH-DH ohne DH-EP  
GS-GS ohne GS-DH ohne GS-EP  
schließliche EP-EP (sofern EP als Ziel vorkommt)

In [ ]:
df_cn_lp = DataFrame(person_id = Int[], person_id_canon = Int[])

GS - EP

In [ ]:
authority_id = 200; # GSN
item_type_ep = 4; # Bischof
item_type_gs = 6; # Domherr GS
sql = "SELECT gs_gsn.id as person_id, ep_gsn.id as person_id_canon FROM
(SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_gs)
AND ext.authority_id = $(authority_id)) AS gs_gsn
JOIN (SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_ep)
AND ext.authority_id = $(authority_id)) AS ep_gsn 
ON ep_gsn.id_gsn = gs_gsn.id_gsn"
df_gs_ep = Wds.sql_df(sql);

In [ ]:
size(df_gs_ep)

In [ ]:
df_gs_ep[530:535, :]

In [ ]:
append!(df_cn_lp, df_gs_ep);

DH - EP

In [ ]:
authority_id = 5; # WIAG
item_type_ep = 4; # Bischof
item_type_dh = 5; # Domherr
sql = "SELECT dh.id AS person_id, ep.id AS person_id_canon
FROM (SELECT i.id, ext_dh.value AS id_ep_public
FROM item as i 
JOIN id_external as ext_dh ON i.id = ext_dh.item_id
WHERE ext_dh.authority_id = $(authority_id)
AND i.item_type_id = $(item_type_dh)
AND i.is_online) AS dh
JOIN (SELECT i.id, i.id_public
FROM item AS i
WHERE i.item_type_id = $(item_type_ep)) AS ep
ON ep.id_public = dh.id_ep_public";
df_dh_ep = Wds.sql_df(sql);

In [ ]:
size(df_dh_ep)

In [ ]:
df_dh_ep[50:57, :]

In [ ]:
append!(df_cn_lp, df_dh_ep);

GS - DH ohne GS - EP (nur Neuzugänge)

In [ ]:
authority_id = 200; # GSN
item_type_dh = 5; # Domherr
item_type_gs = 6; # Domherr GS
sql = "SELECT gs_gsn.id as person_id, dh_gsn.id as person_id_canon FROM
(SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_gs)
AND ext.authority_id = $(authority_id)) AS gs_gsn
JOIN (SELECT i.id, ext.value as id_gsn
FROM item as i 
JOIN id_external AS ext ON i.id = ext.item_id
WHERE i.is_online 
AND i.item_type_id = $(item_type_dh)
AND ext.authority_id = $(authority_id)) AS dh_gsn 
ON dh_gsn.id_gsn = gs_gsn.id_gsn"
df_gs_dh = Wds.sql_df(sql);

In [ ]:
size(df_gs_dh)

In [ ]:
in_person_id(id) = id in df_cn_lp.person_id

In [ ]:
df_gs_dh = subset(df_gs_dh, :person_id => ByRow(!in_person_id));

In [ ]:
size(df_gs_dh)

In [ ]:
df_gs_dh[250:255, :]

In [ ]:
append!(df_cn_lp, df_gs_dh);

DH - DH und GS - GS ohne DH - EP ohne GS - DH ohne GS - EP: nur Neuzugänge

In [ ]:
table_name = "item";
item_type_dh = 5;
item_type_gs = 6;
sql = "SELECT id as person_id, id as person_id_canon 
FROM $(table_name) WHERE item_type_id in ($(item_type_dh), $(item_type_gs)) AND is_online";
df_cn_rx = Wds.sql_df(sql);

In [ ]:
size(df_cn_rx)

In [ ]:
df_cn_rx = subset(df_cn_rx, :person_id => ByRow(!in_person_id));

In [ ]:
size(df_cn_rx)

In [ ]:
append!(df_cn_lp, df_cn_rx);

In [ ]:
size(df_cn_lp)

EP - EP, sofern sie als Ziel vorkommen

In [ ]:
table_name = "item";
item_type_ep = 4;
sql = "SELECT id FROM $(table_name) WHERE item_type_id = $(item_type_ep)"
df_ids_ep = Wds.sql_df(sql);

In [ ]:
ids_ep_lp = intersect(df_ids_ep.id, df_cn_lp.person_id_canon);

In [ ]:
size(ids_ep_lp)

In [ ]:
df_ep_ep = DataFrame(person_id = ids_ep_lp, person_id_canon = ids_ep_lp);

In [ ]:
append!(df_cn_lp, df_ep_ep);

In [ ]:
size(df_cn_lp)

In [ ]:
table_name = "canon_lookup";
Wds.filltable!(table_name, df_cn_lp, clear_table = true)

### Bezug zu anderen Quellen (2)
Neue Struktur von `canon_lookup`: Ein Datensatz pro Domherr mit den Feldern

`person_id_name`: ID der Person für die Namensdaten (Bischof > Domherr > Domherr GS)  
`person_id_role`: ID der Person für Amtsdaten
`prio_role`: Priorisierung der Amtsdaten (Domherr > Domherr GS > Bischof)  

`person_id_role` ist eindeutig. Für jeden Wert von `person_id_name` gibt es immer auch einen Eintrag, wo `person_id_name` und `person_id_role` übereinstimmen.

Domherrendatenbank

IDs der Domherren aus der Domherrendatenbank und die Verweise auf Bischöfe und Domherren aus der Personendatenbank

In [14]:
table_name = "item";
item_type_domherr = 5;
sql = "SELECT i.id as dh, e1.value AS dh_gsn, e2.value AS dh_episc_id
FROM $(table_name) AS i
LEFT JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
LEFT JOIN id_external AS e2 ON e2.item_id = i.id AND e2.authority_id = 5
WHERE i.item_type_id = $(item_type_domherr) AND i.is_online";
df_dh = Wds.sql_df(sql);

In [15]:
size(df_dh, 1)

3233

In [16]:
names(df_dh)

3-element Vector{String}:
 "dh"
 "dh_gsn"
 "dh_episc_id"

*2022-04-28* Suche Verweise auf den gleichen Domherrn GS. Mitteilung an die Redaktion siehe oben.

In [17]:
v_dh_gsn = sort(collect(skipmissing(df_dh.dh_gsn))); v_dh_gsn_u = unique(v_dh_gsn);

In [18]:
length(v_dh_gsn), length(v_dh_gsn_u)

(606, 606)

In [23]:
find_by_id(id) = id in (200040, 200193);
df_info = subset(df_dh, :dh => ByRow(find_by_id))

2×3 DataFrame
 Row │ dh      dh_gsn         dh_episc_id
     │ Int32   String?        String?
─────┼────────────────────────────────────
   1 │ 200040  700-00402-001  missing
   2 │ 200193  700-00402-001  missing

Alle Bischöfe

In [19]:
table_name = "item";
item_type_bishop = 4;
sql = "SELECT i.id as ep, i.id_public, e1.value AS ep_gsn
FROM $(table_name) AS i
LEFT JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_bishop) AND i.is_online";
df_ep = Wds.sql_df(sql);

In [20]:
df_ep[11:15, :]

5×3 DataFrame
 Row │ ep      id_public                      ep_gsn
     │ Int32   String?                        String?
─────┼────────────────────────────────────────────────
   1 │ 264830  WIAG-Pers-EPISCGatz-21107-001  missing
   2 │ 264831  WIAG-Pers-EPISCGatz-21106-001  missing
   3 │ 264832  WIAG-Pers-EPISCGatz-21105-001  missing
   4 │ 264833  WIAG-Pers-EPISCGatz-21103-001  missing
   5 │ 264834  WIAG-Pers-EPISCGatz-21102-001  missing

DH - EP

In [21]:
df_dh_ep = leftjoin(df_dh, 
    select(df_ep, [:ep => :ep1, :id_public => :id_public, :ep_gsn => :ep_gsn]), 
    on = :dh_episc_id => :id_public, 
    matchmissing = :notequal);

In [22]:
size(df_dh_ep, 1)

3233

In [23]:
names(df_dh_ep)

5-element Vector{String}:
 "dh"
 "dh_gsn"
 "dh_episc_id"
 "ep1"
 "ep_gsn"

In [24]:
count(!ismissing, df_dh_ep.dh_episc_id), count(!ismissing, df_dh_ep.ep1)

(235, 235)

begin debug  
*2022-05-12* fixed

In [285]:
is_is_not(a, b) = !ismissing(a) && ismissing(b);

In [288]:
subset(df_dh_ep, [:dh_episc_id, :ep1] => ByRow(is_is_not))

2×5 DataFrame
 Row │ dh      dh_gsn         dh_episc_id                        ep1      ep_gsn
     │ Int32   String?        String?                            Int32?   String?
─────┼────────────────────────────────────────────────────────────────────────────
   1 │ 241129  060-02416-001  https://wiag-stage.uni-goettinge…  missing  missing
   2 │ 242124  700-00397-001  https://wiag-vocab.adw-goe.de/id…  missing  missing

end debug

*2022-04-17* Schließlich werden alle Bischöfe gefunden, nachdem Einträge in `id_external` korrigiert wurden

Ergänze `dh_gsn` mit `ep_gsn`.  
Das ist nicht mehr nötig. Die GSN werden beim Einlesen der Daten schon ergänzt und in `id_external` eingetragen.

In [25]:
count(!ismissing, df_dh_ep.dh_gsn)

606

In [26]:
update = 0
for row in eachrow(df_dh_ep)
    if ismissing(row[:dh_gsn]) && !ismissing(row[:ep_gsn])
        row[:dh_gsn] = row[:ep_gsn]
        update += 1
    end
end
update

0

In [27]:
count(!ismissing, df_dh_ep.dh_gsn)

606

GS  
ID und GSN der Domherren aus der Personendatenbank

In [28]:
table_name = "item";
item_type_domherr_gs = 6;
sql = "SELECT i.id as gs, e1.value AS gs_gsn
FROM $(table_name) AS i
JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_domherr_gs) AND i.is_online";
df_gs = Wds.sql_df(sql);

In [29]:
replace(sql, '\n' => ' ')

"SELECT i.id as gs, e1.value AS gs_gsn FROM item AS i JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200 WHERE i.item_type_id = 6 AND i.is_online"

In [30]:
size(df_gs, 1)

8957

GS - EP

In [31]:
df_gs_ep = leftjoin(df_gs, 
    select(df_ep, [:ep => :ep2, :ep_gsn => :ep_gsn]),
    on = :gs_gsn => :ep_gsn, 
    matchmissing = :notequal);

In [32]:
size(df_gs_ep, 1)

8957

In [33]:
count(ismissing, df_gs_ep.gs_gsn), count(!ismissing, df_gs_ep.ep2)

(0, 684)

In [34]:
df_gs_ep[201:205, :]

5×3 DataFrame
 Row │ gs      gs_gsn         ep2
     │ Int32   String?        Int32?
─────┼───────────────────────────────
   1 │ 306572  059-01647-001  268268
   2 │ 306573  059-01290-001  268089
   3 │ 306574  059-00644-001  265322
   4 │ 306575  006-00029-001  265557
   5 │ 306615  060-03429-001  265738

Die Domherren aus GS haben alle eine GSN, daher kann `df_gs_ep` ergänzt werden aus `df_cn_lp`.

In [35]:
names(df_gs_ep)

3-element Vector{String}:
 "gs"
 "gs_gsn"
 "ep2"

In [36]:
names(df_dh_ep)

5-element Vector{String}:
 "dh"
 "dh_gsn"
 "dh_episc_id"
 "ep1"
 "ep_gsn"

In [37]:
df_cn_lp = outerjoin(df_dh_ep, 
    df_gs_ep,
    on = :dh_gsn => :gs_gsn, 
    matchmissing = :equal);

In [38]:
# gesamt, davon zugeordnet über GSN, Zahl der GSN für Domherren
size(df_cn_lp, 1), size(df_dh_ep, 1) + size(df_gs_ep, 1) - size(df_cn_lp, 1), count(!ismissing, df_dh_ep.dh_gsn)

(11586, 604, 606)

Wenn die nicht alle Domherren aus der Domherrendatenbank eine Zuordnung unter den Domherren aus der Personendatenbank finden, sind die Domherren aus der Personendatenbank neu einzulesen.

In [39]:
df_cn_lp[21:25, :]

5×7 DataFrame
 Row │ dh      dh_gsn         dh_episc_id                    ep1     ep_gsn         gs      ep2
     │ Int32?  String?        String?                        Int32?  String?        Int32?  Int32?
─────┼─────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 278317  063-00418-001  WIAG-Pers-EPISCGatz-02602-001  265491  063-00418-001  306370  265491
   2 │ 272830  072-00054-001  WIAG-Pers-EPISCGatz-02555-001  265476  072-00054-001  306381  265476
   3 │ 292084  060-02187-001  WIAG-Pers-EPISCGatz-02856-001  265731  060-02187-001  306404  265731
   4 │ 271067  064-00748-001  WIAG-Pers-EPISCGatz-10893-001  269038  064-00748-001  306405  269038
   5 │ 291631  060-00316-001  WIAG-Pers-EPISCGatz-03277-001  266570  060-00316-001  306407  266570

Führe Verweise auf Bischöfe im Feld `ep` zusammen. Übernimm den Verweis aus der Domherrendatenbank und - falls dieser nicht vorhanden ist - den Verweis aus der Personendatenbank.

In [40]:
df_cn_lp[!, :ep] .= df_cn_lp.ep1;

In [41]:
update = 0
for row in eachrow(df_cn_lp)
    if ismissing(row[:ep]) && !ismissing(row[:ep2])
        row[:ep] = row[:ep2]
        update += 1
    end
end
update

527

Bringe die Verweise in eine flache Struktur:  
Die Personendaten beziehen sich auf den einen der Einträge Bischof > Domherr > Domherr GS.  
Die Ämterdaten werden alle eingetragen, so vorhanden: Domherr > Domherr GS > Bischof.

In [42]:
df_cn_lp_db = DataFrame(person_id_name = Int[], person_id_role = Int[], prio_role = Int[])

0×3 DataFrame

In [43]:
for row in eachrow(df_cn_lp)
    prio = 1
    if !ismissing(row[:ep])
        name = row[:ep]
        if !ismissing(row[:dh])
            push!(df_cn_lp_db, (name, row[:dh], prio))
            prio += 1
        end
        if !ismissing(row[:gs])
            push!(df_cn_lp_db, (name, row[:gs], prio))
            prio += 1
        end        
        push!(df_cn_lp_db, (name, row[:ep], prio))
    elseif !ismissing(row[:dh])
        prio = 1
        name = row[:dh]
        push!(df_cn_lp_db, (name, row[:dh], prio))
        prio += 1
        if !ismissing(row[:gs])
            push!(df_cn_lp_db, (name, row[:gs], prio))
        end
    else
        prio = 1
        push!(df_cn_lp_db, (row[:gs], row[:gs], prio))
    end
end

In [44]:
df_cn_lp_db[1021:1025, :]

5×3 DataFrame
 Row │ person_id_name  person_id_role  prio_role
     │ Int64           Int64           Int64
─────┼───────────────────────────────────────────
   1 │         274869          307494          2
   2 │         271006          271006          1
   3 │         271006          307496          2
   4 │         271007          271007          1
   5 │         271007          307497          2

In [45]:
count(ismissing, df_cn_lp_db.person_id_name)

0

In [46]:
table_name = "canon_lookup"
Wds.filltable!(table_name, df_cn_lp_db; clear_table = true)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1193
┌ Info: Rows inserted: 12952
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

12952

Version mit paralleler Struktur für `canon_lookup`  
*2022-03-10* vermutlich obsolet

`id` ist `dh` oder `gs`

In [ ]:
df_cn_lp_gs[!, :id] = copy(df_cn_lp_gs.dh);

In [ ]:
for row in eachrow(df_cn_lp_gs)
    if ismissing(row[:id])
        if !ismissing(row[:gs])
            row[:id] = row[:gs]
        else
            @warn "missing dh and gs" row
        end
    end
end

`person_id` ist `ep` oder `dh` oder `gs`

In [ ]:
df_cn_lp_gs[!, :person_id] = copy(df_cn_lp_gs.ep);

In [ ]:
for row in eachrow(df_cn_lp_gs)
    if ismissing(row[:person_id])
        if !ismissing(row[:dh])
            row[:person_id] = row[:dh]
        elseif !ismissing(row[:gs])
            row[:person_id] = row[:gs]
        else
            @warn "missing ep and dh and gs" row
        end
    end
end

Führe die Verweise auf Bischöfe zusammen

In [ ]:
names(df_cn_lp_gs)

In [ ]:
df_cn_lp_gs[!, :ep] = copy(df_cn_lp_gs.ep1);

In [ ]:
for row in eachrow(df_cn_lp_gs)
    if !ismissing(row[:ep2])
        if !ismissing(row[:ep])
            if row[:ep] != row[:ep2]
                println(row)
            end
        else
            row[:ep] = row[:ep2]
        end
    end
end

Keine Ausgabe -> Alle Verweise auf Bischöfe stimmen überein

In [ ]:
count(!ismissing, df_cn_lp_gs.ep1), count(!ismissing, df_cn_lp_gs.ep2), count(!ismissing, df_cn_lp_gs.ep)

In der Domherrendatenbank wurden alle Verweise recherchiert.

In [ ]:
columns = [
    :id => :id,
    :person_id => :person_id,
    :dh => :canon,
    :gs => :canon_gs,
    :ep => :bishop
]

In [ ]:
table_name = "canon_lookup"
Wds.filltable!(table_name, select(df_cn_lp_gs, columns))

### Nachtrag person.note_name

In [289]:
using DataFrames

In [290]:
table_name = gs_db * "." * "persons";
sql = "SELECT id, vorname, familienname, namenszusatz
FROM $(table_name)
WHERE namenszusatz IS NOT NULL and namenszusatz <> ''";

In [291]:
sql_db = join(split(sql, "\n"), ' ')

"SELECT id, vorname, familienname, namenszusatz FROM gso_in_202205.persons WHERE namenszusatz IS NOT NULL and namenszusatz <> ''"

In [292]:
df_p_note_gs = Wds.sql_df(sql);

In [293]:
Wds.clean_up!(df_p_note_gs);

In [294]:
transform!(df_p_note_gs, :id => ByRow(string) => :id_in_source);

In [295]:
table_name = "item";
sql = "SELECT id as item_id, id_in_source, item_type_id, id_public
FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
df_item = Wds.sql_df(sql);

In [296]:
size(df_item, 1)

8957

In [297]:
df_p_note = innerjoin(df_p_note_gs, df_item, on = :id_in_source);

In [298]:
size(df_p_note, 1)

734

Nur ein Teil der Personen aus GS sind Domherren.

In [299]:
df_p_note[200:205, [:id, :id_in_source, :item_id, :id_public, :vorname, :familienname]]

6×6 DataFrame
 Row │ id      id_in_source  item_id  id_public                  vorname   familienname
     │ Int32   String        Int32    String?                    String?   String?
─────┼──────────────────────────────────────────────────────────────────────────────────
   1 │ 108023  108023         304476  WIAG-Pers-CANON-82874-001  Johannes  Grüter
   2 │ 108016  108016         304479  WIAG-Pers-CANON-82871-001  Johannes  Gebinck
   3 │ 108007  108007         304481  WIAG-Pers-CANON-82869-001  Johannes  Franke
   4 │ 107985  107985         304488  WIAG-Pers-CANON-82862-001  Johannes  Ermen
   5 │ 108129  108129         304491  WIAG-Pers-CANON-82920-001  Johannes  Scholl
   6 │ 108126  108126         304492  WIAG-Pers-CANON-82919-001  Johannes  Scherff

In [300]:
df_p_note[200:205, [:id, :id_in_source, :item_id, :namenszusatz, :vorname, :familienname]]

6×6 DataFrame
 Row │ id      id_in_source  item_id  namenszusatz            vorname   familienname
     │ Int32   String        Int32    String                  String?   String?
─────┼───────────────────────────────────────────────────────────────────────────────
   1 │ 108023  108023         304476  genannt Lembeck         Johannes  Grüter
   2 │ 108016  108016         304479  genannt Woldeken        Johannes  Gebinck
   3 │ 108007  108007         304481  von Ahlen               Johannes  Franke
   4 │ 107985  107985         304488  der Jüngere             Johannes  Ermen
   5 │ 108129  108129         304491  von Siegen, de Zieghen  Johannes  Scholl
   6 │ 108126  108126         304492  der Jüngere             Johannes  Scherff

In [328]:
names(df_p_note)

8-element Vector{String}:
 "id"
 "vorname"
 "familienname"
 "namenszusatz"
 "id_in_source"
 "item_id"
 "item_type_id"
 "id_public"

In [301]:
table_name = "person";
function sql_update(note_name, person_id) 
    sql = "UPDATE $(table_name) AS p " *
    "SET p.note_name = '$(note_name)' " *
    "WHERE p.id = $(person_id)"
    return sql
end

sql_update (generic function with 1 method)

In [302]:
count_loop = 0;
count_msg = 200;
for row in eachrow(df_p_note)
    sql = sql_update(row[:namenszusatz], row[:item_id])
    DBInterface.execute(Wds.dbwiag, sql)
    count_loop += 1;
    if count_loop % count_msg == 0
        @info count_loop
    end
end

┌ Info: 200
└ @ Main In[302]:8
┌ Info: 400
└ @ Main In[302]:8
┌ Info: 600
└ @ Main In[302]:8