# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Domherren einlesen

Übertrage Daten aus Access. Die Daten werden aus Access via ODBC in eine Transfer-Datenbank geschrieben: `bischof.tbl_bischoefe_gatz` und `bischof.tbl_bischoefe_gatzaemter`

[Domherren](#Domherren)
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Referenzwerke eintragen](#Referenzwerke-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (`name_lookup`)](#Suchvarianten-eintragen-(name_lookup))
- [`canon_lookup`](#canon_lookup)

Quelle: Datenbank `domherr`

Vorspann: Pakete laden; mit der Datenbank verbinden

In [26]:
wds_path="../.."

"../.."

In [27]:
cd(wds_path)

In [28]:
using Pkg

In [29]:
Pkg.activate(".")

  Activating new project at `C:\Users\georg\Documents`

In [30]:
using Revise

In [31]:
using WiagDataSetup

In [32]:
using MySQL, DataFrames

In [33]:
ENV["COLUMNS"] = 150

150

In [34]:
Wds = WiagDataSetup

WiagDataSetup

In [35]:
Wds.setDBWIAG(user="georg", db="wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

Item Type ID

In [36]:
item_type_id = 5

5

## Lösche Tabellen für ein umfassendes Update

In [17]:
table_name = "name_lookup";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 31428, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [18]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 1160, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [19]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 826, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [37]:
table_name = "id_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 10085, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [21]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name)
WHERE person_role_id IN
(SELECT id FROM person_role
WHERE person_id in (SELECT id from item WHERE item_type_id = $(item_type_id)))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property\nWHERE person_role_id IN\n(SELECT id FROM person_role\nWHERE person_id in (SELECT id from item WHERE item_type_id = 5))", 0, -1, 388, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [22]:
table_name = "person_role";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 32174, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [23]:
table_name = "person";
sql = "DELETE FROM $(table_name)
WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [24]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 23067, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [25]:
table_name = "item";
sql = "DELETE FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item\nWHERE item_type_id = 5", 0, -1, 22291, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Literatur

In [11]:
sql = "SELECT * FROM domherr.tbl_reference"
df_vol = Wds.sql_df(sql);

In [12]:
columns = [
    :ID_Ref => :reference_id,
    :Literatur => :full_citation,
    :Verfasser => :author_editor,
    :OnlineRessource => :online_resource,
    :Kurztitel => :title_short,
]

5-element Vector{Pair{Symbol, Symbol}}:
          :ID_Ref => :reference_id
       :Literatur => :full_citation
       :Verfasser => :author_editor
 :OnlineRessource => :online_resource
       :Kurztitel => :title_short

In [13]:
df_vol_db = select(df_vol, columns);

In [14]:
df_vol_db[!, :item_type_id] .= item_type_id;

Bestehende Einträge löschen

In [15]:
table_name = "reference_volume"
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 5", 0, -1, 46, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten eintragen

In [16]:
Wds.filltable!(table_name, df_vol_db, clear_table = false)

┌ Info: Rows inserted: 48
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

48

## Domherren

In [11]:
using CSV

In [12]:
path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb\\data\\tbl_domherren.csv"
df_cn = CSV.read(path, DataFrame);

Alternative, falls sich die Domherren aus Access in die Datenbank `domherr` exportieren lassen

In [26]:
sql = "SELECT * FROM domherr.tbl_domherren";
df_cn = Wds.sql_df(sql);

LoadError: (1146): Table 'domherr.tbl_domherren' doesn't exist

Leerzeichen bereinigen

In [13]:
Wds.clean_up!(df_cn)

In [33]:
first(df_cn, 5)

5×49 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname            Familienname    Sterbedatum  Geburtsdatum  Orden    URL_Wikiped ⋯
     │ Int64       String?         String?       Int64?  String?  String?            String?         String?      String?       String?  String?     ⋯
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      10000  missing         167, 183           6  von      Friedrich Wilhelm  Loe             1689         missing       missing  missing     ⋯
   2 │      10001  missing         183                6  von      Johann Heinrich    Metzenhausen    missing      missing       missing  missing
   3 │      10002  missing         183                6  von      Philipp Friedrich  Metzenhausen    missing      missing       missing  missing
   4 │      10003  missing         183                6  von der  Damian Friedrich   Fels            1684         missing       missing  missing
   5 │      10004  missing         183, 189           6  von      Friedrich Ernst    Eltz-Rodendorf  missing      missing       missing  missing     ⋯
                                                                                                                                    39 columns omitted

*2022-03-10* prüfe auf unorthodoxe Einräge in `WIAG_ID_Bischof`

In [21]:
find_spurious(a) = !ismissing(a) && occursin("http", a)
df_cn_sp = subset(df_cn, :WIAG_ID_Bischof => ByRow(find_spurious));

In [24]:
df_cn_sp[1:5, [:ID_Domherr, :Vorname, :Familienname, :WIAG_ID_Bischof, :Status]]

5×5 DataFrame
 Row │ ID_Domherr  Vorname     Familienname  WIAG_ID_Bischof                    Status
     │ Int64       String?     String?       String?                            String?
─────┼──────────────────────────────────────────────────────────────────────────────────
   1 │      19794  Dietrich    Reseler       https://wiag-vocab.adw-goe.de/id…  online
   2 │      44077  Alberich    missing       https://wiag-vocab.adw-goe.de/id…  xxN
   3 │      44079  Reinhard    missing       https://wiag-vocab.adw-goe.de/id…  xxN
   4 │      44080  Gottschalk  Diepholz      https://wiag-vocab.adw-goe.de/id…  fertig
   5 │      44081  Sivard      missing       https://wiag-vocab.adw-goe.de/id…  xxN

In [25]:
filename_sp = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\WIAG_ID_Bischof_2022-03-10.csv"
CSV.write(filename_sp, df_cn_sp)

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\WIAG_ID_Bischof_2022-03-10.csv"

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Domherr' in `item_type`: 5

In [34]:
columns = [
    :ID_Domherr => :id_in_source,
    :Eintrag_Quelle => :item_in_source,
    :fertig => :fertig,
    :Status => :Status,    
]

4-element Vector{Pair{Symbol, Symbol}}:
     :ID_Domherr => :id_in_source
 :Eintrag_Quelle => :item_in_source
         :fertig => :fertig
         :Status => :Status

In [35]:
df_item = select(df_cn, columns);

In [36]:
df_item[!, :item_type_id] .= item_type_id;

Status-Bit in den Eintrag "fertig" umwandeln (nur falls die Daten aus der Datenbank eingelesen wurden)

In [37]:
map_status(x) = getproperty(x, :bits) > 0 ? "fertig" : missing

map_status (generic function with 1 method)

In [38]:
transform!(df_item, :fertig => ByRow(map_status) => :edit_status);

LoadError: type Int64 has no field bits

Feld `is_online` eintragen

In [39]:
map_online(x) = (!ismissing(x) && x == "online") ? 1 : 0

map_online (generic function with 1 method)

In [40]:
transform!(df_item, :Status => ByRow(map_online) => :is_online);

In [41]:
user_id_georg = 1
df_item[!, :created_by] .= user_id_georg;

In [42]:
using Dates

In [43]:
wiag_date_format = Dates.dateformat"yyyy-mm-dd HH:MM"

dateformat"yyyy-mm-dd HH:MM"

In [44]:
df_item[!, :date_created] .= Dates.format(now(), wiag_date_format);

In [45]:
df_item[!, :changed_by] .= user_id_georg;

In [46]:
df_item[!, :date_changed] .= Dates.format(now(), wiag_date_format);

In [47]:
function make_id_public(id::Real)
    id_public_key = "Pers-CANON"
    num_id_length = 5
    return "WIAG-" * id_public_key * "-" * lpad(id, num_id_length, '0') * "-001"
end

make_id_public (generic function with 1 method)

In [48]:
make_id_public(3650)

"WIAG-Pers-CANON-03650-001"

Normdatum/öffentliche ID erzeugen

*2022-01-13* Verwende die ursprüngliche ID. Damit entspricht die ID der bisher veröffentlichten ID

In [49]:
transform!(df_item, :id_in_source => ByRow(make_id_public) => :id_public);

`item.is_deleted` ist vorbelegt mit `false`

`item.lang` ist vorbelegt mit "de"

In [50]:
names(df_item)

11-element Vector{String}:
 "id_in_source"
 "item_in_source"
 "fertig"
 "Status"
 "item_type_id"
 "is_online"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "id_public"

In [51]:
sum(df_item[!, :is_online])

2587

In [54]:
findfirst(df_item[!, :is_online] .== 1)

8

In [55]:
df_item[8:15, [:id_in_source, :item_type_id, :id_public, :edit_status, :is_online, :date_changed, :changed_by]]

8×7 DataFrame
 Row │ id_in_source  item_type_id  id_public                  edit_status  is_ ⋯
     │ Int32         Int64         String                     String?      Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │        10007             5  WIAG-Pers-CANON-10007-001  fertig           ⋯
   2 │        10008             5  WIAG-Pers-CANON-10008-001  missing
   3 │        10009             5  WIAG-Pers-CANON-10009-001  fertig
   4 │        10010             5  WIAG-Pers-CANON-10010-001  fertig
   5 │        10011             5  WIAG-Pers-CANON-10011-001  fertig           ⋯
   6 │        10012             5  WIAG-Pers-CANON-10012-001  missing
   7 │        10013             5  WIAG-Pers-CANON-10013-001  missing
   8 │        10014             5  WIAG-Pers-CANON-10014-001  fertig
                                                               3 columns omitted

Bestehende Einträge löschen

In [52]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 5", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [53]:
exclude_cols = [
    :fertig,
    :Status,
]

2-element Vector{Symbol}:
 :fertig
 :Status

In [54]:
table_name = "item";
Wds.filltable!(table_name, select(df_item, Not(exclude_cols)), clear_table = false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 22780
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

22780

### Daten eintragen

IDs auslesen

In [55]:
sql = "SELECT id, id_in_source FROM ITEM where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

Spalte für die Zusammenführung befüllen (Typ: String!)

In [56]:
df_cn[!, :id_in_source] .= string.(df_cn[!, :ID_Domherr]);

In [57]:
df_cn_db = innerjoin(df_idx, df_cn, on = :id_in_source);

Einträge anhand der ID in der Quelle löschen (für den Fall eines Updates)

In [107]:
table_name = "person";
idx_string = join(df_idx[!, :id], ",")
# Es wäre eleganter, hier den Mechanismus von SQL-Parametern zu verwenden. Das funktioniert aber nicht wie erwartet.
sql="DELETE FROM $(table_name) WHERE id IN ($(idx_string))"
stmt = DBInterface.prepare(Wds.dbwiag, sql);

In [108]:
DBInterface.execute(stmt);

Daten eintragen

Wir übernehmen alle Einträge unabhängig vom Status, da die Daten später Grundlage für die Redaktion sind. Einträge ohne Vor- und Familiennamen werden gelöscht.

In [59]:
one_not_missing(x, y) = !(ismissing(x) && ismissing(y))

one_not_missing (generic function with 1 method)

In [58]:
size(df_cn_db, 1)

22780

In [63]:
df_cn_db = subset(df_cn_db, [:Vorname, :Familienname] => ByRow(one_not_missing));

In [64]:
size(df_cn_db, 1)

22729

Jahreszahlen ermitteln

In [65]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [66]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [67]:
transform!(df_cn_db, :Geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

In [68]:
transform!(df_cn_db, :Sterbedatum => ByRow(parse_date_death) => :num_date_death);

┌ Warning: Could only find year in
│   s = [1394 Ahnenprobe, eingeschriben Wien 1403]
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could only find year in
│   s = Ende 1322?
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could only find year in
│   s = vor Febr. 1503
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could only find year in
│   s = 3. Juni 1511
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could only find year in
│   s = 2. Febr. 1273
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could only find year in
│   s = 8.10.1160
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could not parse
│   s = 3. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 5. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 31. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 18. Nov.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 13. März?
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 24.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 18. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 05.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 18.Mai
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 29. Nov.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could only find year in
│   s = 8. Jan. 1516
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could not parse
│   s = 05.Mrz
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 12. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could only find year in
│   s = 1. Sept. 1535
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could not parse
│   s = 19.Mrz
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 11. Jan.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 14.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 3. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could only find year in
│   s = 13. Oktober 1589
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112
┌ Warning: Could not parse
│   s = 25.Apr
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could not parse
│   s = 02.Aug
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1117
┌ Warning: Could only find year in
│   s = 8. Sept. 1539
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1112

Felder auswählen; Orden folgen später (siehe unten)

In [69]:
columns = [
    :id => :id,
    :Praefix => :prefixname,
    :Vorname => :givenname,
    :Familienname => :familyname,
    :Sterbedatum => :date_death,
    :Geburtsdatum => :date_birth,
    :Bemerkung_Red => :comment,
    :Kommentar_Name => :note_name,
    :Kommentar_Person => :note_person,
]

9-element Vector{Pair{Symbol, Symbol}}:
               :id => :id
          :Praefix => :prefixname
          :Vorname => :givenname
     :Familienname => :familyname
      :Sterbedatum => :date_death
     :Geburtsdatum => :date_birth
    :Bemerkung_Red => :comment
   :Kommentar_Name => :note_name
 :Kommentar_Person => :note_person

In [70]:
Wds.filltable!("person", select(df_cn_db, columns); clear_table=false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 22729
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

22729

### Orden eintragen
*2021-10-14* Die Ordenstabelle ist vorläufig und basiert auf den Ordensangaben für Bischöfe

*2022-01-13* Unter den Domherren gibt es nur zwei mit einer Ordensangabe

ID der Orden in Personentabelle eintragen

In [71]:
df_cn_order = dropmissing(df_cn_db, :Orden);

In [72]:
size(df_cn_order)

(4, 53)

In [73]:
df_cn_order[!, :join_field] .= lowercase.(df_cn_order[!, :Orden]);

In [74]:
sql = "SELECT * FROM religious_order";
df_order_db = Wds.sql_df(sql);

In [75]:
df_order_db[!, :join_field] .= lowercase.(df_order_db[!, :abbreviation]);

In [76]:
df_cn_order_id = leftjoin(df_cn_order, 
    select(df_order_db, :id => :religious_order_id, :join_field), 
    on = :join_field);

In [77]:
size(df_cn_order_id)

(4, 55)

Tabelle `person` aktualisieren

In [78]:
DBInterface.execute(Wds.dbwiag, "DROP TABLE IF EXISTS person_update")
sql = "CREATE TEMPORARY TABLE person_update (" *
"id INT, " *
"religious_order_id INT)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "CREATE TEMPORARY TABLE person_update (id INT, religious_order_id INT)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [79]:
table_name = "person_update"
Wds.filltable!(table_name, select(df_cn_order_id, :id, :religious_order_id))

┌ Info: Rows inserted: 4
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

4

In [80]:
sql = "UPDATE person as p, (SELECT id, religious_order_id FROM person_update) as oid " *
"SET p.religious_order_id = oid.religious_order_id " *
"WHERE p.id = oid.id"
DBInterface.execute(Wds.dbwiag, sql);

### Referenzwerke eintragen

In [81]:
columns = [
    :id => :item_id,
    :Seite_Quelle => :page,
    :ID_Quelle => :id_in_reference,
    :Quelle => :reference_id,
    :Merged_Into => :merged_into_id,
    :Status => :status,
]

6-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :Seite_Quelle => :page
    :ID_Quelle => :id_in_reference
       :Quelle => :reference_id
  :Merged_Into => :merged_into_id
       :Status => :status

In [82]:
df_cn_ref = select(df_cn_db, columns);

In [83]:
df_cn_ref[!, :item_type_id] .= item_type_id;

In [84]:
size(df_cn_ref, 1)

22729

In [85]:
dropmissing!(df_cn_ref, :reference_id);

In [86]:
size(df_cn_ref)

(22727, 7)

Einträge löschen (im Fall von Korrekturen)

In [59]:
sql = "DELETE FROM item_reference WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 5", 0, -1, 23067, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [87]:
columns = [
    :item_id => :item_id,
    :page => :page,
    :id_in_reference => :id_in_reference,
    :item_type_id => :item_type_id,
    :reference_id => :reference_id,
]

5-element Vector{Pair{Symbol, Symbol}}:
         :item_id => :item_id
            :page => :page
 :id_in_reference => :id_in_reference
    :item_type_id => :item_type_id
    :reference_id => :reference_id

In [88]:
table_name = "item_reference";
Wds.filltable!(table_name, select(df_cn_ref, columns), clear_table = false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 22727
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

22727

Trage Referenzen ein von Einträgen, die mit anderen zusammengezogen wurden.

In [89]:
is_ref2(merged_into_id, status) = !ismissing(merged_into_id) && isequal(status, "merged")

is_ref2 (generic function with 1 method)

In [90]:
df_cn_ref2 = subset(df_cn_ref, [:merged_into_id, :status] => ByRow(is_ref2));

In [91]:
lookupItemId = Dict(Pair.(df_cn_db.id_in_source ,df_cn_db.id));

In [92]:
getItemId(id_in_source) = get(lookupItemId, string(id_in_source), missing)

getItemId (generic function with 1 method)

In [93]:
transform!(df_cn_ref2, :merged_into_id => ByRow(getItemId) => :item_id);

In [94]:
size(df_cn_ref2, 1)

832

In [95]:
count(ismissing, df_cn_ref.item_id)

0

In [96]:
columns = [
    :item_id,
    :page,
    :id_in_reference,
    :item_type_id,
    :reference_id,
]

5-element Vector{Symbol}:
 :item_id
 :page
 :id_in_reference
 :item_type_id
 :reference_id

In [97]:
table_name = "item_reference";
Wds.filltable!(table_name, select(df_cn_ref2, columns), clear_table = false)

┌ Info: Rows inserted: 832
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

832

In [45]:
subset(df_cn_ref2, :merged_into_id => ByRow(isequal(10939)))

1×7 DataFrame
 Row │ item_id  page                id_in_reference             reference_id   ⋯
     │ Int32?   SubStrin…?          SubStrin…?                  Int32          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │   10939  100, 136, 148, 201  HA999, HI170, MS168, PB120             6   ⋯
                                                               3 columns omitted

### Externe URLs eintragen

In [98]:
using MySQL, DataFrames

In [156]:
Wds.setDBWIAG(user = "georg", db = "wiag2")

Passwort für User georg
stdin> topf&deckel

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

In [99]:
item_type_id = 5

5

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [64]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [15]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)"
db_exec(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

Index aus `item` lesen

In [65]:
sql = "SELECT id, id_in_source FROM item WHERE item_type_id = $(item_type_id)"
df_idx = Wds.sql_df(sql);

In [66]:
size(df_idx, 1)

22780

Externe Ids aus den Quelldaten lesen  
`domherr.tbl_domherren`

In [67]:
path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb\\data\\tbl_domherren.csv"
df_cn = CSV.read(path, DataFrame);

Alternativ: Lies die Daten aus der Datenbank, wenn der Export aus Access in die Datenbank klappt.

In [20]:
sql = "SELECT ID_Domherr, Vorname, Familienname, " *
"VIAF_ID, GND_ID, Wikidata_ID, GSN_ID, WIAG_ID_Bischof, URL_Wikipedia " *
"FROM domherr.tbl_domherren"
df_cn = Wds.sql_df(sql);

In [68]:
Wds.clean_up!(df_cn)

In [69]:
transform!(df_cn, :ID_Domherr => ByRow(string) => :id_in_source);

**VIAF**, dann GND, Wikidata, GSN, Wikipedia

In [70]:
authority_id_viaf = 4 # siehe oben

4

In [71]:
df_cn_viaf = dropmissing(df_cn, :VIAF_ID)
df_cn_viaf[!, :authority_id] .= authority_id_viaf;
df_ins_0 = innerjoin(df_idx, df_cn_viaf, on = :id_in_source);

In [109]:
size(df_ins_0)

(1416, 52)

In [72]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :VIAF_ID => :value,
]

3-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
      :VIAF_ID => :value

In [73]:
df_ins = select(df_ins_0, columns);

In [74]:
df_ins[303:307, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼─────────────────────────────────────────────
   1 │  127168             4  24145602513801362459
   2 │  127171             4  10657416
   3 │  127172             4  26145602488301361917
   4 │  127175             4  42698902
   5 │  127181             4  315114292

In [75]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1416
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1416

**GND**

In [76]:
authority_id_gnd = 1 # siehe oben

1

In [77]:
df_cn_gnd = dropmissing(df_cn, :GND_ID)
df_cn_gnd[!, :authority_id] .= authority_id_gnd;
df_ins_0 = innerjoin(df_idx, df_cn_gnd, on = :id_in_source);

In [78]:
size(df_ins_0)

(1759, 52)

In [79]:
df_ins = select(df_ins_0, :id => :item_id, :authority_id, :GND_ID => :value);

In [80]:
df_ins[300:307, :]

8×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼───────────────────────────────────
   1 │  126083             1  1034900722
   2 │  126086             1  136099017
   3 │  126087             1  129104973
   4 │  126093             1  104360402
   5 │  126106             1  136176631
   6 │  126109             1  118938363
   7 │  126111             1  129303607
   8 │  126113             1  1021203459

In [81]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1759
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1759

**Wikidata**

In [82]:
authority_id_wd = 2 # siehe oben

2

In vielen Datensätzen ist `Wikidata_ID` befüllt mit `ergaenzen`

In [83]:
df_cn_wd = dropmissing(df_cn, :Wikidata_ID)
filter!(:Wikidata_ID => !isequal("ergaenzen"), df_cn_wd);

In [84]:
df_cn_wd[!, :authority_id] .= authority_id_wd;
df_ins_0 = innerjoin(df_idx, df_cn_wd, on = :id_in_source);

In [85]:
size(df_ins_0)

(1839, 52)

In [86]:
df_ins = select(df_ins_0, :id => :item_id, :authority_id, :Wikidata_ID => :value);

In [87]:
df_ins[300:307, :]

8×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────
   1 │  124876             2  Q1991834
   2 │  124881             2  Q1782130
   3 │  124890             2  Q15434605
   4 │  124905             2  Q1819706
   5 │  124906             2  Q55193216
   6 │  124911             2  Q94789987
   7 │  124913             2  Q55125853
   8 │  124914             2  Q55126478

In [88]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1839
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1839

**GSN**

Ergänze auch mittelbare GSN über Verweise auf Bischöfe

In [89]:
table_name = "item";
item_type_bishop = 4;
sql = "SELECT i.id as ep, i.id_public, e1.value AS ep_gsn
FROM $(table_name) AS i
JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_bishop) AND i.is_online";
df_ep = Wds.sql_df(sql);

In [90]:
df_cn[100:105, [:ID_Domherr, :Vorname, :Familienname, :GSN_ID]]

6×4 DataFrame
 Row │ ID_Domherr  Vorname                Familienname    GSN_ID
     │ Int64       String?                String?         String?
─────┼──────────────────────────────────────────────────────────────────
   1 │      10099  Karl Emmerich          Hagen           032-01416-001
   2 │      10100  Johann Philipp         Greiffenclau    072-01329-001
   3 │      10101  Karl Friedrich Damian  Dalberg         missing
   4 │      10102  Johann Jakob Franz     Eltz-Kempenich  missing
   5 │      10103  Lothar Georg Joseph    Stadion         missing
   6 │      10104  Hugo Johann Philipp    Stadion         missing

In [91]:
size(df_cn, 1), count(!ismissing, df_cn.GSN_ID)

(22780, 2869)

In [92]:
df_cn_ep = leftjoin(df_cn, df_ep, on = :WIAG_ID_Bischof => :id_public, matchmissing = :notequal);

In [93]:
for row in eachrow(df_cn_ep)
    if ismissing(row[:GSN_ID]) && !ismissing(row[:ep_gsn])
        row[:GSN_ID] = row[:ep_gsn]
    end
end

In [94]:
size(df_cn_ep, 1), count(!ismissing, df_cn_ep.GSN_ID)

(22780, 3036)

In [95]:
authority_id_gsn = 200 # siehe oben

200

In [96]:
df_cn_gsn = dropmissing(df_cn_ep, :GSN_ID)
df_cn_gsn[!, :authority_id] .= authority_id_gsn;
df_ins_0 = innerjoin(df_idx, df_cn_gsn, on = :id_in_source);

In [97]:
size(df_ins_0)

(3036, 54)

In [98]:
df_ins = select(df_ins_0, :id => :item_id, :authority_id, :GSN_ID => :value);

In [99]:
df_ins[300:307, :]

8×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────────
   1 │  123721           200  051-02773-001
   2 │  123724           200  026-07720-001
   3 │  123726           200  026-07640-001
   4 │  123728           200  026-02645-001
   5 │  123729           200  026-02651-001
   6 │  123730           200  026-02649-001
   7 │  123732           200  058-05253-001
   8 │  123733           200  026-07525-001

In [100]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 3036
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

3036

**WIAG-ID**

In [101]:
authority_id_wiag = 5 # siehe oben

5

In [102]:
df_cn_wiag = dropmissing(df_cn, :WIAG_ID_Bischof)
df_cn_wiag[!, :authority_id] .= authority_id_wiag;
df_ins_0 = innerjoin(df_idx, df_cn_wiag, on = :id_in_source);

In [103]:
df_ins = select(df_ins_0, :id => :item_id, :authority_id, :WIAG_ID_Bischof => :value);

In [104]:
size(df_ins)

(737, 3)

In [105]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 737
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

737

**Wikipedia**

In [106]:
authority_id_wp = 3 # siehe oben

3

In [107]:
df_cn_wp = dropmissing(df_cn, :URL_Wikipedia)
df_cn_wp[!, :authority_id] .= authority_id_wp;
df_ins_0 = innerjoin(df_idx, df_cn_wp, on = :id_in_source);

In [108]:
size(df_ins_0)

(1465, 52)

In [109]:
df_ins = select(df_ins_0, :id => :item_id, :authority_id, :URL_Wikipedia => :value);

Die Wikipedia-URLs sind teilweise mit '#' versehen und doppelt  
#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#

In [110]:
url_m = "#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#"
Wds.fix_Wikipedia_URL(url_m)

"Ruprecht_von_der_Pfalz_%28Freising%29"

In [111]:
transform!(df_ins, :value => ByRow(Wds.fix_Wikipedia_URL) => :value);

In [112]:
df_ins[!, :value] .= Wds.fix_Wikipedia_URL.(df_ins[!, :value]);

In [113]:
df_ins[300:307, :]

8×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         SubStrin…
─────┼──────────────────────────────────────────────────────────
   1 │  127148             3  Konrad_von_Rechberg_(Bischof)
   2 │  127149             3  Heinrich_von_Hewen_%28Bischof%2C…
   3 │  127150             3  Albrecht_Blarer
   4 │  127151             3  Nikolaus_von_Riesenburg
   5 │  127153             3  Heinrich_Truchsess_von_Diessenho…
   6 │  127160             3  Johann_Nepomuk_August_Ungelter_v…
   7 │  127165             3  Ferdinand_Christoph_von_Waldburg…
   8 │  127171             3  Johann_Theodor_von_Bayern

*debug begin*

In [57]:
using CSV

In [58]:
file_wp = "C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

In [59]:
CSV.write(file_wp, df_ins)

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

*debug end*

In [114]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1465
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1465

### Namensvarianten eintragen

In [7]:
using MySQL, DataFrames

In [148]:
path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb\\data\\tbl_domherren.csv"
df_cn = CSV.read(path, DataFrame);

Alternativ: Lies Daten aus der Datenbank, wenn sie sich von Access aus dahin exportieren lassen

In [89]:
table_name = "domherr.tbl_domherren"
sql = "SELECT ID_Domherr, Vorname, Familienname, Vorname_Variante, Familienname_Variante " *
"FROM $(table_name)"
df_cn = Wds.sql_df(sql);

In [149]:
Wds.clean_up!(df_cn)

In [150]:
df_fnv = dropmissing(df_cn, :Familienname_Variante);

In [151]:
size(df_fnv, 1)

1094

In [94]:
df_fnv[200:207, :]

8×5 DataFrame
 Row │ ID_Domherr  Vorname              Familienname                    Vornam ⋯
     │ Int32       SubStrin…?           SubStrin…?                      SubStr ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      14979  Wolfgang Dietrich    Capler von Oeden genannt Bautz  missin ⋯
   2 │      14998  Georg Christoph      Aufsess                         missin
   3 │      14999  Georg Heinrich       Künssberg                       missin
   4 │      15019  Johann Veit          Würzburg                        missin
   5 │      15063  Jodokus Bernhard     Aufsess                         missin ⋯
   6 │      15104  Johann Gottfried     Gross von Trockau               missin
   7 │      15111  Lothar Georg Joseph  Stadion                         missin
   8 │      15228  Johann Heidenreich   Voerden                         missin
                                                               2 columns omitted

In [152]:
df_exp = Wds.expand_column(df_fnv, :Familienname_Variante, delim = ",");

In [153]:
size(df_exp, 1)

1328

In [154]:
df_exp[150:157, :]

8×49 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname            Familienname            Sterbedatum  Geburtsdatum  Orden    URL ⋯
     │ Int64       String?         String?       Int64?  String?  String?            String?                 String?      String?       String?  Str ⋯
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13216  missing         421               24  von      Eberhard           Öttingen                missing      missing       missing  mis ⋯
   2 │      13229  missing         337               24  von      Hermann            Bibra                   1356?        um 1280       missing  mis
   3 │      13252  missing         391               24  de       Raimund            Canilhac                1373         missing       missing  mis
   4 │      13439  missing         353               24  missing  Ludwig             Eckbrecht von Dürkheim  missing      missing       missing  mis
   5 │      13439  missing         353               24  missing  Ludwig             Eckbrecht von Dürkheim  missing      missing       missing  mis ⋯
   6 │      13441  missing         343 f.            24  von      Bernhard           Breidenbach             1497         1440          missing  mis
   7 │      13474  missing         679               27  von      Friedrich          Schwerin                1239         missing       missing  #ht
   8 │      13494  missing         680               27  von      Alexander Hermann  Merode                  missing      missing       missing  #ht
                                                                                                                                    39 columns omitted

In [155]:
transform!(df_exp, :ID_Domherr => ByRow(string) => :id_in_source);

In [156]:
df_ins = innerjoin(df_idx, df_exp, on = :id_in_source);

In [157]:
size(df_ins, 1)

1328

Spalte `lang` hat den Default-Wert 'de'.

In [158]:
table_name = "familyname_variant"
Wds.filltable!(table_name, select(df_ins, :id => :person_id, :Familienname_Variante => :name))

┌ Info: Rows inserted: 1328
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

1328

In [159]:
df_gnv = dropmissing(df_cn, :Vorname_Variante);

In [160]:
size(df_gnv, 1)

822

In [161]:
df_gnv[200:207, :]

8×49 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle        Quelle  Praefix  Vorname                  Familienname       Sterbedatum  Geburtsdatum  Orden ⋯
     │ Int64       String?         String?             Int64?  String?  String?                  String?            String?      String?       Strin ⋯
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      16452  missing         130, 190                 6  von      Johann Franz Jakob       Hoheneck           1758         missing       missi ⋯
   2 │      16463  missing         130, 196                 6  von      Lothar Gottfried Rudolf  Rosenbach          1733         missing       missi
   3 │      16497  missing         131, 185, 190, 197       6  von      Karl Friedrich Damian    Dalberg            1778         missing       missi
   4 │      16499  missing         131, 197                 6  von      Johann Anton Philipp     Hatzfeld-Gleichen  1753         missing       missi
   5 │      16531  missing         131                      6  von      Klemens August           Gymnich            missing      missing       missi ⋯
   6 │      16603  missing         142, 205                 6  von      Jodokus Arnold           Cappel             1679         missing       missi
   7 │      16658  missing         206                      6  von      Klemens August           Galen-Ermelinghof  missing      missing       missi
   8 │      16773  missing         137, 143, 154, 205       6  von      Klemens August           Korff-Tatenhausen  1787         missing       missi
                                                                                                                                    40 columns omitted

In [162]:
df_exp = Wds.expand_column(df_gnv, :Vorname_Variante, delim = r", *");

In [163]:
size(df_exp, 1)

962

In [164]:
df_exp[150:157, :]

8×49 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix   Vorname      Familienname  Sterbedatum  Geburtsdatum  Orden    URL_Wikipedia_alt  ⋯
     │ Int64       String?         String?       Int64?  String?   String?      String?       String?      String?       String?  String?            ⋯
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13301  missing         347 f.            24  von       Kuno Herdan  Büches        1426         missing       missing  missing            ⋯
   2 │      13408  missing         375               24  von       Dietrich     Hagen         1438         missing       missing  missing
   3 │      13449  missing         348               24  von       Kuno Herdan  Büches        missing      missing       missing  missing
   4 │      13533  missing         680               27  missing   Halto        missing       missing      missing       missing  missing
   5 │      13578  missing         680               27  Graf von  Reinhold     Dassel        missing      missing       missing  missing            ⋯
   6 │      13578  missing         680               27  Graf von  Reinhold     Dassel        missing      missing       missing  missing
   7 │      13676  missing         51                29  (von)     Tilemann     Brandis       1524         missing       missing  missing
   8 │      13694  missing         53                29  von der   Siegfried    Burg          missing      missing       missing  missing
                                                                                                                                    38 columns omitted

In [165]:
transform!(df_exp, :ID_Domherr => ByRow(string) => :id_in_source);

In [166]:
df_ins = innerjoin(df_idx, df_exp, on = :id_in_source);

In [167]:
size(df_ins, 1)

962

Spalte `lang` hat den Default-Wert 'de'.

In [168]:
table_dst = "givenname_variant"
Wds.filltable!(table_dst, select(df_ins, :id => :person_id, :Vorname_Variante => :name))

┌ Info: Rows inserted: 962
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

962

### Suchvarianten eintragen (name_lookup)

Test

In [88]:
Wds.makevariantsgn("Klaus Walter", "von der", "Vogelweide", "Vollmer, Liber")

6-element Vector{Vector{Union{Missing, String}}}:
 ["Klaus Walter", "von der", "Vogelweide", "Klaus Walter Vogelweide", "Klaus Walter von der Vogelweide"]
 ["Klaus", "von der", "Vogelweide", "Klaus Vogelweide", "Klaus von der Vogelweide"]
 ["Klaus Walter", "von der", "Vollmer", "Klaus Walter Vollmer", "Klaus Walter von der Vollmer"]
 ["Klaus", "von der", "Vollmer", "Klaus Vollmer", "Klaus von der Vollmer"]
 ["Klaus Walter", "von der", "Liber", "Klaus Walter Liber", "Klaus Walter von der Liber"]
 ["Klaus", "von der", "Liber", "Klaus Liber", "Klaus von der Liber"]

In [29]:
df_src = DataFrame(
    id = [1077, 31, 32, 33, 34, 35, 36],
    givenname = ["Dietricus", "Albert", "Hans Otto", "Wilhelm", "Kurt Georg", "Otto", "Otto"],
    prefix_name = [missing, "von", "zu", "von", missing, "auf der", missing],
    familyname = [missing, "Häusler", "Oberhof", "Berg", missing, "Scholle", "Weiß"],
    givenname_variant = [missing, missing, "Johann Otto", "Guido, Guillaume", "Konrad", missing, "Odilon"],
    familyname_variant = [missing, "Hauser, Schad", missing, "Berge", missing, missing, "Blanc"]
    )

7×6 DataFrame
 Row │ id     givenname   prefix_name  familyname  givenname_variant  familyna ⋯
     │ Int64  String      String?      String?     String?            String?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  1077  Dietricus   missing      missing     missing            missing  ⋯
   2 │    31  Albert      von          Häusler     missing            Hauser,
   3 │    32  Hans Otto   zu           Oberhof     Johann Otto        missing
   4 │    33  Wilhelm     von          Berg        Guido, Guillaume   Berge
   5 │    34  Kurt Georg  missing      missing     Konrad             missing  ⋯
   6 │    35  Otto        auf der      Scholle     missing            missing
   7 │    36  Otto        missing      Weiß        Odilon             Blanc
                                                                1 column omitted

In [30]:
df_nl = Wds.create_name_lookup(df_src) # schaut gut aus

22×3 DataFrame
 Row │ person_id  gn_fn                gn_prefix_fn
     │ Int64      String?              String?
─────┼────────────────────────────────────────────────────────
   1 │      1077  Dietricus            missing
   2 │        31  Albert Häusler       Albert von Häusler
   3 │        31  Albert Hauser        Albert von Hauser
   4 │        31  Albert Schad         Albert von Schad
   5 │        32  Hans Otto Oberhof    Hans Otto zu Oberhof
   6 │        32  Hans Oberhof         Hans zu Oberhof
   7 │        32  Johann Otto Oberhof  Johann Otto zu Oberhof
   8 │        32  Johann Oberhof       Johann zu Oberhof
   9 │        33  Wilhelm Berg         Wilhelm von Berg
  10 │        33  Wilhelm Berge        Wilhelm von Berge
  11 │        33  Guido Berg           Guido von Berg
  12 │        33  Guido Berge          Guido von Berge
  13 │        33  Guillaume Berg       Guillaume von Berg
  14 │        33  Guillaume Berge      Guillaume von Berge
  15 │        34  Kurt Georg           missing
  16 │        34  Kurt                 missing
  17 │        34  Konrad               missing
  18 │        35  Otto Scholle         Otto auf der Scholle
  19 │        36  Otto Weiß            missing
  20 │        36  Otto Blanc           missing
  21 │        36  Odilon Weiß          missing
  22 │        36  Odilon Blanc         missing

ID auslesen

In [169]:
table_name = "item"
sql = "SELECT id, id_in_source FROM $(table_name) where item_type_id = ($item_type_id)"
df_idx = Wds.sql_df(sql);

In [180]:
path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb\\data\\tbl_domherren.csv"
df_src = CSV.read(path, DataFrame);

In [179]:
columns = [
    :ID_Domherr => :ID_Domherr,
    :Vorname => :givenname,
    :Praefix => :prefix_name,
    :Familienname => :familyname,
    :Vorname_Variante => :givenname_variant,
    :Familienname_Variante => :familyname_variant
]

6-element Vector{Pair{Symbol, Symbol}}:
            :ID_Domherr => :ID_Domherr
               :Vorname => :givenname
               :Praefix => :prefix_name
          :Familienname => :familyname
      :Vorname_Variante => :givenname_variant
 :Familienname_Variante => :familyname_variant

In [181]:
select!(df_src, columns);

In [ ]:
Alternativ: Daten aus der Datenbank auslesen, wenn sie sich von Access aus dahin exportieren lassen.

In [170]:
table_src = "domherr.tbl_domherren"
sql = "SELECT ID_Domherr, " *
"Vorname AS givenname, " *
"Praefix AS prefix_name, " *
"Familienname AS familyname," * 
"Vorname_Variante AS givenname_variant, " * 
"Familienname_Variante AS familyname_variant " *
"FROM $(table_src)"
df_src = Wds.sql_df(sql);

LoadError: (1146): Table 'domherr.tbl_domherren' doesn't exist

In [182]:
Wds.clean_up!(df_src)

In [183]:
one_not_missing(x, y) = !(ismissing(x) && ismissing(y))

one_not_missing (generic function with 1 method)

In [184]:
filter!([:givenname, :familyname] => one_not_missing, df_src);

In [185]:
transform!(df_src, :ID_Domherr => ByRow(string) => :id_in_source);

In [186]:
size(df_src)

(22729, 7)

In [187]:
names(df_src)

7-element Vector{String}:
 "ID_Domherr"
 "givenname"
 "prefix_name"
 "familyname"
 "givenname_variant"
 "familyname_variant"
 "id_in_source"

In [126]:
df_idx[100:107, :]

8×2 DataFrame
 Row │ id     id_in_source
     │ Int32  String?
─────┼─────────────────────
   1 │ 51833  10918
   2 │ 51834  10917
   3 │ 51835  10916
   4 │ 51836  10915
   5 │ 51837  10914
   6 │ 51838  10913
   7 │ 51839  10912
   8 │ 51840  10911

In [188]:
df_nl_in = innerjoin(df_idx, df_src, on = :id_in_source);

In [189]:
size(df_nl_in)

(22729, 8)

In [190]:
df_nl = Wds.create_name_lookup(df_nl_in);

In [191]:
size(df_nl)

(32450, 3)

In [192]:
df_nl_empty = filter(:gn_fn => ismissing, df_nl);

In [193]:
size(df_nl_empty)

(0, 3)

In [154]:
df_nl[2300:2312, :]

13×3 DataFrame
 Row │ person_id  gn_fn                       gn_prefix_fn
     │ Int64      String?                     String?
─────┼───────────────────────────────────────────────────────────────────────
   1 │     52835  Hermann Auwach              Hermann von Auwach
   2 │     52836  Johann Heinrich Gysenberg   Johann Heinrich von Gysenberg
   3 │     52836  Johann Gysenberg            Johann von Gysenberg
   4 │     52837  Heinrich Hartard Rollingen  Heinrich Hartard von Rollingen
   5 │     52837  Heinrich Rollingen          Heinrich von Rollingen
   6 │     52838  Ignaz Wolfgang Metternich   Ignaz Wolfgang von Metternich
   7 │     52838  Ignaz Metternich            Ignaz von Metternich
   8 │     52839  Johann Hugo Orsbeck         Johann Hugo von Orsbeck
   9 │     52839  Johann Orsbeck              Johann von Orsbeck
  10 │     52840  Gerhard Lothar Büren        Gerhard Lothar von Büren
  11 │     52840  Gerhard Büren               Gerhard von Büren
  12 │     52841  Wilderich Walderdorff       Wilderich von Walderdorff
  13 │     52842  Erasmus Horst               Erasmus von Horst

Entferne Einträge für diese Art von Items

In [156]:
table_name = "name_lookup"
sql = "DELETE FROM $(table_name) 
WHERE person_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup \nWHERE person_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [194]:
table_name = "name_lookup"
Wds.filltable!(table_name, df_nl)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: 30000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1185
┌ Info: Rows inserted: 32450
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

32450

### `canon_lookup_line`
*2022-02-07* Siehe Domherren GS: dort werden alle Verweise angelegt.

Verweise auf sich selbst

In [195]:
table_name = "item";
item_type_dh = 5;
sql = "SELECT id as person_id, id as person_id_canon 
FROM $(table_name) WHERE item_type_id = $(item_type_dh) AND is_online";
df_item_cn_dh = Wds.sql_df(sql);

In [196]:
size(df_item_cn_dh)

(2587, 2)

In [197]:
table_name = "canon_lookup";
Wds.filltable!(table_name, df_item_cn_dh);

┌ Info: Rows inserted: 2587
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

Verweise auf Bischöfe

In [208]:
sql = "SELECT p.id as person_id, givenname, familyname, e.value AS id_external, i.item_type_id
FROM person AS p
JOIN item AS i ON p.id = i.id
JOIN id_external AS e ON i.id = e.item_id
JOIN authority AS a ON e.authority_id = a.id
WHERE a.id = 5
AND i.is_online";
df_cn_episc = Wds.sql_df(sql);

In [209]:
size(df_cn_episc)

(164, 5)

In [210]:
names(df_cn_episc)

5-element Vector{String}:
 "person_id"
 "givenname"
 "familyname"
 "id_external"
 "item_type_id"

`item_id` für WIAG_ID finden

In [211]:
table_name = "item";
type_id_episc = 4;
sql = "SELECT id as id_ep, id_public FROM $(table_name) WHERE item_type_id = $(type_id_episc)";
df_item_episc = Wds.sql_df(sql);

In [212]:
df_cn_episc = innerjoin(df_cn_episc, df_item_episc, on = :id_external => :id_public);

In [213]:
size(df_cn_episc)

(163, 6)

In [202]:
names(df_cn_episc)

6-element Vector{String}:
 "person_id"
 "givenname"
 "familyname"
 "id_external"
 "item_type_id"
 "id_ep"

In [214]:
columns = [
    :person_id => :person_id,
    :id_ep => :person_id_canon
]

2-element Vector{Pair{Symbol, Symbol}}:
 :person_id => :person_id
     :id_ep => :person_id_canon

In [215]:
table_name = "canon_lookup"
Wds.filltable!(table_name, select(df_cn_episc, columns))

┌ Info: Rows inserted: 163
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

163

Überflüssige Verweise bereinigen

In [216]:
id_src = "(" * join(df_cn_episc.person_id, ",") * ")";

In [217]:
sql = "DELETE FROM canon_lookup 
WHERE person_id = person_id_canon 
AND person_id in $(id_src)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM canon_lookup \nWHERE person_id = person_id_canon \nAND person_id in (125502,126086,125984,134479,126004,134480,126007,126009,132577,126034,125943,132668,131042,125532,131056,126083,125936,131012,125527,125525,131071,132499,131830,126032,125820,125816,125797,125796,126087,131068,132686,125835,131036,131029,131608,131567,130950,130997,130947,130957,130982,131005,130986,130981,132678,130940,132227,131373,131045,131220,131014,125478,132788,132313,132779,132153,131904,131225,125983,132206,132502,132683,125536,125469,125474,125632,125556,125470,132687,125974,134483,131241,131410,131319,131356,131083,132145,131732,131571,131221,131341,132306,131227,123910,123912,125937,125639,125287,131761,134614,131692,125827,125828,132067,125798,123644,123590,127932,129175,129435,125290,131249,125733,125779,123732,123676,127664,126006,132550,132644,127547,123656,123658,123662,123585,123622,131722,131727,126322,132033,131464,131986,132771,131846,131857,131859,125774,132548,131832,125758,131248,132501,131797,131725,133190,133879,131785,132705,125644,132045,134568,131459,131915,134572,134593,131932,125869,125815,134596,134584,132521,123707,123589,123757,123758,123762,123765,123721,123715,131687,125991,134683,134513)", 0, -1, 163, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)