# Wissensaggregator Mittelalter und frühe Neuzeit
WIAGweb2

## Daten für Domherren einlesen

Übertrage Daten aus Access. Die Daten werden aus Access via ODBC in eine Transfer-Datenbank geschrieben oder als CSV-Datei exportiert. `domherr.tbl_domherren`, `tbl_urls` und `domherr.tbl_domherren_aemter`.

[Domherren](#Domherren)
- [Einträge in `item`](#Einträge-in-item)
- [Daten eintragen](#Daten-eintragen)
- [Orden eintragen](#Orden-eintragen)
- [Referenzwerke eintragen](#Referenzwerke-eintragen)
- [Externe URLs eintragen](#Externe-URLs-eintragen)
- [Externe IDs eintragen](#Externe-IDs-eintragen)
- [Namensvarianten eintragen](#Namensvarianten-eintragen)
- [Suchvarianten eintragen (`name_lookup`)](#Suchvarianten-eintragen-(name_lookup))
- [`canon_lookup`](#canon_lookup)

Quelle: Datenbank `domherr`

Vorspann: Pakete laden; mit der Datenbank verbinden  
Der Vorspann zur Bestimmung des Projekts kann entfallen mit dem Kernel `julia-data-io 1.7.0`

In [1]:
wds_path="../.."

"../.."

In [2]:
cd(wds_path)

In [3]:
pwd()

"C:\\Users\\georg\\Documents\\projekte\\WiagDataSetup.jl"

In [4]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data_sql"

In [5]:
using Pkg

In [6]:
Pkg.activate(".")

  Activating project at `C:\Users\georg\Documents\projekte\WiagDataSetup.jl`

In [7]:
using Revise

In [8]:
using WiagDataSetup

In [9]:
using MySQL, DataFrames

In [10]:
ENV["COLUMNS"] = 120

120

In [11]:
Wds = WiagDataSetup

WiagDataSetup

In [12]:
Wds.setDBWIAG(user="georg", db="wiag2")

Passwort für User georg: ········

MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2")

Item Type ID

In [13]:
item_type_id = 5

5

In [14]:
data_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\domherren-2022-05-18"

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\domherren-2022-05-18"

## Lösche Tabellen für ein umfassendes Update

In [15]:
table_name = "name_lookup";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 33351, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [16]:
table_name = "familyname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM familyname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 1544, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [17]:
table_name = "givenname_variant";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM givenname_variant\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 1036, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [18]:
table_name = "url_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM url_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 1729, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [19]:
table_name = "id_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 11390, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [20]:
table_name = "person_role_property";
sql = "DELETE FROM $(table_name)
WHERE person_role_id IN
(SELECT id FROM person_role
WHERE person_id in (SELECT id from item WHERE item_type_id = $(item_type_id)))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role_property\nWHERE person_role_id IN\n(SELECT id FROM person_role\nWHERE person_id in (SELECT id from item WHERE item_type_id = 5))", 0, -1, 500, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [21]:
table_name = "person_role";
sql = "DELETE FROM $(table_name)
WHERE person_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person_role\nWHERE person_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 33535, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [22]:
table_name = "person";
sql = "DELETE FROM $(table_name)
WHERE id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM person\nWHERE id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 22812, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [23]:
table_name = "item_reference";
sql = "DELETE FROM $(table_name)
WHERE item_id IN
(SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference\nWHERE item_id IN\n(SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 23925, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [44]:
table_name = "item";
sql = "DELETE FROM $(table_name)
WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item\nWHERE item_type_id = 5", 0, -1, 22780, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

## Literatur

In [24]:
# Quelle Datenbank
sql = "SELECT * FROM domherr.tbl_reference"
df_vol = Wds.sql_df(sql);

In [25]:
using CSV

In [26]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_Reference.csv");
df_vol = CSV.read(filename, DataFrame);

Manche Einträge sind unvollständig

In [27]:
Wds.clean_up!(df_vol);

In [28]:
dropmissing!(df_vol, :Literatur);

In [29]:
columns = [
    :ID_Ref => :reference_id,
    :Literatur => :full_citation,
    :Verfasser => :author_editor,
    :OnlineRessource => :online_resource,
    :Kurztitel => :title_short,
]

5-element Vector{Pair{Symbol, Symbol}}:
          :ID_Ref => :reference_id
       :Literatur => :full_citation
       :Verfasser => :author_editor
 :OnlineRessource => :online_resource
       :Kurztitel => :title_short

In [30]:
df_vol_db = select(df_vol, columns);

In [31]:
insertcols!(df_vol_db,
    :item_type_id => item_type_id);

Bestehende Einträge löschen

In [34]:
table_name = "reference_volume"
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM reference_volume WHERE item_type_id = 5", 0, -1, 147, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

Daten eintragen

In [35]:
table_name = "reference_volume"
Wds.filltable!(table_name, df_vol_db, clear_table = false)

┌ Info: Rows inserted: 152
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

152

## Domherren

In [36]:
using CSV

In [37]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_domherren.csv")
df_cn = CSV.read(filename, DataFrame);

In [ ]:
# Quelle Datenbank
sql = "SELECT * FROM domherr.tbl_domherren";
df_cn = Wds.sql_df(sql);

Leerzeichen bereinigen

In [38]:
Wds.clean_up!(df_cn)

In [39]:
first(df_cn, 5)

5×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname            Familienname    Sterbedatum  Gebu ⋯
     │ Int64       String?         String?       Int64   String?  String?            String?         String?      Stri ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      10000  missing         167, 183           6  von      Friedrich Wilhelm  Loe             1689         miss ⋯
   2 │      10001  missing         183                6  von      Johann Heinrich    Metzenhausen    missing      miss
   3 │      10002  missing         183                6  von      Philipp Friedrich  Metzenhausen    missing      miss
   4 │      10003  missing         183                6  von der  Damian Friedrich   Fels            1684         miss
   5 │      10004  missing         183, 189           6  von      Friedrich Ernst    Eltz-Rodendorf  missing      miss ⋯
                                                                                                      40 columns omitted

*2022-03-10* prüfe auf unorthodoxe Einräge in `WIAG_ID_Bischof`

In [40]:
df_cn_ID_Bischof = dropmissing(df_cn, :WIAG_ID_Bischof);

In [41]:
df_cn_ID_Bischof[201:205, [:ID_Domherr, :Vorname, :Familienname, :WIAG_ID_Bischof, :Status]]

5×5 DataFrame
 Row │ ID_Domherr  Vorname             Familienname               WIAG_ID_Bischof                Status
     │ Int64       String?             String?                    String                         String?
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      14815  Nikolaus            Riesenburg                 WIAG-Pers-EPISCGatz-03242-001  fertig
   2 │      14816  Albrecht            Blarer                     WIAG-Pers-EPISCGatz-02920-001  fertig
   3 │      14818  Konrad              Rechberg zu Hohenrechberg  WIAG-Pers-EPISCGatz-02704-001  fertig
   4 │      14819  Thomas              Berlower                   WIAG-Pers-EPISCGatz-05308-001  fertig
   5 │      14827  Johann Franz Anton  Khevenhueller              WIAG-Pers-EPISCGatz-10370-001  fertig

In [42]:
find_spurious(a) = !ismissing(a) && occursin("http", a)
df_cn_sp = subset(df_cn, :WIAG_ID_Bischof => ByRow(find_spurious));

In [43]:
# 2022-05-20
size(df_cn_sp)

(0, 48)

In [44]:
df_cn_sp[:, [:ID_Domherr, :Vorname, :Familienname, :WIAG_ID_Bischof, :Status]]

0×5 DataFrame

In [25]:
filename_sp = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\WIAG_ID_Bischof_2022-03-10.csv"
CSV.write(filename_sp, df_cn_sp)

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\WIAG_ID_Bischof_2022-03-10.csv"

Extrahiere die eigentliche ID

In [45]:
function get_WIAG_ID_Bischof(s)
    if ismissing(s)
        return s
    end
    rgx = r".*(WIAG-Pers-EPISCGatz-[0-9]+-[0-9]+).*"
    rgm = match(rgx, s)
    if !isnothing(rgm)
        return rgm[1]
    else
        @warn s
    end
    return missing
end

get_WIAG_ID_Bischof (generic function with 1 method)

In [46]:
transform!(df_cn_sp, :WIAG_ID_Bischof => ByRow(get_WIAG_ID_Bischof) => :WIAG_ID_Bischof);

In [47]:
transform!(df_cn, :WIAG_ID_Bischof => ByRow(get_WIAG_ID_Bischof) => :WIAG_ID_Bischof);

### Einträge in `item`

entsprechende Einträge in Tabelle `item` einfügen

`id` für 'Domherr' in `item_type`: 5

In [48]:
columns = [
    :ID_Domherr => :id_in_source,
    :Eintrag_Quelle => :item_in_source,
    :fertig => :fertig,
    :Status => :Status,    
]

4-element Vector{Pair{Symbol, Symbol}}:
     :ID_Domherr => :id_in_source
 :Eintrag_Quelle => :item_in_source
         :fertig => :fertig
         :Status => :Status

In [49]:
df_item = select(df_cn, columns);

In [50]:
insertcols!(df_item, :item_type_id => item_type_id);

In [51]:
df_item[201:205, :]

5×5 DataFrame
 Row │ id_in_source  item_in_source  fertig  Status    item_type_id
     │ Int64         String?         Int64   String?   Int64
─────┼──────────────────────────────────────────────────────────────
   1 │        10200  missing              0  fertig               5
   2 │        10201  missing              0  fertig               5
   3 │        10202  missing              0  xx                   5
   4 │        10203  missing              0  Dublette             5
   5 │        10204  missing              0  fertig               5

`edit_status` bestimmen; Status-Bit in den Eintrag "fertig" umwandeln (nur falls die Daten aus der Datenbank eingelesen wurden)

In [52]:
function map_status(x)
    if typeof(x) == Int
        if x == 1
            return "fertig"
        else
            return missing
        end
    elseif getproperty(x, :bits) > 0
        return "fertig"
    else
        return missing
    end
end

map_status (generic function with 1 method)

In [53]:
transform!(df_item, :fertig => ByRow(map_status) => :edit_status);

Feld `is_online` eintragen

In [54]:
map_online(x) = (!ismissing(x) && x == "online") ? 1 : 0

map_online (generic function with 1 method)

In [55]:
transform!(df_item, :Status => ByRow(map_online) => :is_online);

In [56]:
using Dates

In [57]:
date_time_now = Dates.format(now(), Dates.dateformat"yyyy-mm-dd HH:MM")

"2022-05-20 08:30"

In [58]:
user_id_georg = 7

7

In [59]:
insertcols!(df_item,
    :created_by => user_id_georg,
    :date_created => date_time_now,
    :changed_by => user_id_georg,
    :date_changed => date_time_now
);

In [60]:
function make_id_public(id::Real)
    id_public_key = "Pers-CANON"
    num_id_length = 5
    return "WIAG-" * id_public_key * "-" * lpad(id, num_id_length, '0') * "-001"
end

make_id_public (generic function with 1 method)

In [61]:
make_id_public(3650)

"WIAG-Pers-CANON-03650-001"

Normdatum/öffentliche ID erzeugen

*2022-01-13* Verwende die ursprüngliche ID. Damit entspricht die ID der bisher veröffentlichten ID

In [62]:
transform!(df_item, :id_in_source => ByRow(make_id_public) => :id_public);

`item.is_deleted` ist vorbelegt mit `false`

`item.lang` ist vorbelegt mit "de"

In [63]:
names(df_item)

12-element Vector{String}:
 "id_in_source"
 "item_in_source"
 "fertig"
 "Status"
 "item_type_id"
 "edit_status"
 "is_online"
 "created_by"
 "date_created"
 "changed_by"
 "date_changed"
 "id_public"

In [64]:
sum(df_item[!, :is_online])

3233

In [65]:
findfirst(df_item[!, :is_online] .== 1)

8

In [67]:
df_item[8:12, [:id_in_source, :item_type_id, :id_public, :edit_status, :is_online, :date_changed, :changed_by]]

5×7 DataFrame
 Row │ id_in_source  item_type_id  id_public                  edit_status  is_online  date_changed      changed_by
     │ Int64         Int64         String                     String?      Int64      String            Int64
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │        10007             5  WIAG-Pers-CANON-10007-001  fertig               1  2022-05-20 08:30           7
   2 │        10008             5  WIAG-Pers-CANON-10008-001  missing              0  2022-05-20 08:30           7
   3 │        10009             5  WIAG-Pers-CANON-10009-001  fertig               0  2022-05-20 08:30           7
   4 │        10010             5  WIAG-Pers-CANON-10010-001  fertig               0  2022-05-20 08:30           7
   5 │        10011             5  WIAG-Pers-CANON-10011-001  fertig               0  2022-05-20 08:30           7

Bestehende Einträge löschen (evtl. vorher die von `item` abhängigen Tabellen löschen)

In [68]:
table_name = "item";
sql = "DELETE FROM $(table_name) WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item WHERE item_type_id = 5", 0, -1, 22863, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [69]:
exclude_cols = [
    :fertig,
    :Status,
]

2-element Vector{Symbol}:
 :fertig
 :Status

In [70]:
table_name = "item";
Wds.filltable!(table_name, select(df_item, Not(exclude_cols)), clear_table = false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: Rows inserted: 22990
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

22990

### Daten eintragen

IDs auslesen

In [71]:
sql = "SELECT id, id_in_source FROM ITEM where item_type_id = ($item_type_id)"
df_idx = DBInterface.execute(Wds.dbwiag, sql) |> DataFrame;

Spalte für die Zusammenführung befüllen (Typ: String!)

In [72]:
transform!(df_cn, :ID_Domherr => ByRow(string) => :id_in_source);

In [73]:
df_cn_db = innerjoin(df_idx, df_cn, on = :id_in_source);

Daten eintragen

Wir übernehmen alle Einträge unabhängig vom Status, da die Daten später Grundlage für die Redaktion sind. Einträge ohne Vor- und Familiennamen werden gelöscht.

In [74]:
one_not_missing(x, y) = !(ismissing(x) && ismissing(y))

one_not_missing (generic function with 1 method)

In [75]:
size(df_cn_db, 1)

22990

In [76]:
df_cn_db = subset(df_cn_db, [:Vorname, :Familienname] => ByRow(one_not_missing));

In [77]:
size(df_cn_db, 1)

22938

Jahreszahlen ermitteln

In [78]:
parse_date_birth(s) = Wds.parsemaybe(s, :lower)

parse_date_birth (generic function with 1 method)

In [79]:
parse_date_death(s) = Wds.parsemaybe(s, :upper)

parse_date_death (generic function with 1 method)

In [80]:
transform!(df_cn_db, :Geburtsdatum => ByRow(parse_date_birth) => :num_date_birth);

┌ Warning: Could not parse
│   s = Dr. theol.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118

In [81]:
transform!(df_cn_db, :Sterbedatum => ByRow(parse_date_death) => :num_date_death);

┌ Warning: Could only find year in
│   s = Ende 1322?
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could only find year in
│   s = vor Febr. 1503
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could only find year in
│   s = 3. Juni 1511
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could only find year in
│   s = 2. Febr. 1273
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could only find year in
│   s = 8.10.1160
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could not parse
│   s = 3. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 5. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 31. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 18. Nov.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 13. März?
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 24.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 18. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 05.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 18.Mai
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 29. Nov.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could only find year in
│   s = 8. Jan. 1516
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could not parse
│   s = 05.Mrz
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 12. Okt.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could only find year in
│   s = 1. Sept. 1535
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could not parse
│   s = 19.Mrz
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 11. Jan.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 14.Jul
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 3. Dez.
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could only find year in
│   s = 13. Oktober 1589
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113
┌ Warning: Could not parse
│   s = 25.Apr
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could not parse
│   s = 02.Aug
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1118
┌ Warning: Could only find year in
│   s = 8. Sept. 1539
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1113

Orden zuordnen

In [82]:
sql = "SELECT id as religious_order_id, abbreviation FROM religious_order";
df_rel_order = Wds.sql_df(sql);

In [83]:
df_cn_db = leftjoin(df_cn_db, df_rel_order, on = :Orden => :abbreviation, matchmissing = :notequal);

In [84]:
a_not_b(a, b) = !ismissing(a) && ismissing(b)

a_not_b (generic function with 1 method)

In [85]:
df_cn_no_match = subset(df_cn_db, [:Orden, :religious_order_id] => ByRow(a_not_b));

In [86]:
size(df_cn_no_match)

(0, 53)

Felder auswählen

In [89]:
insertcols!(df_cn_db,
    :item_type_id => item_type_id,
);

In [90]:
columns = [
    :id => :id,
    :item_type_id => :item_type_id,
    :Praefix => :prefixname,
    :Vorname => :givenname,
    :Familienname => :familyname,
    :Sterbedatum => :date_death,
    :Geburtsdatum => :date_birth,
    :Bemerkung_Red => :comment,
    :Kommentar_Name => :note_name,
    :Kommentar_Person => :note_person,
    :religious_order_id => :religious_order_id,
]

11-element Vector{Pair{Symbol, Symbol}}:
                 :id => :id
       :item_type_id => :item_type_id
            :Praefix => :prefixname
            :Vorname => :givenname
       :Familienname => :familyname
        :Sterbedatum => :date_death
       :Geburtsdatum => :date_birth
      :Bemerkung_Red => :comment
     :Kommentar_Name => :note_name
   :Kommentar_Person => :note_person
 :religious_order_id => :religious_order_id

In [91]:
Wds.filltable!("person", select(df_cn_db, columns); clear_table=false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: Rows inserted: 22938
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

22938

*2022-05-12* Finde überlangen Eintrag in `Bemerkung_Red`

In [113]:
df_cn_db_Bemerkung_Red = dropmissing(df_cn_db, :Bemerkung_Red);

In [114]:
size(df_cn_db_Bemerkung_Red)

(3843, 54)

In [116]:
df_cn_db_Bemerkung_Red[16:20, [:id, :Vorname, :Familienname, :Bemerkung_Red]]

5×4 DataFrame
 Row │ id      Vorname              Familienname              Bemerkung_Red
     │ Int32   String?              String?                   String
─────┼──────────────────────────────────────────────────────────────────────────────────────────
   1 │ 226452  Wilhelm Philipp Jos  Waldenfels                Vorname unvollständig; Joseph?
   2 │ 226434  Joseph Andreas Rich  Speth von Zwiefalten      Vorname unvollständig
   3 │ 226427  Heinrich Hartard     Metternich                laut Hersche auch Domherr in Tri…
   4 │ 226483  Hugo Eberhard        Cratz von Scharffenstein  http://www.westfaelische-geschic…
   5 │ 226472  Johann               Heppenheim genannt Saal   Heinrich SCHROHE, Johann von Hep…

In [118]:
df_cn_db.len_bem = (x -> ismissing(x) ? 0 : length(x)).(df_cn_db.Bemerkung_Red);

In [119]:
findmax(identity, df_cn_db.len_bem)

(1450, 22362)

In [124]:
size(df_cn_db)

(22812, 54)

In [126]:
df_cn_db[22362, [:id, :Vorname, :Familienname, :Bemerkung_Red, :len_bem]]

DataFrameRow
   Row │ id      Vorname    Familienname  Bemerkung_Red
       │ Int32   String?    String?       String?
───────┼───────────────────────────────────────────────────────────────────────
 22362 │ 248684  Balthasar  Neuenstadt    folgende Links evtl. löschen (? …
                                                               1 column omitted

### Orden eintragen
*2021-10-14* Die Ordenstabelle ist vorläufig und basiert auf den Ordensangaben für Bischöfe  
*2022-01-13* Unter den Domherren gibt es nur zwei mit einer Ordensangabe

ID der Orden in Personentabelle eintragen

In [131]:
df_cn_order = dropmissing(df_cn_db, :Orden);

In [132]:
size(df_cn_order)

(5, 54)

In [133]:
df_cn_order[!, :join_field] .= lowercase.(df_cn_order[!, :Orden]);

In [134]:
sql = "SELECT * FROM religious_order WHERE abbreviation IS NOT NULL";
df_order_db = Wds.sql_df(sql);

In [135]:
df_order_db[!, :join_field] .= lowercase.(df_order_db[!, :abbreviation]);

In [136]:
df_cn_order_id = leftjoin(df_cn_order, 
    select(df_order_db, :id => :religious_order_id, :join_field), 
    on = :join_field);

In [137]:
size(df_cn_order_id)

(5, 56)

Tabelle `person` aktualisieren

In [138]:
filename = joinpath(out_path, "cn_person_update.sql");
table_name = "person";
Wds.update_sql(filename, table_name, select(df_cn_order_id, :id, :religious_order_id), on = :id);

SQL
```sql
source C:\Users\georg\Documents\projekte-doc\WIAGweb2\data_sql\cn_person_update.sql
```

### Referenzwerke eintragen

In [92]:
columns = [
    :id => :item_id,
    :Seite_Quelle => :page,
    :ID_Quelle => :id_in_reference,
    :Quelle => :reference_id,
    :Merged_Into => :merged_into_id,
    :Status => :status,
]

6-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :Seite_Quelle => :page
    :ID_Quelle => :id_in_reference
       :Quelle => :reference_id
  :Merged_Into => :merged_into_id
       :Status => :status

In [93]:
df_cn_ref = select(df_cn_db, columns);

In [94]:
df_cn_ref[!, :item_type_id] .= item_type_id;

In [95]:
size(df_cn_ref, 1)

22938

In [96]:
dropmissing!(df_cn_ref, :reference_id);

In [97]:
size(df_cn_ref)

(22938, 7)

Einträge löschen (im Fall von Korrekturen)

In [98]:
sql = "DELETE FROM item_reference WHERE item_type_id = $(item_type_id)"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM item_reference WHERE item_type_id = 5", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [99]:
columns = [
    :item_id => :item_id,
    :page => :page,
    :id_in_reference => :id_in_reference,
    :item_type_id => :item_type_id,
    :reference_id => :reference_id,
]

5-element Vector{Pair{Symbol, Symbol}}:
         :item_id => :item_id
            :page => :page
 :id_in_reference => :id_in_reference
    :item_type_id => :item_type_id
    :reference_id => :reference_id

In [100]:
table_name = "item_reference";
Wds.filltable!(table_name, select(df_cn_ref, columns), clear_table = false)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: Rows inserted: 22938
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

22938

Trage Referenzen ein von Einträgen, die mit anderen zusammengezogen wurden.

In [101]:
is_ref2(merged_into_id, status) = !ismissing(merged_into_id) && isequal(status, "merged")

is_ref2 (generic function with 1 method)

In [102]:
df_cn_ref2 = subset(df_cn_ref, [:merged_into_id, :status] => ByRow(is_ref2));

In [103]:
lookupItemId = Dict(Pair.(df_cn_db.id_in_source ,df_cn_db.id));

In [104]:
getItemId(id_in_source) = get(lookupItemId, string(id_in_source), missing)

getItemId (generic function with 1 method)

In [105]:
transform!(df_cn_ref2, :merged_into_id => ByRow(getItemId) => :item_id);

In [106]:
size(df_cn_ref2, 1)

1129

In [107]:
count(ismissing, df_cn_ref.item_id)

0

In [108]:
columns = [
    :item_id,
    :page,
    :id_in_reference,
    :item_type_id,
    :reference_id,
]

5-element Vector{Symbol}:
 :item_id
 :page
 :id_in_reference
 :item_type_id
 :reference_id

In [109]:
table_name = "item_reference";
Wds.filltable!(table_name, select(df_cn_ref2, columns), clear_table = false)

┌ Info: Rows inserted: 1129
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

1129

In [172]:
subset(df_cn_ref2, :merged_into_id => ByRow(isequal(10939)))

1×7 DataFrame
 Row │ item_id  page                id_in_reference             reference_id  merged_into_id  status   item_type_id
     │ Int32    String?             String?                     Int64         Int64?          String?  Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │  184999  100, 136, 148, 201  HA999, HI170, MS168, PB120             6           10939  merged              5

### Externe URLs eintragen

In [157]:
using CSV, DataFrames

In [110]:
file_name = joinpath(data_path, "tbl_urls.csv")
df_url = CSV.read(file_name, DataFrame, delim=";");

In [111]:
Wds.clean_up!(df_url);

Die IDs in `authority` sind für externe URLs mit einem Offset von 1000 versehen, denn sie betreffen den gleichen Datentyp

In [112]:
id_offset = 1000;
transform!(df_url, :url_type => ByRow(x -> x + id_offset) => :authority_id);

In [113]:
names(df_url)

8-element Vector{String}:
 "ID_url"
 "domherr_id"
 "url_value"
 "url_link"
 "note"
 "description"
 "url_type"
 "authority_id"

Zuordnung zu IDs

In [114]:
sql = "SELECT id, id_in_source FROM item WHERE item_type_id = $(item_type_id)"
df_idx = Wds.sql_df(sql);

In [115]:
transform!(df_url, :domherr_id => ByRow(string) => :id_in_source);

In [116]:
df_url_idx = leftjoin(df_url, df_idx, on = :id_in_source);

In [117]:
size(df_url_idx, 1), count(ismissing, df_url_idx.id)

(1965, 225)

In [118]:
df_url_idx_mg = subset(df_url_idx, :id => ByRow(ismissing));

In [119]:
df_url_idx_mg[151:155, [:id, :id_in_source, :url_type, :url_value]]

5×4 DataFrame
 Row │ id       id_in_source  url_type  url_value
     │ Int32?   String        Int64?    String
─────┼────────────────────────────────────────────────────────────────────
   1 │ missing  7129           missing  https://www.archive.nrw.de/LAV_N…
   2 │ missing  6856           missing  http://www.arcinsys.niedersachse…
   3 │ missing  6886           missing  http://www.arcinsys.niedersachse…
   4 │ missing  6886           missing  http://www.arcinsys.niedersachse…
   5 │ missing  6886           missing  http://www.arcinsys.niedersachse…

*2022-04-29* Tabelle ist noch in Arbeit

In [120]:
dropmissing!(df_url_idx, :id);

In [121]:
unique(df_url_idx.url_type)

13-element Vector{Union{Missing, Int64}}:
 22
 72
 70
   missing
 75
 73
 69
 27
 68
 76
 14
 71
 77

In [122]:
table_name = "url_external";
sql = "DELETE FROM $(table_name)
WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM url_external\nWHERE item_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [123]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :url_value => :value,
    :note => :note,
]

4-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
    :url_value => :value
         :note => :note

In [124]:
table_name = "url_external"
Wds.filltable!(table_name, select(df_url_idx, columns))

┌ Info: Rows inserted: 1740
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

1740

### Externe IDs eintragen

In [125]:
item_type_id = 5

5

Einträge löschen (für den Fall eines Fehlers oder für ein Update)

In [42]:
sql = "DELETE FROM id_external " *
"WHERE item_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))"
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM id_external WHERE item_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 11430, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [127]:
sql = "SELECT id, url_name_formatter FROM authority " *
"WHERE id IN (1, 2, 3, 4, 5, 200)";
Wds.sql_df(sql)

6×2 DataFrame
 Row │ id     url_name_formatter
     │ Int32  String?
─────┼──────────────────────────────────────────
   1 │     1  Gemeinsame Normdatei (GND) ID
   2 │     2  Wikidata
   3 │     3  Wikipedia-Artikel
   4 │     4  VIAF-ID
   5 │     5  WIAG-ID
   6 │   200  Personendatenbank der Germania S…

Index aus `item` lesen

In [39]:
sql = "SELECT id, is_online, id_in_source FROM item WHERE item_type_id = $(item_type_id)"
df_idx = Wds.sql_df(sql);

In [16]:
size(df_idx, 1)

22990

Externe Ids aus den Quelldaten lesen

In [17]:
using CSV

In [40]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_domherren.csv")
df_cn = CSV.read(filename, DataFrame);

Alternativ: Lies die Daten aus der Datenbank, wenn der Export aus Access in die Datenbank klappt.

In [ ]:
# Quelle: Datenbank
table_name = "domherr.tbl_domherren";
sql = "SELECT ID_Domherr, Vorname, Familienname, " *
"VIAF_ID, GND_ID, Wikidata_ID, GSN_ID, WIAG_ID_Bischof, URL_Wikipedia " *
"FROM $(table_name)"
df_cn = Wds.sql_df(sql);

In [41]:
Wds.clean_up!(df_cn)

In [42]:
transform!(df_cn, :ID_Domherr => ByRow(string) => :id_in_source);

In [43]:
df_cn = innerjoin(df_idx, df_cn, on = :id_in_source);

In [49]:
names(df_cn)

50-element Vector{String}:
 "id"
 "id_in_source"
 "ID_Domherr"
 "Eintrag_Quelle"
 "Seite_Quelle"
 "Quelle"
 "Praefix"
 "Vorname"
 "Familienname"
 "Sterbedatum"
 "Geburtsdatum"
 "Orden"
 "fertig"
 ⋮
 "Status"
 "Normdaten recherchiert"
 "URL_Wikipedia"
 "Externe URL"
 "ID_Quelle"
 "ID_Domherr_Jasmin"
 "ID_Fremdschluessel_2"
 "Merged_Into"
 "Identisch_mit"
 "WIAG_ID_Bischof"
 "LOD_Academy"
 "ID_Fremdschlüssel_Num"

**VIAF**, dann GND, Wikidata, GSN, Wikipedia

In [50]:
authority_id_viaf = 4 # siehe oben

4

In [51]:
df_cn_viaf = dropmissing(df_cn, :VIAF_ID)
df_cn_viaf[!, :authority_id] .= authority_id_viaf;

In [52]:
columns = [
    :id => :item_id,
    :authority_id => :authority_id,
    :VIAF_ID => :value,
]

3-element Vector{Pair{Symbol, Symbol}}:
           :id => :item_id
 :authority_id => :authority_id
      :VIAF_ID => :value

In [53]:
df_ins = select(df_cn_viaf, columns);

In [54]:
transform!(df_ins, :value => ByRow(string) => :value);

In [55]:
df_ins[303:307, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼─────────────────────────────────
   1 │  273600             4  25031999
   2 │  273636             4  62414904
   3 │  273635             4  52499206
   4 │  273630             4  40991097
   5 │  273629             4  88888825

In [56]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1643
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1643

**GND**

In [57]:
authority_id_gnd = 1 # siehe oben

1

In [58]:
df_cn_gnd = dropmissing(df_cn, :GND_ID)
df_cn_gnd[!, :authority_id] .= authority_id_gnd;

In [59]:
df_ins = select(df_cn_gnd, :id => :item_id, :authority_id, :GND_ID => :value);

In [60]:
df_ins[303:307, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼───────────────────────────────────
   1 │  273222             1  136459188
   2 │  273216             1  1070768014
   3 │  273211             1  12018544X
   4 │  273209             1  173330525
   5 │  273208             1  1070035483

In [61]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1963
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1963

**Wikidata**

In [62]:
authority_id_wd = 2 # siehe oben

2

In vielen Datensätzen ist `Wikidata_ID` befüllt mit `ergaenzen`

In [63]:
df_cn_wd = dropmissing(df_cn, :Wikidata_ID)
filter!(:Wikidata_ID => !isequal("ergaenzen"), df_cn_wd);

In [64]:
df_cn_wd[!, :authority_id] .= authority_id_wd;

In [65]:
df_ins = select(df_cn_wd, :id => :item_id, :authority_id, :Wikidata_ID => :value);

In [66]:
df_ins[300:307, :]

8×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────
   1 │  272173             2  Q1512995
   2 │  272169             2  Q56026851
   3 │  272168             2  Q23061119
   4 │  272167             2  Q55684474
   5 │  272163             2  Q19506614
   6 │  272162             2  Q23061921
   7 │  272159             2  Q53864886
   8 │  272210             2  Q1819706

In [67]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1993
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1993

**GSN**

*2022-05-12* manche Einträge sind fehlerhaft  
*2022-05-20* behoben  
*2022-06-02* neu: finde die jeweils aktuelle GSN

begin fix

In [68]:
is_incomplete(s) = !ismissing(s) && occursin(r".*-00$", s)

is_incomplete (generic function with 1 method)

In [69]:
idx_b = findall(is_incomplete, df_cn.GSN_ID)

Int64[]

In [185]:
df_cn[idx_b, [:ID_Domherr, :Vorname, :Familienname, :GSN_ID]]

0×4 DataFrame

In [44]:
fix_gsn_id(s) = ismissing(s) ? s : replace(s, r"-00$" =>"-001")

fix_gsn_id (generic function with 1 method)

In [45]:
transform!(df_cn, :GSN_ID => ByRow(fix_gsn_id) => :GSN_ID);

bereinige komplette URLs in `WIAG_ID_Bischof` (siehe oben)

In [46]:
transform!(df_cn, :WIAG_ID_Bischof => ByRow(get_WIAG_ID_Bischof) => :WIAG_ID_Bischof);

LoadError: UndefVarError: get_WIAG_ID_Bischof not defined

end fix

Ergänze auch mittelbare GSN über Verweise auf Bischöfe, d.h. Domherren verweisen auf Bischöfe, die ihrerseits auf die Personendatenbank verweisen.

In [47]:
table_name = "item";
item_type_bishop = 4;
sql = "SELECT i.id as ep, i.id_public, e1.value AS ep_gsn
FROM $(table_name) AS i
JOIN id_external AS e1 ON e1.item_id = i.id AND e1.authority_id = 200
WHERE i.item_type_id = $(item_type_bishop) AND i.is_online";
df_ep = Wds.sql_df(sql);

In [71]:
df_ep[71:75, :]

5×3 DataFrame
 Row │ ep      id_public                      ep_gsn
     │ Int32   String?                        String?
─────┼──────────────────────────────────────────────────────
   1 │ 265069  WIAG-Pers-EPISCGatz-04847-001  075-00857-001
   2 │ 265092  WIAG-Pers-EPISCGatz-05308-001  024-02496-001
   3 │ 265095  WIAG-Pers-EPISCGatz-05304-001  005-02622-001
   4 │ 265098  WIAG-Pers-EPISCGatz-05301-001  044-00720-001
   5 │ 265099  WIAG-Pers-EPISCGatz-05300-001  044-03668-001

In [72]:
df_cn[91:95, [:ID_Domherr, :Vorname, :Familienname, :GSN_ID]]

5×4 DataFrame
 Row │ ID_Domherr  Vorname                  Familienname          GSN_ID
     │ Int64       String?                  String?               String?
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      10090  Anselm Kasimir Franz     Eltz-Kempenich        missing
   2 │      10091  Johann Friedrich Arnold  Hoensbroech           029-02124-001
   3 │      10092  Lothar Ferdinand         Metternich-Müllenark  missing
   4 │      10093  Franz Arnold Bernh       Recke                 missing
   5 │      10094  Franz Bertram            Harff                 missing

In [73]:
size(df_cn, 1), count(!ismissing, df_cn.GSN_ID)

(22990, 3224)

In [48]:
df_cn_ep = leftjoin(df_cn, df_ep, on = :WIAG_ID_Bischof => :id_public, matchmissing = :notequal);

In [49]:
for row in eachrow(df_cn_ep)
    if ismissing(row[:GSN_ID]) && !ismissing(row[:ep_gsn])
        row[:GSN_ID] = row[:ep_gsn]
    end
end

In [76]:
size(df_cn_ep, 1), count(!ismissing, df_cn_ep.GSN_ID)

(22990, 3437)

In [50]:
authority_id_gsn = 200 # siehe oben

200

In [51]:
df_cn_gsn = dropmissing(df_cn_ep, :GSN_ID)
df_cn_gsn[!, :authority_id] .= authority_id_gsn;

Finde die jeweils aktuell gültige GSN

In [52]:
gso_db = "gso_in_202205"

"gso_in_202205"

In [53]:
# gsn_gsn wird erzeugt aus gsn, siehe notebook Domherr-GS
sql = "SELECT id_new AS gs_gsn_id, nummer, nummer_new
FROM $(gso_db).gsn_gsn";
df_gsn_gsn = Wds.sql_df(sql);

In [54]:
df_ins_gsn = innerjoin(df_cn_gsn, df_gsn_gsn, on = :GSN_ID => :nummer);

In [55]:
df_new_gsn = subset(df_ins_gsn, [:nummer_new, :GSN_ID] => ByRow(!isequal));

In [56]:
size(df_new_gsn)

(59, 56)

In [99]:
df_new_gsn[36:40, [:id, :ID_Domherr, :Vorname, :Familienname, :GSN_ID, :nummer_new]]

5×6 DataFrame
 Row │ id      ID_Domherr  Vorname                Familienname                 GSN_ID         nummer_new
     │ Int32   Int64       String?                String?                      String         String
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │ 275335       15744  Franz Georg            Schönborn                    062-00326-001  082-00917-001
   2 │ 277346       17753  Franz Georg            Schönborn                    062-00326-001  082-00917-001
   3 │ 276596       17003  Damian Wilhelm Kaspar  Forstmeister von Gelnhausen  064-00715-001  080-01208-001
   4 │ 277006       17373  Johann Georg           Stingelheim                  076-01535-001  077-00428-001
   5 │ 270431       10430  Johann                 Heppenheim genannt Saal      068-01770-001  036-02303-001

Ausgabe für die Redaktion

In [57]:
columns = [
    :id => :id,
    :is_online => :is_online,
    :ID_Domherr => :ID_Domherr,
    :Vorname => :Vorname,
    :Familienname => :Familienname,
    :GSN_ID => :GSN_ID,
    :nummer_new => :GSN_ID_neu,
]

7-element Vector{Pair{Symbol, Symbol}}:
           :id => :id
    :is_online => :is_online
   :ID_Domherr => :ID_Domherr
      :Vorname => :Vorname
 :Familienname => :Familienname
       :GSN_ID => :GSN_ID
   :nummer_new => :GSN_ID_neu

In [58]:
out_path = "C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data";
filename = joinpath(out_path, "domherren_gsn_neu_2022-06-03.csv");
CSV.write(filename, select(df_new_gsn, columns), delim = ";")

"C:\\Users\\georg\\Documents\\projekte-doc\\WIAGweb2\\data\\domherren_gsn_neu_2022-06-03.csv"

In [84]:
df_ins = select(df_ins_gsn, :id => :item_id, :authority_id, :nummer_new => :value);

In [85]:
df_ins[321:325, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         String
─────┼──────────────────────────────────────
   1 │  283796           200  016-03676-001
   2 │  283878           200  016-03682-001
   3 │  283830           200  016-03709-001
   4 │  284718           200  016-03769-001
   5 │  283795           200  016-03781-001

In [86]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 3430
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

3430

**WIAG-ID**

In [87]:
authority_id_wiag = 5 # siehe oben

5

In [88]:
df_cn_wiag = dropmissing(df_cn, :WIAG_ID_Bischof)
df_cn_wiag[!, :authority_id] .= authority_id_wiag;

In [89]:
df_ins = select(df_cn_wiag, :id => :item_id, :authority_id, :WIAG_ID_Bischof => :value);

In [90]:
size(df_ins)

(836, 3)

In [91]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 836
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

836

**Wikipedia**

In [92]:
authority_id_wp = 3 # siehe oben

3

In [93]:
df_cn_wp = dropmissing(df_cn, :URL_Wikipedia)
df_cn_wp[!, :authority_id] .= authority_id_wp;

In [94]:
df_ins = select(df_cn_wp, :id => :item_id, :authority_id, :URL_Wikipedia => :value);

Die Wikipedia-URLs sind teilweise mit '#' versehen und doppelt  
#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#

In [209]:
url_m = "#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#https://de.wikipedia.org/wiki/Ruprecht_von_der_Pfalz_%28Freising%29#"
Wds.fix_Wikipedia_URL(url_m)

"Ruprecht_von_der_Pfalz_%28Freising%29"

In [95]:
transform!(df_ins, :value => ByRow(Wds.fix_Wikipedia_URL) => :value);

In [96]:
df_ins[300:304, :]

5×3 DataFrame
 Row │ item_id  authority_id  value
     │ Int32    Int64         SubStrin…
─────┼──────────────────────────────────────────────────────────
   1 │  273579             3  Heinrich_Karl_von_Schreckenstein
   2 │  273578             3  Sigmund_Christoph_von_Waldburg_z…
   3 │  273575             3  Johann_Friedrich_von_Waldstein-W…
   4 │  273569             3  Johann_Nepomuk_von_Roll_zu_Bernau
   5 │  273566             3  Ignaz_Heinrich_von_Wessenberg

*debug begin*

In [57]:
using CSV

In [58]:
file_wp = "C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

In [59]:
CSV.write(file_wp, df_ins)

"C:\\Users\\georg\\Documents\\tmp\\bishops_url_wikidata.csv"

*debug end*

In [97]:
Wds.filltable!("id_external", df_ins)

┌ Info: Rows inserted: 1558
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1216

1558

### Namensvarianten eintragen

In [7]:
using MySQL, DataFrames

In [213]:
# Quelle CSV-Datei
filename = joinpath(data_path, "tbl_domherren.csv");
df_cn = CSV.read(filename, DataFrame);

In [ ]:
# Quelle Datenbank
table_name = "domherr.tbl_domherren"
sql = "SELECT ID_Domherr, Vorname, Familienname, Vorname_Variante, Familienname_Variante " *
"FROM $(table_name)"
df_cn = Wds.sql_df(sql);

In [214]:
Wds.clean_up!(df_cn)

In [215]:
df_fnv = dropmissing(df_cn, :Familienname_Variante);

In [216]:
size(df_fnv, 1)

1280

In [217]:
df_fnv[201:207, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix       Vorname    Familienname  Sterbedatum  Geburtsda ⋯
     │ Int64       String?         String?       Int64   String?       String?    String?       String?      String?   ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13608  missing         41                29  von           Everwin    Adenoys       missing      missing   ⋯
   2 │      13609  missing         41                29  von           Friedrich  Adenoys       missing      missing
   3 │      13618  missing         43                29  vom           Heinrich   Altenmarkte   missing      missing
   4 │      13619  missing         43                29  vom           Lippold    Altenmarkte   missing      missing
   5 │      13639  missing         46                29  von           Heinrich   Berge         1266         missing   ⋯
   6 │      13640  missing         46                29  von           Gerhard    Berge         1398         missing
   7 │      13641  missing         46                29  Edelherr vom  Otto III.  Berge         1398         missing
                                                                                                      40 columns omitted

In [218]:
df_exp = Wds.expand_column(df_fnv, :Familienname_Variante, delim = ",");

In [219]:
size(df_exp, 1)

1552

In [220]:
df_exp[151:157, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname    Familienname  Sterbedatum  Geburtsdatum   ⋯
     │ Int64       String?         String?       Int64   String?  String?    String?       String?      String?        ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13166  missing         391               24  missing  Bertholin  Canali        missing      missing        ⋯
   2 │      13178  missing         391 f.            24  missing  Nikolaus   Capociae      missing      missing
   3 │      13181  missing         349f.             24  missing  Johann     Button        1351         missing
   4 │      13185  missing         436               24  von      Albrecht   Sachsen       1342         missing
   5 │      13191  missing         373               24  von      Johann     Göttingen     1349         missing        ⋯
   6 │      13191  missing         373               24  von      Johann     Göttingen     1349         missing
   7 │      13193  missing         390               24  von      Giso       Yaza          missing      missing
                                                                                                      39 columns omitted

In [221]:
transform!(df_exp, :ID_Domherr => ByRow(string) => :id_in_source);

In [222]:
df_ins = innerjoin(df_idx, df_exp, on = :id_in_source);

In [223]:
size(df_ins, 1)

1552

Spalte `lang` hat den Default-Wert 'de'.

In [224]:
table_name = "familyname_variant"
Wds.filltable!(table_name, select(df_ins, :id => :person_id, :Familienname_Variante => :name))

┌ Info: Rows inserted: 1552
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

1552

In [225]:
df_gnv = dropmissing(df_cn, :Vorname_Variante);

In [226]:
size(df_gnv, 1)

895

In [227]:
df_gnv[201:207, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle        Quelle  Praefix  Vorname                Familienname      Sterb ⋯
     │ Int64       String?         String?             Int64   String?  String?                String?           Strin ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      15473  missing         101, 137                 6  von      Klemens August Joseph  Ascheberg         missi ⋯
   2 │      15477  missing         101                      6  missing  Karl Daniel Philipp    Boos von Waldeck  missi
   3 │      15479  missing         102, 144                 6  von      Franz Coelestin        Beroldingen       1798
   4 │      15485  missing         102, 205                 6  von      Anton Adolf Ludwig     Dalwigk           missi
   5 │      15507  missing         102, 144, 150            6  von      Klemens August         Schorlemmer       missi ⋯
   6 │      15523  missing         102, 138                 6  von      Klemens August         Loe               missi
   7 │      15557  missing         106, 119, 172, 182       6  von      Franz                  Lothringen        1661
                                                                                                      41 columns omitted

In [228]:
df_exp = Wds.expand_column(df_gnv, :Vorname_Variante, delim = r", *");

In [229]:
size(df_exp, 1)

1047

In [230]:
df_exp[151:157, :]

7×48 DataFrame
 Row │ ID_Domherr  Eintrag_Quelle  Seite_Quelle  Quelle  Praefix  Vorname      Familienname           Sterbedatum  Geb ⋯
     │ Int64       String?         String?       Int64   String?  String?      String?                String?      Str ⋯
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │      13239  missing         361               24  missing  Johann       Schenk von Erbach      1383         130 ⋯
   2 │      13248  missing         463 f.            24  von      Gerhard      Vivario                vor 1364     mis
   3 │      13252  missing         391               24  de       Raimund      Canilhac               1373         mis
   4 │      13266  missing         457               24  von      Ulrich       Stein-Steinkallenfels  missing      mis
   5 │      13269  missing         336               24  missing  Reinbold     Beyer von Boppard      1364         mis ⋯
   6 │      13289  missing         458               24  von      Hofwart      Sternenfels            missing      mis
   7 │      13301  missing         347 f.            24  von      Kuno Herdan  Büches                 1426         mis
                                                                                                      40 columns omitted

In [231]:
transform!(df_exp, :ID_Domherr => ByRow(string) => :id_in_source);

In [232]:
df_ins = innerjoin(df_idx, df_exp, on = :id_in_source);

In [233]:
size(df_ins, 1)

1047

Spalte `lang` hat den Default-Wert 'de'.

In [234]:
table_dst = "givenname_variant"
Wds.filltable!(table_dst, select(df_ins, :id => :person_id, :Vorname_Variante => :name))

┌ Info: Rows inserted: 1047
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

1047

### Suchvarianten eintragen (name_lookup)

Test

In [365]:
Wds.makevariantsgn("Klaus Walter", "von der", "Vogelweide", "Vollmer, Liber")

6-element Vector{Vector{Union{Missing, String}}}:
 ["Klaus Walter", "von der", "Vogelweide", "Klaus Walter Vogelweide", "Klaus Walter von der Vogelweide"]
 ["Klaus", "von der", "Vogelweide", "Klaus Vogelweide", "Klaus von der Vogelweide"]
 ["Klaus Walter", "von der", "Vollmer", "Klaus Walter Vollmer", "Klaus Walter von der Vollmer"]
 ["Klaus", "von der", "Vollmer", "Klaus Vollmer", "Klaus von der Vollmer"]
 ["Klaus Walter", "von der", "Liber", "Klaus Walter Liber", "Klaus Walter von der Liber"]
 ["Klaus", "von der", "Liber", "Klaus Liber", "Klaus von der Liber"]

In [366]:
df_src = DataFrame(
    id = [1077, 31, 32, 33, 34, 35, 36],
    givenname = ["Dietricus", "Albert", "Hans Otto", "Wilhelm", "Kurt Georg", "Otto", "Otto"],
    prefix_name = [missing, "von", "zu", "von", missing, "auf der", missing],
    familyname = [missing, "Häusler", "Oberhof", "Berg", missing, "Scholle", "Weiß"],
    givenname_variant = [missing, missing, "Johann Otto", "Guido, Guillaume", "Konrad", missing, "Odilon"],
    familyname_variant = [missing, "Hauser, Schad", missing, "Berge", missing, missing, "Blanc"]
    )

7×6 DataFrame
 Row │ id     givenname   prefix_name  familyname  givenname_variant  familyname_variant
     │ Int64  String      String?      String?     String?            String?
─────┼───────────────────────────────────────────────────────────────────────────────────
   1 │  1077  Dietricus   missing      missing     missing            missing
   2 │    31  Albert      von          Häusler     missing            Hauser, Schad
   3 │    32  Hans Otto   zu           Oberhof     Johann Otto        missing
   4 │    33  Wilhelm     von          Berg        Guido, Guillaume   Berge
   5 │    34  Kurt Georg  missing      missing     Konrad             missing
   6 │    35  Otto        auf der      Scholle     missing            missing
   7 │    36  Otto        missing      Weiß        Odilon             Blanc

In [268]:
df_nl = Wds.create_name_lookup(df_src) # schaut gut aus

22×3 DataFrame
 Row │ person_id  gn_fn                gn_prefix_fn
     │ Int64      String?              String?
─────┼────────────────────────────────────────────────────────
   1 │      1077  Dietricus            missing
   2 │        31  Albert Häusler       Albert von Häusler
   3 │        31  Albert Hauser        Albert von Hauser
   4 │        31  Albert Schad         Albert von Schad
   5 │        32  Hans Otto Oberhof    Hans Otto zu Oberhof
   6 │        32  Hans Oberhof         Hans zu Oberhof
   7 │        32  Johann Otto Oberhof  Johann Otto zu Oberhof
   8 │        32  Johann Oberhof       Johann zu Oberhof
   9 │        33  Wilhelm Berg         Wilhelm von Berg
  10 │        33  Wilhelm Berge        Wilhelm von Berge
  11 │        33  Guido Berg           Guido von Berg
  12 │        33  Guido Berge          Guido von Berge
  13 │        33  Guillaume Berg       Guillaume von Berg
  14 │        33  Guillaume Berge      Guillaume von Berge
  15 │        34  Kurt Georg           missing
  16 │        34  Kurt                 missing
  17 │        34  Konrad               missing
  18 │        35  Otto Scholle         Otto auf der Scholle
  19 │        36  Otto Weiß            missing
  20 │        36  Otto Blanc           missing
  21 │        36  Odilon Weiß          missing
  22 │        36  Odilon Blanc         missing

ID auslesen

In [235]:
table_name = "item"
sql = "SELECT id, id_in_source FROM $(table_name) where item_type_id = ($item_type_id)"
df_idx = Wds.sql_df(sql);

In [236]:
filename = joinpath(data_path, "tbl_domherren.csv")
df_src = CSV.read(filename, DataFrame);

In [237]:
Wds.clean_up!(df_src);

In [238]:
columns = [
    :ID_Domherr => :ID_Domherr,
    :Vorname => :givenname,
    :Praefix => :prefix_name,
    :Familienname => :familyname,
    :Vorname_Variante => :givenname_variant,
    :Familienname_Variante => :familyname_variant
]

6-element Vector{Pair{Symbol, Symbol}}:
            :ID_Domherr => :ID_Domherr
               :Vorname => :givenname
               :Praefix => :prefix_name
          :Familienname => :familyname
      :Vorname_Variante => :givenname_variant
 :Familienname_Variante => :familyname_variant

In [239]:
select!(df_src, columns);

In [ ]:
Alternativ: Daten aus der Datenbank auslesen, wenn sie sich von Access aus dahin exportieren lassen.

In [ ]:
table_src = "domherr.tbl_domherren"
sql = "SELECT ID_Domherr, " *
"Vorname AS givenname, " *
"Praefix AS prefix_name, " *
"Familienname AS familyname," * 
"Vorname_Variante AS givenname_variant, " * 
"Familienname_Variante AS familyname_variant " *
"FROM $(table_src)"
df_src = Wds.sql_df(sql);

In [379]:
Wds.clean_up!(df_src)

In [240]:
one_not_missing(x, y) = !(ismissing(x) && ismissing(y))

one_not_missing (generic function with 1 method)

In [241]:
filter!([:givenname, :familyname] => one_not_missing, df_src);

In [242]:
transform!(df_src, :ID_Domherr => ByRow(string) => :id_in_source);

In [243]:
size(df_src)

(22938, 7)

In [244]:
names(df_src)

7-element Vector{String}:
 "ID_Domherr"
 "givenname"
 "prefix_name"
 "familyname"
 "givenname_variant"
 "familyname_variant"
 "id_in_source"

In [245]:
df_idx[101:105, :]

5×2 DataFrame
 Row │ id      id_in_source
     │ Int32   String?
─────┼──────────────────────
   1 │ 270091  10109
   2 │ 270092  10108
   3 │ 270093  10107
   4 │ 270094  10106
   5 │ 270095  10105

In [246]:
df_nl_in = innerjoin(df_idx, df_src, on = :id_in_source);

In [247]:
size(df_nl_in)

(22938, 8)

In [248]:
df_nl = Wds.create_name_lookup(df_nl_in);

In [249]:
size(df_nl)

(32993, 3)

In [250]:
df_nl_empty = filter(:gn_fn => ismissing, df_nl);

In [251]:
size(df_nl_empty)

(0, 3)

In [252]:
df_nl[2301:2312, :]

12×3 DataFrame
 Row │ person_id  gn_fn                              gn_prefix_fn
     │ Int64      String?                            String?
─────┼─────────────────────────────────────────────────────────────────────────────────
   1 │    271027  Johann Friedrich Joseph Weichs-R…  Johann Friedrich Joseph von Weic…
   2 │    271027  Johann Weichs-Roesberg             Johann von Weichs-Roesberg
   3 │    271028  Johann Bernhard Joseph Weichs-Ro…  Johann Bernhard Joseph von Weich…
   4 │    271028  Johann Weichs-Roesberg             Johann von Weichs-Roesberg
   5 │    271028  Johann Bernhard Joseph von Weich…  missing
   6 │    271028  Johann von Weichs-Koertlinghausen  missing
   7 │    271029  Wilhelm Joseph Weichs-Koertlingh…  Wilhelm Joseph von Weichs-Koertl…
   8 │    271029  Wilhelm Weichs-Koertlinghausen     Wilhelm von Weichs-Koertlinghaus…
   9 │    271030  Matthias Burchard Weichs-Koertli…  Matthias Burchard von Weichs-Koe…
  10 │    271030  Matthias Weichs-Koertlinghausen    Matthias von Weichs-Koertlinghau…
  11 │    271031  Franz Karl Waldbott-Bassenheim     Franz Karl von Waldbott-Bassenhe…
  12 │    271031  Franz Waldbott-Bassenheim          Franz von Waldbott-Bassenheim

Entferne Einträge für diese Art von Items

In [253]:
table_name = "name_lookup"
sql = "DELETE FROM $(table_name) 
WHERE person_id IN (SELECT id FROM item WHERE item_type_id = $(item_type_id))";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM name_lookup \nWHERE person_id IN (SELECT id FROM item WHERE item_type_id = 5)", 0, -1, 0, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)

In [254]:
table_name = "name_lookup"
Wds.filltable!(table_name, df_nl)

┌ Info: 10000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: 20000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: 30000
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1186
┌ Info: Rows inserted: 32993
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1209

32993

### `canon_lookup_line`
*2022-02-07* Obsolet: Siehe Domherren GS: dort werden alle Verweise angelegt.

Verweise auf sich selbst

In [195]:
table_name = "item";
item_type_dh = 5;
sql = "SELECT id as person_id, id as person_id_canon 
FROM $(table_name) WHERE item_type_id = $(item_type_dh) AND is_online";
df_item_cn_dh = Wds.sql_df(sql);

In [196]:
size(df_item_cn_dh)

(2587, 2)

In [197]:
table_name = "canon_lookup";
Wds.filltable!(table_name, df_item_cn_dh);

┌ Info: Rows inserted: 2587
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

Verweise auf Bischöfe

In [208]:
sql = "SELECT p.id as person_id, givenname, familyname, e.value AS id_external, i.item_type_id
FROM person AS p
JOIN item AS i ON p.id = i.id
JOIN id_external AS e ON i.id = e.item_id
JOIN authority AS a ON e.authority_id = a.id
WHERE a.id = 5
AND i.is_online";
df_cn_episc = Wds.sql_df(sql);

In [209]:
size(df_cn_episc)

(164, 5)

In [210]:
names(df_cn_episc)

5-element Vector{String}:
 "person_id"
 "givenname"
 "familyname"
 "id_external"
 "item_type_id"

`item_id` für WIAG_ID finden

In [211]:
table_name = "item";
type_id_episc = 4;
sql = "SELECT id as id_ep, id_public FROM $(table_name) WHERE item_type_id = $(type_id_episc)";
df_item_episc = Wds.sql_df(sql);

In [212]:
df_cn_episc = innerjoin(df_cn_episc, df_item_episc, on = :id_external => :id_public);

In [213]:
size(df_cn_episc)

(163, 6)

In [202]:
names(df_cn_episc)

6-element Vector{String}:
 "person_id"
 "givenname"
 "familyname"
 "id_external"
 "item_type_id"
 "id_ep"

In [214]:
columns = [
    :person_id => :person_id,
    :id_ep => :person_id_canon
]

2-element Vector{Pair{Symbol, Symbol}}:
 :person_id => :person_id
     :id_ep => :person_id_canon

In [215]:
table_name = "canon_lookup"
Wds.filltable!(table_name, select(df_cn_episc, columns))

┌ Info: Rows inserted: 163
└ @ WiagDataSetup C:\Users\georg\Documents\projekte\WiagDataSetup.jl\src\WiagDataSetup.jl:1208

163

Überflüssige Verweise bereinigen

In [216]:
id_src = "(" * join(df_cn_episc.person_id, ",") * ")";

In [217]:
sql = "DELETE FROM canon_lookup 
WHERE person_id = person_id_canon 
AND person_id in $(id_src)";
DBInterface.execute(Wds.dbwiag, sql)

MySQL.TextCursor{true}(MySQL.Connection(host="127.0.0.1", user="georg", port="3306", db="wiag2"), "DELETE FROM canon_lookup \nWHERE person_id = person_id_canon \nAND person_id in (125502,126086,125984,134479,126004,134480,126007,126009,132577,126034,125943,132668,131042,125532,131056,126083,125936,131012,125527,125525,131071,132499,131830,126032,125820,125816,125797,125796,126087,131068,132686,125835,131036,131029,131608,131567,130950,130997,130947,130957,130982,131005,130986,130981,132678,130940,132227,131373,131045,131220,131014,125478,132788,132313,132779,132153,131904,131225,125983,132206,132502,132683,125536,125469,125474,125632,125556,125470,132687,125974,134483,131241,131410,131319,131356,131083,132145,131732,131571,131221,131341,132306,131227,123910,123912,125937,125639,125287,131761,134614,131692,125827,125828,132067,125798,123644,123590,127932,129175,129435,125290,131249,125733,125779,123732,123676,127664,126006,132550,132644,127547,123656,123658,123662,123585,123622,131722,131727,126322,132033,131464,131986,132771,131846,131857,131859,125774,132548,131832,125758,131248,132501,131797,131725,133190,133879,131785,132705,125644,132045,134568,131459,131915,134572,134593,131932,125869,125815,134596,134584,132521,123707,123589,123757,123758,123762,123765,123721,123715,131687,125991,134683,134513)", 0, -1, 163, MySQL.API.MYSQL_RES(Ptr{Nothing} @0x0000000000000000), Symbol[], Type[], Dict{Symbol, Int64}(), 0, 1, false)